{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
{% load widget_tweaks %}


            <!-- Main Content -->
            <div class="container-fluid">
                <div class="side-body padding-top">                
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card" id="chat">
                                <div class="card-header chat-card">
                                    <div class="card-title">
                                        <div class="title chat-title-box">Notifications</div>
                                    </div>

                                </div>
                                <div class="card-body no-padding" id="chat-body">
                                    <ul class="message-list">



                                           	{% for notification in user.notifications.all %}
					                                {% if notification.not_type == "post" %}
					                                        {% if notification.seen %}
                                                            <a href="{{ notification.url}}">
                                                                <li>
                                                                    <img src="{% static "img/alarm.png" %}" class="profile-img pull-left">
                                                                    <div class="message-block me-chat">

                                                                        <div >New post in your area</div>
                                                                    </div>
                                                                </li>
                                                            </a>

                                                            {% else %}


                                                            <a href="{{ notification.url}}">
                                                                <li>
                                                                    <img src="{% static "img/alarm.png" %}" class="profile-img pull-left">
                                                                    <div class="message-block me-chat">

                                                                        <div >New post in your area</div>
                                                                    </div>
                                                                </li>
                                                            </a>
                                                            {% endif %}

                                                    {% elif notification.not_type == "bid" %}
                                                             {% if notification.seen %}

                                                                            <a href="{{ notification.url}}">
                                                                                <li>
                                                                                    <img src="{% static "img/money.png" %}" class="profile-img pull-left">
                                                                                    <div class="message-block me-chat">

                                                                                        <div >Someone bid on your post</div>
                                                                                    </div>
                                                                                </li>
                                                                             </a>
                                                             {% else %}
                                                                                <a href="{{ notification.url}}">
                                                                                <li>
                                                                                    <img src="{% static "img/money.png" %}" class="profile-img pull-left">
                                                                                    <div class="message-block me-chat">

                                                                                        <div >Someone bid on your post</div>
                                                                                    </div>
                                                                                </li>
                                                                             </a>

                                                              {% endif %}
					                                 {% endif %}
					                        {% endfor %}



                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        <footer class="app-footer">
            <div class="wrapper">
                <span class="pull-right"><i class="fa fa-long-arrow-up" id="arrow"></i></span>SpartanTasks @ 2016 Copyright.
            </div>
        </footer>
        <div>
            <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.0.0.min.js">
            </script>
            <script>
                $("#arrow").click(function() {
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
                });

                $('.other-bids').hide();
                $('#show-bidding-field').on('click', function(){
                  $('.other-bids').toggle();
                });

                $('#bidding-place').click(function(){
                    alert('The value must be in Dollars($).')
                });
            </script>
            <!-- Javascript Libs -->

            {% endblock %}