{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
{% load widget_tweaks %}
            <!-- Main Content -->
            <div class="container-fluid">
                <div class="side-body padding-top">                
                    <br>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">
                                        <div class="title">Create Post</div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <form method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Post Title</label>
                                            {{ form.title|add_class:"form-control "|attr:"placeholder:Enter a title"|attr:"required:required"}}

                                            {% if form.title.errors %}
                                                        <div class="alert alert-danger fade in" id="input-alert">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for error in form.title.errors %}
				                                                {{ error }}
				                                        {% endfor %}
                                                            </div>
                                             {% endif %}
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Post Description</label>
                                            <div>

                                                 {{ form.description|add_class:"form-control "|attr:"placeholder:Enter a description"|attr:"required:required"}}

                                                {% if form.description.errors %}
                                                        <div class="alert alert-danger fade in" id="input-alert">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for error in form.description.errors %}
				                                                {{ error }}
				                                        {% endfor %}
                                                            </div>
                                             {% endif %}
                                            </div>
                                        </div>

                                        <div class="form-group">    
                                            <label for="exampleInputEmail">Date</label>
                                            <div class="input-group">

                                                {{ form.data|add_class:"form-control "|attr:"required:required"|add_class:"form-control datepicker"|attr:"placeholder:Pick up a date"}}

                                                {% if form.data.errors %}
                                                        <div class="alert alert-danger fade in" id="input-alert">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for error in form.data.errors %}
				                                                {{ error }}
				                                        {% endfor %}
                                                            </div>
                                             {% endif %}
                                                <span class="input-group-addon" id="basic-addon1">
                                                    <i class="glyphicon glyphicon-calendar" data-time-icon="icon-time" data-date-icon="icon-calendar">
                                                    </i>
                                                </span>
                                            </div>
                                        </div>


                                <div class="form-group">
                                    <label for="exampleInputFile">Time</label>

                                    {{ form.timePost|attr:"required:required"|attr:"placeholder:Enter a time"|add_class:"time_element form-control"}}

                                     {% if form.timePost.errors %}
                                                        <div class="alert alert-danger fade in" id="input-alert">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for error in form.timep.errors %}
				                                                {{ error }}
				                                        {% endfor %}
                                                            </div>
                                             {% endif %}

                                </div>

                                        <div class="form-grpup">
                                            <label for="exampleInputEmail">Address</label>
                                            <div id="location-TYPE" class="form-group">

                                                 {{ form.address|add_class:"form-control "|attr:"required:required"|attr:"placeholder:Please enter the following: Street Name, Number"|attr:"id:us6-address"}}

                                            </div>
                                            <div class="location-picker-by-map" id="us6" style="width: 500px; height: 400px;"></div>
                                            <script>
                                                $('#us6').locationpicker({
                                                    location: {latitude: 45.760696, longitude: 21.226788},
                                                    radius: 300,
                                                    inputBinding: {
                                                        locationNameInput: $('#us6-address')
                                                    },
                                                    enableAutocomplete: true
                                                });
                                                $('#us6-dialog').on('shown.bs.modal', function () {
                                                    $('#us6').locationpicker('autosize');
                                                });

                                            </script>

                                        </div>

                                        <div >
                                            <label for="exampleInputPassword1">City</label>
                                            <div>

                                                 {{ form.city|add_class:"form-control "|attr:"required:required"}}

                                                {% if form.city.errors %}
                                                        <div class="alert alert-danger fade in" id="input-alert">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for error in form.city.errors %}
				                                                {{ error }}
				                                        {% endfor %}
                                                            </div>
                                             {% endif %}
                                            </div>
                                        </div>

                                         <div>
                                            <label for="exampleInputPassword1">Country</label>
                                            <div>

                                                 {{ form.country|add_class:"form-control "|attr:"required:required"}}

                                                {% if form.country.errors %}
                                                        <div class="alert alert-danger fade in" id="input-alert">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for error in form.country.errors %}
				                                                {{ error }}
				                                        {% endfor %}
                                                            </div>
                                             {% endif %}
                                            </div>
                                        </div>

                                         <div class="form-group">
                                            <label for="exampleInputPassword1">Highest price you are willing to pay (EUR)</label>
                                            <div>

                                                 {{ form.money|add_class:"form-control "|attr:"required:required"|attr:"placeholder:Enter Highest price you are willing to pay (EUR)"}}

                                                {% if form.money.errors %}
                                                        <div class="alert alert-danger fade in" id="input-alert">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for error in form.money.errors %}
				                                                {{ error }}
				                                        {% endfor %}
                                                            </div>
                                             {% endif %}
                                            </div>
                                        </div>

                                        <div >
                                            <label for="exampleInputPassword1">Category</label>
                                            <div>

                                                 {{ form.category|add_class:"form-control "|attr:"required:required"}}

                                                {% if form.description.errors %}
                                                        <div class="alert alert-danger fade in" id="input-alert">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for error in form.description.errors %}
				                                                {{ error }}
				                                        {% endfor %}
                                                            </div>
                                             {% endif %}
                                            </div>
                                        </div>

                                            <div class="form-group">
                                            <br>
                                            <label for="exampleInputFile">Choose some reprezentative pictures<span style="color:red;">*</span></label>

                                                 {{ form.image|add_class:"form-control "|attr:"required:required"}}
                                                {% if form.image.errors %}
                                                        <div class="alert alert-danger fade in" id="input-alert">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for error in form.image.errors %}
				                                                {{ error }}
				                                        {% endfor %}
                                                            </div>
                                             {% endif %}
                                                 {{ form.image2|add_class:"form-control "|attr:"required:required"}}
                                                {% if form.image2.errors %}
                                                        <div class="alert alert-danger fade in" id="input-alert">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for error in form.image2.errors %}
				                                                {{ error }}
				                                        {% endfor %}
                                                            </div>
                                             {% endif %}
                                                 {{ form.image3|add_class:"form-control "|attr:"required:required"}}
                                                {% if form.image3.errors %}
                                                        <div class="alert alert-danger fade in" id="input-alert">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for error in form.image3.errors %}
				                                                {{ error }}
				                                        {% endfor %}
                                                            </div>
                                             {% endif %}
                                                 {{ form.image4|add_class:"form-control "|attr:"required:required"}}
                                                {% if form.image4.errors %}
                                                        <div class="alert alert-danger fade in" id="input-alert">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for error in form.image4.errors %}
				                                                {{ error }}
				                                        {% endfor %}
                                                            </div>
                                             {% endif %}

                                            </div>

                                        <!--<div class="form-group">-->
                                            <!--<br>-->
                                            <!--<label for="exampleInputFile">Choose some reprezentative pictures<span style="color:red;">*</span></label>-->
                                            <!--<table>-->
                                                <!--<tr>-->
                                                    <!--<td>-->
                                                        <!--<img id="uploadPreview1" src="{% static "img/no_image.jpg" %}"style="height: 100px; width: 100px;"/><br />-->
                                                        <!--{{ form.image|attr:"required:required"|attr:"id:uploadImage1"|attr:"name:p1"|attr:"onchange:PreviewImage(1);"}}-->
                                                    <!--</td>-->
                                                    <!--<td>-->
                                                        <!--<img id="uploadPreview2" src="{% static "img/no_image.jpg" %}"style="height: 100px; width: 100px;"/><br />-->
                                                        <!--{{ form.image2|attr:"id:uploadImage2"|attr:"name:p2"|attr:"onchange:PreviewImage(2);"|attr:"required:required"}}-->
<!---->
                                                    <!--</td>-->
                                                    <!--<td>-->
                                                        <!--<img id="uploadPreview3" src="{% static "img/no_image.jpg" %}"style="height: 100px; width: 100px;"/><br />-->
                                                        <!--{{ form.image3|attr:"required:required"|attr:"id:uploadImage3"|attr:"name:p3"|attr:"onchange:PreviewImage(3);"}}-->
                                                    <!--</td>-->
                                                    <!--<td>-->
                                                        <!--<img id="uploadPreview4" src="{% static "img/no_image.jpg" %}"style="height: 100px; width: 100px;"/><br />-->
                                                        <!--{{ form.image4|attr:"required:required"|attr:"id:uploadImage4"|attr:"name:p4"|attr:"onchange:PreviewImage(4);"}}-->
                                                    <!--</td>   -->
                                                <!--</tr>-->
                                                <!--</table>-->
                                                        <!---->
                                                <!--<script type="text/javascript">-->
                                                    <!--function PreviewImage(no) {-->
                                                        <!--var oFReader = new FileReader();-->
                                                        <!--oFReader.readAsDataURL(document.getElementById("uploadImage"+no).files[0]);-->
<!---->
                                                        <!--oFReader.onload = function (oFREvent) {-->
                                                            <!--document.getElementById("uploadPreview"+no).src = oFREvent.target.result;-->
                                                        <!--};-->
                                                    <!--}-->
                                                <!--</script>-->
                                        <!--</div>-->

                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        <footer class="app-footer">
            <div class="wrapper">
                <span class="pull-right"><i class="fa fa-long-arrow-up" id="arrow"></i></span>SpartanTasks @ 2016 Copyright.
            </div>
        </footer>
        <div>
            <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.0.0.min.js">
            </script>
            <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
            <script>
                $("#arrow").click(function() {
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
                });

                $('.other-bids').hide();
                $('#show-bidding-field').on('click', function(){
                  $('.other-bids').toggle();
                });

                $('#bidding-place').click(function(){
                    alert('The value must be in Dollars($).')
                });
            </script>

              <script>
                  $(document).ready(function(){
                   $(".time_element").timepicki();
                   });
              </script>


{% endblock %}
