{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
{% load widget_tweaks %}
<!-- Main Content -->
            <div class="container-fluid">
                <div class="side-body padding-top">                
                    <br>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">
                                        <div class="title">Edit task</div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <form method="POST" enctype="multipart/form-data">
                                         {% csrf_token %}
                                         {% if confirm %}
				                           <div  class="alert alert-danger fade in" id="input-alert">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong >
                                                            {% for message in confirm %}
				                                                {{ message }}
				                                        {% endfor %} !
                                                        </strong>

                                                            </div>
                                         {% endif %}

                                        {% for field in form %}

                                         {% if field.label == 'Title' %}

                                            {{ field.label }}
                                         {{ field|add_class:"form-control "|attr:"placeholder:Enter a title"|attr:"required:required"}}
                                           {% if field.errors %}
                                                        <div class="alert alert-danger fade in" id="input-alert">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for error in field.errors %}
				                                                {{ error }}
				                                        {% endfor %}
                                                            </div>
                                                            {% endif %}



                                        {% elif field.label == 'Task description' %}

                                        {{ field.label }}

                                         {{ field|add_class:"form-control "|attr:"placeholder:Enter a description"|attr:"required:required"}}
                                           {% if field.errors %}
                                                        <div class="alert alert-danger fade in" id="input-alert">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for error in field.errors %}
				                                                {{ error }}
				                                        {% endfor %}
                                                            </div>
                                                            {% endif %}

                                        {% endif %}


                                        {% if field.label == 'Address' %}
                                        {{ field.label }}

                                         {{ field|add_class:"form-control "|attr:"placeholder:Enter a address"|attr:"required:required"}}
                                           {% if field.errors %}
                                                        <div class="alert alert-danger fade in" id="input-alert">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for error in field.errors %}
				                                                {{ error }}
				                                        {% endfor %}
                                                            </div>
                                                            {% endif %}



                                        {% endif %}

                                        {% if field.label == 'Country' or field.label == 'City'  %}
                                        {{ field.label }}

                                         {{ field|add_class:"form-control "|attr:"required:required"}}
                                           {% if field.errors %}
                                                        <div class="alert alert-danger fade in" id="input-alert">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for error in field.errors %}
				                                                {{ error }}
				                                        {% endfor %}
                                                            </div>
                                                            {% endif %}



                                        {% endif %}



                                        {% if field.label == 'Date FORMAT YYYY-MM-DD'  %}




                                        <div class="form-group">    
                                            <label for="exampleInputEmail">Date</label>
                                            <div class="input-group">
                                                {{ field|add_class:"form-control "|attr:"required:required"|add_class:"form-control datepicker"|attr:"placeholder:Enter a date"}}
                                                <span class="input-group-addon" id="basic-addon1">
                                                    <i class="glyphicon glyphicon-calendar" data-time-icon="icon-time" data-date-icon="icon-calendar">
                                                    </i>
                                                </span>
                                            </div>
                                        </div>

                                        {% if field.errors %}
                                                        <div class="alert alert-danger fade in" id="input-alert">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for error in field.errors %}
				                                                {{ error }}
				                                        {% endfor %}
                                                            </div>
                                                            {% endif %}
                                        {% endif %}




                                        {% if field.label == 'Time FORMAT HH:MM:SS'  %}



                                <div class="form-group">
                                    <label for="exampleInputFile">Time</label>

                                    {{ form.timePost|attr:"required:required"|attr:"placeholder:Enter a time"|add_class:"time_element form-control"}}

                                     {% if form.timePost.errors %}
                                                        <div class="alert alert-danger fade in" id="input-alert">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for error in form.timep.errors %}
				                                                {{ error }}
				                                        {% endfor %}
                                                            </div>
                                             {% endif %}

                                </div>


                                        {% if field.errors %}
                                                        <div class="alert alert-danger fade in" id="input-alert">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for error in field.errors %}
				                                                {{ error }}
				                                        {% endfor %}
                                                            </div>
                                                            {% endif %}
                                        {% endif %}


                                        {% if field.label == 'Category'  %}
                                        {{ field.label }}

                                         {{ field|add_class:"form-control "|attr:"required:required"}}
                                           {% if field.errors %}
                                                        <div class="alert alert-danger fade in" id="input-alert">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for error in field.errors %}
				                                                {{ error }}
				                                        {% endfor %}
                                                            </div>
                                                            {% endif %}



                                        {% endif %}

                                        {% if field.label == 'Highest price you are willing to pay (EUR)'  %}
                                        {{ field.label }}

                                         {{ field|add_class:"form-control "|attr:"required:required"|attr:"placeholder:Enter a price"}}
                                           {% if field.errors %}
                                                        <div class="alert alert-danger fade in" id="input-alert">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for error in field.errors %}
				                                                {{ error }}
				                                        {% endfor %}
                                                            </div>
                                                            {% endif %}



                                        {% endif %}



                                      {% if field.label == 'Image' %}




                                        <div class="form-group">
                                            <br>
                                            <label for="exampleInputFile">Choose some reprezentative pictures<span style="color:red;">*</span></label><br>
                                            {{ field|add_class:"form-control "}}


                                        {% elif field.label == 'Image2' or  field.label == 'Image3' or  field.label == 'Image4' %}

                                         {{ field|add_class:"form-control "}}



                                        {% endif %}



                                        {% endfor %}



                                        <button type="submit" class="btn btn-default">Update</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        <footer class="app-footer">
            <div class="wrapper">
                <span class="pull-right"><i class="fa fa-long-arrow-up" id="arrow"></i></span>SpartanTasks @ 2016 Copyright.
            </div>
        </footer>
        <div>
            <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.0.0.min.js">
            </script>
            <script>
                $("#arrow").click(function() {
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
                });

                $('.other-bids').hide();
                $('#show-bidding-field').on('click', function(){
                  $('.other-bids').toggle();
                });

                $('#bidding-place').click(function(){
                    alert('The value must be in Dollars($).')
                });
            </script>
              <script>
                  $(document).ready(function(){
                   $(".time_element").timepicki();
                   });
              </script>


{% endblock %}

