{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
{% load widget_tweaks %}
            <div class="container-fluid">
                <div class="side-body padding-top">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">
                                        <div class="title">{{ post.title }} </div>
                                        <div class="description">{{ post.category.name }}</div>
                                    </div>
                                </div>

                                <div class="card-body">
                                    <div class="row no-margin">
                                        <div class="col-sm-6">
                                            <div class="card primary">
                                              <div class="card-jumbotron no-padding">
						{% if post.image %}
                                                <img src= '{{ post.image.url }}' class="img-responsive"  style="height:300px !important ;width:100% !important;"/>
						{% else %}
						<img src= '{% static "img/thumbnails/picjumbo.com_IMG_3241.jpg" %}' class = 'img-responsive' style="height:300px !important ;width:100% !important;"/>
						{% endif %}
                                                </div>
                                                <div class="card-body">
                                                    <h4><b>Other details</b></h4>
                                                    <div class="row">    
                                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 aditional-info"><h4 class="subtitle">Date</h4>{{ post.data }}</div>
                                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 aditional-info"><h4 class="subtitle">Location</h4>{{ post.address }}</div>
                                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><h4 class="subtitle">Time</h4>{{ post.timePost }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="card">
                                                <div class="card-jumbotron">
                                                    <h4><b>{{ post.title }}</b></h4>
                                                    <h5>{{ post.description }}</h5>
                                                    {% if request.user.spartan.category.name == post.category.name or request.user == post.author %}
                                                    <hr style="border:1px solid #fff;">
                                                    <h5><b style="font-size:20px;color:#19b5fe;"> Max bid: <i style="font-size:17px;font-style:normal;color:#353d47;"> {{ post.money }} EUR</i></b></h5>
                                                    {% if post_bids %}
                                                    <h5><b style="font-size:20px;color:#19b5fe;" >Average bid : <i style="font-size:17px;font-style:normal;color:#353d47;">{{ average }} EUR</i></b></h5>
                                                    {% if last_bid %}
                                                    <h5><b style="font-size:20px;color:#19b5fe;" >Your last bid : <i style="font-size:17px;font-style:normal;color:red;">{{ last_bid.price }} EUR</i></b></h5>
                                                    {% endif %}
                                                    {% endif %}
                                                    {% endif %}
                                                    <hr style="border:1px solid #fff;">
                                                </div>
                                                <div class="card-body">
                                                     {% if request.user.spartan.spartanStatus and request.user != post.author and request.user.spartan.category.name == post.category.name and post.spartan != request.user.spartan %}
                                                    <h4><b>Bid</b></h4>
                                                            {% if form.errors %}
				                                                <div class="error">
				                                                         {% for field in form %}
                                                                                {% for message in field.errors %}
				                                                                        <ul>
					                                                            <li>{{ message }}</li>
                                                                                        </ul>
				                                                                 {% endfor %}
                                                                                 {% endfor %}
                                                                </div>
                                                            {% elif confirms %}
				                                                <div class="confirm">
				                                             {% for message in confirms %}
                                                                    <ul>
                                                                        <li>{{ message }}</li>
                                                                    </ul>
				                                    {% endfor %}
                                                                </div>
				                                             {% endif %}
                                                    <!--<input type="number" id="bidding-place">-->
<!---->
                                                    <!--<button type="submit" class="btn btn-success" id="bid-button">-->
                                                        <!--Send your offer-->
                                                    <!--</button>-->
                                            <form method="POST">
				                                {% csrf_token %}



                                          <div class="input-group" id="bidding-input-group">
					                             {{ form.price|attr:"id:bidding-place"|attr:"placeholder:Enter the value in EUR"}}
                                              <button type="submit" class="btn btn-success" id="bid-button">Send your offer</button>

                                          </div>
                                            </form>
					    {% endif %}
					    <button class="btn" id="show-bidding-field">Show Bids</button>
                                            {% if request.user == post.author%}
                                            <button  class=" btn btn-success" style="margin-right:5px"><a href="/edit/{{ post.slug }}" >Edit task </a></button>
                                                    {% endif %}
                                                    {% if request.user == post.author %}
                                           <div class="pull-left">
                                               <form method="POST">
                                                   {% csrf_token %}
                                                <button type="submit" name="deletePost" value='deletePost' style="margin-right:5px" class="btn btn-danger"><span>Delete </span></button>
                                                </form>
                                           </div>
                                          {% endif %}
                                                    <div class="other-bids">
                                                        <br>
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <div class="card">
                                                                    <div class="card-header"></div>
                                                                    <div class="card-body no-padding">
								      {% if post_bids %}
                                                                        <div class="sub-title title-bidders">Top Bidders</div>
                                                                        <table class="table table-bordered">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th> Username</th>
                                                                                    <th>Price</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>

                                                                            {% for oferta in post_bids %}

                                                                                <tr>
                                                                                    <td> <a href="/user/{{ oferta.spartan.slug }}" >{{ oferta.spartan.user.username }} </a></td>
                                                                                    <td><a href="/user/{{ oferta.spartan.slug }}" >{{ oferta.price }} </a></td>
                                                                                </tr>
										{% endfor %}
                                                                            </tbody>
                                                                        </table>
									{% else %}
									<div class="sub-title title-bidders">No bid, yet.</div>
									{% endif %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
{% if post.image or post.image2 or post.image3 or post.image4 %}
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">
                                      <div class="title">Pictures</div>
                                        <div class="description">Here are some media files about the service</div>
                                    </div>
                                </div>
                                <div class="card-body">
                                  <div class="row">
				    {% if post.image %}
                                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <a >
                                                <img id="myImg1" src= '{{ post.image.url }}' alt="{{ post.image.name }}" class = 'img-responsive'/>
                                            </a>
                                        </div>
				    {% endif %}
				    {% if post.image2 %}
                                        <a>   </a>
                                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <a >
                                                <img id="myImg2" src= '{{ post.image2.url }}' alt="{{ post.image2.name }}" class = 'img-responsive'/>
                                            </a>
                                        </div>
				     {% endif %}
				    {% if post.image3 %}
                                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <a>
                                                <img id="myImg3" src= '{{ post.image3.url }}' alt="{{ post.image3.name }}" class = 'img-responsive'/>
                                            </a>
                                        </div>
					{% endif %}
				    {% if post.image4 %}
                                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <a>      
                                                <img id="myImg4" src='{{ post.image4.url }}' alt="{{ post.image4.name }}" id="open-picture">
                                            </a>
                                        </div>
				    {% endif %}
                                        <!-- The Modal -->
                                        <div id="myModal" class="modal" style="background-color: rgba(0,0,0,0.9)!important;">
                                          <span class="close" style="color:#fff;" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
                                          <img class="modal-content" style="margin-top:10%; height:300px; width:600px; left:0%;" id="img01">
                                          <div id="caption" style="color: #fff; text-align:center;"></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
		    {% endif %}
                    {% if other %}
                    <h2>Other Tasks</h2>
                    <div class="row no-margin-bottom">
                         {% for post in other %}
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                          <div class="thumbnail no-margin-bottom">
			    {% if post.image %}
                            <img src= '{{ post.image.url }}' class = 'img-responsive'/>
			    {% else %}
			    <img src= '{% static "img/thumbnails/picjumbo.com_IMG_3241.jpg" %}' class = 'img-responsive'/>
			    {% endif %}
                                <div class="caption">
                                    <h3 id="thumbnail-label"><p class="description_tile post-title">{{ post.title }}</p><a class="anchorjs-link" href="#thumbnail-label"><span class="anchorjs-icon"></span></a></h3>
                                    <p class="description-text" >{{ post.text }}  </p>
                                    <p>
                                        <a href="{{ post.get_absolute_url }}" class="btn btn-success" role="button">View Task</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                        {% endif %}


                    </div>
                </div>
            </div>


    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.0.0.min.js">
            </script>
            <script>
                var modal = document.getElementById('myModal');
                var modalImg = document.getElementById("img01");
                var captionText = document.getElementById("caption");
                $("#myImg1, #myImg2, #myImg3, #myImg4").click(function(){
                         modal.style.display = "block";
                         modalImg.src = this.src;
                         modalImg.alt = this.alt;
                         captionText.innerHTML = this.alt;
                });
                var span = document.getElementsByClassName("close")[0];
                span.onclick = function() {
                    modal.style.display = "none";
                }
            </script>
            <!--<script>-->
                <!--$("#arrow").click(function() {-->
                <!--$("html, body").animate({ scrollTop: 0 }, "slow");-->
                <!--return false;-->
                <!--});-->
                <!--$('.other-bids').hide();-->
                <!--$('#show-bidding-field').on('click', function(){-->
                  <!--$('.other-bids').toggle();-->
                <!--});-->
            <!--</script>-->

{% endblock %}
      </div>

