{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
{% load widget_tweaks %}
<body onload="zoom()">
	<script type="text/javascript">
        function zoom() {
            document.body.style.zoom = "80%"
        }
	</script>

        <section class="wrap" id="secound-section">
                    <section class="wrapper">
                         <div class="row title-row"> </div>
            </div>
              <div class="row">
                <!-- profile-widget -->
                <div class="col-lg-12">
                    <div class="profile-widget profile-widget-info" id="post">
                          <div class="panel-body" id="profile-header">
                            <div class="col-lg-2 col-sm-2">
                              <h4 id="user-name">{{ post.author }}</h4>
                              <div class="follow-ava">
                                  <img src="http://www.gravatar.com/avatar/{{ post.author.account.code }}" alt="">
                              </div>
                            </div>
                            <div class="col-lg-4 col-sm-4 follow-info" >
                              <p>{{ post.title }}</p>
			      <p>{{ post.text }}</p>
                            </div>
                            <div class="col-lg-2 col-sm-6 follow-info weather-category" id="profile_square">
                                      <ul>
                                          <li class="active">

                                              <i class="icon_clock_alt"> </i><br>
					      {{ post.timePost }}
                                          </li>

                                      </ul>
                            </div>
							<div class="col-lg-2 col-sm-6 follow-info weather-category" id="profile_square">
                                      <ul>
                                          <li class="active">

                                              <i class="icon_calendar"> </i><br>

						{{ post.data }}
                                          </li>

                                      </ul>
                            </div>
							<div class="col-lg-2 col-sm-6 follow-info weather-category" id="profile_square">
                                      <ul>
                                          <li class="active">

                                              <i class="icon_pin_alt"> </i><br>

					      {{ post.address }}
                                          </li>

                                      </ul>
                            </div>
                          </div>
                    </div>

                </div>

              </div>
              <!-- page start-->
          <header class="panel-heading tab-bg-info" id="categoryes_profile">
            <ul class="nav nav-tabs" id="profile-subpage">
	      {% if request.user.spartan.spartanStatus and request.user != post.author and request.user.spartan.category.name == post.category.name and post.spartan != request.user %}
                                  <li class="active">
                                      <a data-toggle="tab" href="#recent-activity">
                                           Bids
                                      </a>
                                  </li>
		{% endif %}
                                  <li>
                                      <a data-toggle="tab" href="#profile">
																				More info
                                      </a>
                                  </li>
				{% if request.user == post.author%}
				<li>
				  <a href="/edit/{{ post.slug }}">
				    Edit post
				  </a>
				</li>
				{% endif %}
                              </ul>
          </header>
	      {% if request.user.spartan.spartanStatus and request.user != post.author and request.user.spartan.category.name == post.category.name and post.spartan != request.user.spartan %}
              <div class="row">
                 <div class="col-lg-12">
                    <section class="panel">
                          <div class="panel-body">
                              <div class="tab-content">
                                <div id="recent-activity" class="tab-pane active">
				  {% if form.errors %}
				  <div class="error">
				    {% for field in form %}
				      {% for message in field.errors %}
				      <ul>
					<li>{{ message }}</li>
				      </ul>
				      {% endfor %}
				      {% endfor %}
				    </div>
				    {% elif confirms %}
				    <div class="confirm">
				      {% for message in confirms %}
				      <ul>
					<li>{{ message }}</li>
				      </ul>
				      {% endfor %}
				    </div>
				    {% endif %}
                                  <div class="form-group">
				    <form method="POST">
				      {% csrf_token %}
                                          <label class="control-label">{{ form.price.label }}</label>
                                          <div class="input-group" id="bidding-input-group">
					    {{ form.price |add_class:"form-control input-lg m-bot15 bid-sort"|attr:"id: sorty-by"|attr:"required: required" }}
                                              <span class="input-group-addon"></span>
					    {{ form.kind|add_class:"form-control"|attr:"bid-input"| attr:"aria-describedby: start_date"| attr:"required: required"}}
                                          </div>
                                          <button id="bid-button">Bid!</button>
                                  </div>
				  </form>
                                      <button id="show_other_bids">More bids</button>
                                      <div class="profile-activity each_bid">
                                        {% for oferta in post.offers.all %}
                                          <div class="act-time">
                                              <div class="activity-body act-in">
                                                  <span class="arrow"></span>
                                                  <div class="text">
                                                      <a href="#" class="activity-img"><img class="avatar" src="http://www.gravatar.com/avatar/{{ oferta.spartan.user.account.code }}" alt=""></a>
                                                      <p class="attribution"><a href="#">{{ oferta.spartan.user }}</a> {{ oferta.kind }}</p>
                                                      <h2>{{ oferta.price }}</h2>
                                                  </div>
                                              </div>
                                          </div>
					  {% endfor %}
                                      </div>
                                </div>
				{% endif %}
                                  <!-- profile -->
                                  <div id="profile" class="tab-pane">
                                    <section class="panel">
                                       <h1></h1>
                                      <div class="panel-body bio-graph-info">
                                              <div class="bio-row">
                                                  <p><span>Username: </span>{{ post.author.username }} </p>
                                              </div>
					      <div class="bio-row">
                                                  <p><span>Highest bid: </span>{{ post.money }}  EUR </p>
                                              </div>
                                              <div class="bio-row">
                                                  <p><span>Country:</span>{{ post.author.account.country }}</p>
                                              </div>
                                              <div class="bio-row">
                                                <p><span>City: </span>{{ post.author.account.city }}</p>
                                              </div>
					      <div class="bio-row">
                                                <p><span>Category: </span>{{ post.category.name }}</p>
                                              </div>
                                         {% if request.user == post.author %}
                                           <div class="button-container">
                                               <form method="POST">
                                                   {% csrf_token %}
                                                <button type="submit" name = "deletePost" value='deletePost'  class="btn btn-primary"><span>Delete</span></button>
                                                </form>
                                           </div>
                                          {% endif %}
                                      </div>
                                    </section>
                              </div>
                          </div>
                      </section>
                 </div>
              </div>

              <!-- page end-->
          </section>
        </section>
        <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
        </script>
        <script>
                $("#show_other_bids").click(function(){
                    $(".each_bid").toggleClass('show_bids');
                });
        </script>


    </body>

    </html>

{% endblock %}
