ngo==1.9
django-widget-tweaks==1.4.1
django-recaptcha==1.0.5
gunicorn==19.4.5
django-phonenumber-field==1.1.0
psycopg2==2.6.1
Whoosh==2.7.4
git+git://github.com/django-haystack/django-haystack.git 
Pillow==8.3.2
django-cleanup==0.4.2
channels==0.15.1
amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery
kombu==3.0.35
redis==2.10.5
django-cacheops==2.4.5
