{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
{% load widget_tweaks %}
<script src="{% static "js/spartan_inputs.js" %}"></script>
            <div class="container-fluid">
                <div class="side-body padding-top">                
                    <br>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">
                                        <div class="title">Become a Spartan</div>
                                    </div>
                                </div>
                                <div class="card-body">
                                     {% if  request.user.spartan.spartanStatus == False  %}

                                     <div class="container-fluid">
                <div class="side-body padding-top">
                    <br>
                    <div class="row">
                        <div class="col-lg-12" id="message">
                            <center><h1 style="color: #19B5FE;"><b>Thank you for your submit!</b></h1>
                                <br>
                            <h3>We will check your datas and come with an answer.</h3>
                                <br><br>
                           
                        </div>
                    </div>

                </div>
            </div>
                                {% endif %}

                                    {% if not request.user.account.has_related_object   %}
                                    <form method="POST">

                                        {% csrf_token %}
                                         {% if confirm %}
				                           <div  class="alert alert-danger fade in" id="input-alert">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong >
                                                            {% for message in confirm %}
				                                                {{ message }}
				                                        {% endfor %} !
                                                        </strong>

                                                            </div>
                                         {% endif %}



                                        <div class="form-group">
                                            <label for="exampleInputEmail1">First Name</label>
                                            {{ form.first_name|add_class:"form-control "|attr:"placeholder:Enter first name"|attr:"required:required"}}

                                            {% if form.first_name.errors %}
                                                        <div class="alert alert-danger fade in" id="input-alert">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for error in form.first_name.errors %}
				                                                {{ error }}
				                                        {% endfor %}
                                                            </div>
                                            {% endif %}

                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Last Name</label>
                                            {{ form.last_name|add_class:"form-control "|attr:"placeholder:Enter last name"|attr:"required:required"}}

                                            {% if form.last_name.errors %}
                                                        <div class="alert alert-danger fade in" id="input-alert">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for error in form.last_name.errors %}
				                                                {{ error }}
				                                        {% endfor %}
                                                            </div>
                                            {% endif %}
                                        </div>

                                        <div class="form-group">    
                                            <label for="exampleInputEmail">Birth Date</label>
                                            <div class="input-group">
                                                {{ form.birthday|add_class:"form-control "|attr:"required:required"|add_class:"form-control datepicker"|attr:"placeholder:Enter a birthday"}}
                                                <span class="input-group-addon" id="basic-addon1">
                                                    <i class="glyphicon glyphicon-calendar" data-time-icon="icon-time" data-date-icon="icon-calendar">
                                                    </i>
                                                </span>
                                                {% if form.birthday.errors %}
                                                        <div class="alert alert-danger fade in" id="input-alert">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for error in form.birthday.errors %}
				                                                {{ error }}
				                                        {% endfor %}
                                                            </div>
                                            {% endif %}
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail">Adress</label>
                                            <br>
                                            {{ form.address|add_class:"form-control "|attr:"placeholder:Enter address"|attr:"required:required"}}

                                             {% if form.address.errors %}
                                                        <div class="alert alert-danger fade in" id="input-alert">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for error in form.address.errors %}
				                                                {{ error }}
				                                        {% endfor %}
                                                            </div>
                                            {% endif %}

                                            </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">CNP</label>
                                             {{ form.cnp|add_class:"form-control "|attr:"placeholder:Enter your CNP"|attr:"required:required"}}

                                            {% if form.cnp.errors %}
                                                        <div class="alert alert-danger fade in" id="input-alert">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for error in form.cnp.errors %}
				                                                {{ error }}
				                                        {% endfor %}
                                                            </div>
                                            {% endif %}

                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">ID Card Series</label>
                                             {{ form.series|add_class:"form-control "|attr:"placeholder:Enter your ID Card Series"|attr:"required:required"}}

                                            {% if form.series.errors %}
                                                        <div class="alert alert-danger fade in" id="input-alert">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for error in form.series.errors %}
				                                                {{ error }}
				                                        {% endfor %}
                                                            </div>
                                            {% endif %}


                                        </div>


                                        <div class="form-group">
                                            <label for="exampleInputEmail1">CUI</label>
                                            {{ form.cui|add_class:"form-control "|attr:"placeholder:Enter your CUI"|attr:"required:required"|attr:"id:cuifield"|attr:"value:RO"}}

                                             {% if form.cui.errors %}
                                                        <div class="alert alert-danger fade in" id="input-alert">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for error in form.cui.errors %}
				                                                {{ error }}
				                                        {% endfor %}
                                                            </div>
                                            {% endif %}


                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Bank Account</label>
                                            {{ form.bank|add_class:"form-control "|attr:"placeholder:Enter your Bank Account"|attr:"required:required"}}

                                            {% if form.bank.errors %}
                                                        <div class="alert alert-danger fade in" id="input-alert">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for error in form.bank.errors %}
				                                                {{ error }}
				                                        {% endfor %}
                                                            </div>
                                            {% endif %}


                                        </div>

                                        <div class="form-group">    
                                            <label for="exampleInputEmail">Select the category you will work in</label>
                                            {{ form.category|add_class:"form-control "|attr:"placeholder"|attr:"required:required"}}

                                             {% if form.category.errors %}
                                                        <div class="alert alert-danger fade in" id="input-alert">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for error in form.category.errors %}
				                                                {{ error }}
				                                        {% endfor %}
                                                            </div>
                                            {% endif %}


                                        </div>
                                        

                                         <button type="submit" class="btn btn-default">Submit</button>
                                    </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        <footer class="app-footer">
            <div class="wrapper">
                <span class="pull-right"><i class="fa fa-long-arrow-up" id="arrow"></i></span>SpartanTasks @ 2016 Copyright.
            </div>
        </footer>
        <div>
            <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.0.0.min.js">
            </script>
            <script>
                $("#arrow").click(function() {
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
                });

                $('.other-bids').hide();
                $('#show-bidding-field').on('click', function(){
                  $('.other-bids').toggle();
                });

                $('#bidding-place').click(function(){
                    alert('The value must be in Dollars($).')
                });
            </script>


{% endblock %}
