{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
{% load widget_tweaks %}

            <!-- Main Content -->
            <div class="container-fluid">
                <div class="side-body padding-top">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">
                                       {{ spartan.first_name }} {{ spartan.last_name }}
                                    </div>
                                </div>

                                <div class="card-body">
                                    <div class="row no-margin">
                                        <div class="col-sm-6">
                                            <div class="card primary">
                                                <div class="card-jumbotron no-padding">
						  {% if spartan.user.account.profile_image %}
                                                  <img src='{{ spartan.user.account.profile_image.url }}' class="img-responsive"  style="height:300px !important ;width:100% !important;"/>
						  {% else %}
						  <img src='{% static "img/profile.png" %}' class="img-responsive"  style="height:300px !important ;width:100% !important;"/>
						  {% endif %}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="card">

                                                <div class="card-body">
                                                    <div class="row">
                                              <div class="bio-row">
                                                  <p><span>Username: </span> {{ spartan.first_name }} {{ spartan.last_name }} </p>
                                              </div>
                                              <div class="bio-row">
                                                  <p><span>Tasks: </span> {{ spartan.tasks}}</p>
                                              </div>
                                              <div class="bio-row">
                                                  <p><span>Ability: </span> {{ spartan.category.name }} </p>
                                              </div>


                                                            <h4 style="display: inline-block;"><b>Reviews:</b> {{ spartan.rating }}</h4><button type="button" style="display: inline-block;" class="pull-right btn btn-success" id="show-reviews">Show Reviews</button>


                                          </div>


                                                    <div class="row col-lg-12 col-md-12 col-sm-12">
                                                        
                                                        <div class="card review-card">
                                                            <div class="card-header choose-chater">
                                                                <div class="clear-both"></div>
                                                            </div>
                                                            <div class="card-body no-padding" id="reviews-body">
                                                                <ul class="message-list">
                                                                    {% for review in reviews.all %}
                                                                    <a>
                                                                        <li>
									  {% if review.submitter.account.profile_image %}
                                                                          <img src='{{ review.submitter.account.profile_image.url }}' class="profile-img pull-left"/>
									  {% else %}
                                                                          <img src='{% static "img/profile.png" %}' class="profile-img pull-left"/>
									  {% endif %}
                                                                            <div class="message-block">
                                                                                <div><span class="username">{{ review.submitter.account.user}}</span> <span class="message-datetime">{{ review.data }}</span>
                                                                                </div>
                                                                                <div class="message">
                                                                                     {{ review.message }}

                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                    </a>
                                                                    {% endfor %}


                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>

                                </div>
                            </div>
                        </div>
                    </div>    
                    <!-- End of Row -->
                </div>
            </div>
        </div>

</div>
            <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.0.0.min.js">
            </script>
            <script>
                $("#arrow").click(function() {
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
                });

                $('.other-bids').hide();
                $('#show-bidding-field').on('click', function(){
                  $('.other-bids').toggle();
                });

                $('#bidding-place').click(function(){
                    alert('The value must be in Dollars($).')
                });

                <!--$('.review-card').hide();-->
                <!--$('#show-reviews').click(function(){-->
                 <!--$('.review-card').slideToggle();-->
                <!--});-->

                $('#edit-profile-btn').click(function(){
                 $('#card-edit-profile').slideToggle();
                 });

                 $('#cancel_button').click(function(){
                 $('#card-edit-profile').slideToggle();
                 });
            </script>



{% endblock %}
