{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}

            <!-- Main Content -->
            <div class="container-fluid">
                <div class="side-body padding-top">                
                    <br>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">
                                        <div class="title">About Us <h5 style="display: inline;"><i> discover our developing team.</i></h5></div>
                                    </div>
                                </div>
                                <div class="card-body">
                                        <!-- Project One -->
                                        <div class="row">
                                            <div class="col-md-7">
                                                <a href="#">
                                                    <img class="img-responsive" src="{% static "img/profile/fineas.jpg" %}" style="width:700px !important; height:300px !important;" alt="">
                                                </a>
                                            </div>
                                            <div class="col-md-5">
                                                <h3>Silaghi Fineas</h3>
                                                <h4>Front-end Developer</h4>
                                                <p>Silaghi Fineas was the front-end developer for this WEB platform called Spartan Tasks, he designed it all, he coded it all.The technologyes he used for doing it are: HTML, CSS, JavaScript, Jquery, Bootstrap3, Less, Sass and also some tools like: Photoshop & Illustrator.Of course, he used a basic template from Start Bootstrap.</p>
                                                <a class="btn btn-primary"  href="https://github.com/zalmanu/project-spartan">Check out his work <span class="glyphicon glyphicon-chevron-right"></span></a>
                                            </div>
                                        </div>
                                        <!-- /.row -->

                                        <hr>

                                        <!-- Project Two -->
                                        <div class="row">
                                            <div class="col-md-7">
                                                <a href="#">
                                                    <img class="img-responsive" style="width:700px !important; height:300px !important;" src="{% static "img/profile/ema.jpg" %}" alt="">
                                                </a>
                                            </div>
                                            <div class="col-md-5">
                                                <h3>Covaci Emanuel</h3>
                                                <h4>Back-end Developer</h4>
                                               <p>Covaci Emanuel was the back-end developer for this WEB platform called Spartan Tasks.The technologyes he used for doing it are:Django,Python, HTML, CSS, JavaScript,</p>
                                                <a class="btn btn-primary" href="https://github.com/zalmanu/project-spartan">Check out his work <span class="glyphicon glyphicon-chevron-right"></span></a>
                                            </div>
                                        </div>
                                        <!-- /.row -->

                                        <hr>

                                        <!-- Project Three -->
                                        <div class="row">
                                            <div class="col-md-7">
                                                <a href="#">
                                                    <img class="img-responsive" style="width:700px !important; height:300px !important;" src="{% static "img/profile/sebastian.jpg" %}"alt="">
                                                </a>
                                            </div>
                                            <div class="col-md-5">
                                                <h3>Males Sebastian</h3>
                                                <h4>Full Stack Developer</h4>
                                                <p>Sebastian Males was the Full Stack Developer for this WEB platform called Spartan Tasks. The technologyes he used for doing it are:Django,Python, HTML, CSS, JavaScript, Jquery, Bootstrap3, Less, Sass </p>
                                                <a class="btn btn-primary" href="https://github.com/zalmanu/project-spartan">Check out his work <span class="glyphicon glyphicon-chevron-right"></span></a>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        <footer class="app-footer">
            <div class="wrapper">
                <span class="pull-right"><i class="fa fa-long-arrow-up" id="arrow"></i></span>SpartanTasks @ 2016 Copyright.
            </div>
        </footer>
        <div>
            <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.0.0.min.js">
            </script>
            <script>
                $("#arrow").click(function() {
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
                });

                $('.other-bids').hide();
                $('#show-bidding-field').on('click', function(){
                  $('.other-bids').toggle();
                });

                $('#bidding-place').click(function(){
                    alert('The value must be in Dollars($).')
                });
            </script>

            {% endblock %}
