{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}
<!-- Main Content -->
            <div class="container-fluid">
                <div class="side-body padding-top">                
                    <br>
                    <div class="row">
                        <div class=" col-lg-12 col-md-12 col-xs-12">
                            <div class="card" style="overflow:visible;">
                                <div class="card-header">
                                    <div class="card-title">
                                        <div class="title">{{ kind.name }} Category <span class="badge">{{ anns.object_list.count }} Tasks</span></div>
                                    </div>
                                    <div class="pull-right card-action">
                                        <div class="btn-group" role="group" aria-label="...">
                                            <div class="btn-group">
                                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Sort By Price:<span class="caret"></span>
                                              </button>
                                              <ul class="dropdown-menu">
                                                <li><a href="#">Max Price:  <input type="text" placeholder="€" id="maxprice"/></a></li>
                                                <li><a href="#">Min Price:  <input type="text" placeholder="€" style="margin-left:3px;" id="minprice"/></a></li>
                                              </ul>
                                            </div>

                                            <div class="btn-group" style="margin-left:5px;">
                                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Sort By Date:<span class="caret"></span>
                                              </button>
                                              <ul class="dropdown-menu" style="margin-left:-100px">
                                                <li><a href="#">Till the date of:<input type="text" id="filter_date" class="form-control datepicker" placeholder="Pick up a date"></a></li>
                                            </div>

                                            <div class="btn-group" style="margin-left:5px;">
                                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                City<span class="caret"></span>
                                              </button>
                                              <ul class="dropdown-menu" style="height: 200px; margin-left: -100px; overflow: scroll;">
						{% for city in user.account.country.cities.all %}
                                                <li><a href="#" id="filter_city">{{ city }}</a></li>
						{% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-body" id="catgory-page-picture">
                                        <div class="col-sm-12" id="no-padding-category">
                                            <div class="card primary">
                                                <div class="card-jumbotron no-padding" style=" height: 200px; background-image: url('{% static 'img/category/' %}{{ kind.name }}.jpg');background-size: cover;background-position:center;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>  
                        <br><br>
			<div class="row  no-margin-bottom" id="posts_div">
			  {% for post in anns.object_list %}
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                          <div class="thumbnail no-margin-bottom">
			    {% if post.image %}
                            <img src= '{{ post.image.url }}' class = 'img-responsive'/>
			    {% else %}
			    <img src= '{% static "img/thumbnails/picjumbo.com_IMG_3241.jpg" %}' class = 'img-responsive'/>
			    {% endif %}
                                <div class="caption">
                                    <h3 id="thumbnail-label" class="post-title">{{ post.title }}<a class="anchorjs-link" href="#thumbnail-label"><span class="anchorjs-icon"></span></a></h3>
                                    <p class="description-text">{{ post.description }}</p>
                                    <p>
                                        <a href="{{ post.get_absolute_url }}" class="btn btn-success" role="button">View Task</a>
<!--
-->
                                    <br>

                                    </p>
                                </div>
                            </div>
                        </div>
			{% endfor %}
			</div>
			{% if num_pages > 1 %}
			<div class="no-padding no-margin-bottom" id="pages_div">
                                        <nav>
                                          <ul class="pagination">
					    {% if anns.has_previous %}
                                                <li onclick="location.href='/category/{{ kind.name }}/?page={{ anns.previous_page_number }}'">
                                                    <a href="/category/{{ kind.name }}/?page={{ anns.previous_page_number }}" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
						{% endif %}
						{% for i in anns.paginator.page_range %}
                                            <li onclick="location.href='/category/{{ kind.name }}/?page={{ i }}'"><a class="active" href="/category/{{ kind.name }}/?page={{ i }}">{{ i }}</a></li>
						  {% endfor %}
						{% if anns.has_next %}
						<li onclick="/category/{{ kind.name }}/?page={{ anns.next_page_number }}">
                                                    <a href="/category/{{ kind.name }}/?page={{ anns.next_page_number }}" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
						{% endif %}
                                            </ul>
                                        </nav>
                        </div>
			{% endif %}
                </div>
            </div>
{% endblock %}
