{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
{% load widget_tweaks %}


            <!-- Main Content -->
            <div class="container-fluid">
                <div class="side-body padding-top">                
                    <br>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">
                                        <div class="title">FAQ <h5 style="display: inline;"><i> (Frequently Asked Questions )</i></h5></div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <form id="faq-list">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1" style="font-family: 'Roboto Condensed', sans-serif !important;"><h3 class="open-answer"><i class="open-answer"></i> 1.Why are employers allowed to leave only positive Feedback for Spartans?</h3></label>
                                            <div>
                                                <span class="faq-answer">Most of our Spartans workers are trustworthy persons. Sometimes it may happen to recieve a negative Feedback based on subjective point of view of the employer that can influence in a bad way their reputation on our website. In this case we decided it is better to be able to leave only positive Feedback and write a few words about how the Spartan managed the situation. Also don’t worry if you are having troubles with the Spartan and the way he approached the task, you can always contact the support team and we’ll take care of the problem.</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1" style="font-family: 'Roboto Condensed', sans-serif !important;"><h3 class="open-answer"><i class="open-answer"></i> 2.What is a Spartan?</h3></label>
                                            <div>
                                                <span class="faq-answer">
We use this term to refer to a “Self-Employed Person” an independent contractor who reports income earned from self-employment. They are allowed to choose who they work for, how the work is done and when it is done.</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1" style="font-family: 'Roboto Condensed', sans-serif !important;"><h3 class="open-answer"><i class="open-answer"></i>3.How can you become a Spartan?</h3></label>
                                            <div>
                                                <span class="faq-answer">First you have to be registered as a “Self-Employed Person” and then you have to fill a form that can be found by clicking the “Become a Spartan” button in the upper-right corner of our website. Give us your your personal details and your bank account.</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1" style="font-family: 'Roboto Condensed', sans-serif !important;"><h3 class="open-answer"><i class="open-answer"></i>4.How can you become an Employer?</h3></label>
                                            <div>
                                                <span class="faq-answer">All you have to do is to create an account and add a post in one of the categories. If you want to be a successful employer, be sure that you treat our Spartans with respect and give them a realistic Feedback based on their actions.</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1" style="font-family: 'Roboto Condensed', sans-serif !important;"><h3 class="open-answer"><i class="open-answer"></i>5.Why should I trust a Spartan?</h3></label>
                                            <div>
                                                <span class="faq-answer">We check our Spartans before we allow them to provide services for you. We make sure the Spartans are well trained so they can give the best out of their work.</span>
                                            </div>
                                        </div>
                                    </form>
                                    <form>
                                        <hr>
                                        Still have a question? Go check our<a href="/contact/"> Contact Page </a>and let us know.
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        <footer class="app-footer">
            <div class="wrapper">
                <span class="pull-right"><i class="fa fa-long-arrow-up" id="arrow"></i></span>SpartanTasks @ 2016 Copyright.
            </div>
        </footer>
        <div>
            <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.0.0.min.js">
            </script>
            <script>
                $("#arrow").click(function() {
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
                });

                $('.other-bids').hide();
                $('#show-bidding-field').on('click', function(){
                  $('.other-bids').toggle();
                });

                $('#bidding-place').click(function(){
                    alert('The value must be in Dollars($).')
                });
            </script>
          {% endblock %}
