{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
{% load widget_tweaks %}

<body class="flat-blue">
    <div class="app-container">
        <div class="row content-container">
            <nav class="navbar navbar-default navbar-fixed-top navbar-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-expand-toggle" id="expand-menu-button">
                            <i class="fa fa-bars icon"></i>
                        </button>
                        <ol class="breadcrumb navbar-breadcrumb">
                            <li class="active"><input type="text" class="form-control" placeholder="Search..." id="search-bar"></li>
                        </ol>
                        <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                            <i class="fa fa-th icon"></i>
                        </button>
                    </div>
                    <ul class="nav navbar-nav navbar-right" id="toggle-menu">
                        <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                            <i class="fa fa-times icon"></i>
                        </button>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-comments-o"></i></a>
                            <ul class="dropdown-menu danger  animated fadeInDownx">
                                <li class="title">
                                    Messages <span class="badge pull-right">0</span>
                                </li>
                                <div class="notifications-list">
                                    <li class="message">
                                        No new messages
                                    </li>
                                    <li class="message">
                                        No new messages
                                    </li>
                                    <li class="message">
                                        No new messages
                                    </li>   
                                </div>
                            </ul>
                        </li>
                        <li class="dropdown danger">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-star-half-o"></i> 4</a>
                            <ul class="dropdown-menu danger  animated fadeInDown">
                                <li class="title">
                                    Notification <span class="badge pull-right">4</span>
                                </li>
                                <li>
                                    <ul class="list-group notifications">
                                        <div class="notifications-list">
                                            <a href="#">
                                                <li class="list-group-item">
                                                    <span class="badge">1</span> <i class="fa fa-exclamation-circle icon"></i> new registration
                                                </li>
                                            </a>
                                            <a href="#">
                                                <li class="list-group-item">
                                                    <span class="badge success">1</span> <i class="fa fa-check icon"></i> new orders
                                                </li>
                                            </a>
                                            <a href="#">
                                                <li class="list-group-item">
                                                    <span class="badge success">1</span> <i class="fa fa-check icon"></i> new orders
                                                </li>
                                            </a>
                                            <a href="#">
                                                <li class="list-group-item">
                                                    <span class="badge success">1</span> <i class="fa fa-check icon"></i> new orders
                                                </li>
                                            </a>
                                            <a href="#">
                                                <li class="list-group-item">
                                                    <span class="badge success">1</span> <i class="fa fa-check icon"></i> new orders
                                                </li>
                                            </a>
                                            <a href="#">
                                                <li class="list-group-item">
                                                    <span class="badge success">1</span> <i class="fa fa-check icon"></i> new orders
                                                </li>
                                            </a>
                                            <a href="#">
                                                <li class="list-group-item">
                                                    <span class="badge danger">2</span> <i class="fa fa-comments icon"></i> customers messages
                                                </li>
                                            </a>
                                        </div>
                                        <a href="#">
                                            <li class="list-group-item message">
                                                view all
                                            </li>
                                        </a>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown profile">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ user.username }} <span class="caret"></span></a>
                            <ul class="dropdown-menu animated fadeInDown">
                                <li class="profile-img">
                                   <img src='{{ user.account.profile_image.url }}' class = 'img-responsive'/>
                                </li>
                                <li>
                                    <div class="profile-info">
                                        <h4 class="username">{{ user.username }}</h4>
                                        <p>{{ user.email }}</p>
                                        <div class="btn-group margin-bottom-2x" role="group">
                                            <a type="button" href="/profile" class="btn btn-default"><i class="fa fa-user"></i> Profile</a>
                                            <a type="button" class="btn btn-default" href="/logout"><i class="fa fa-sign-out"></i> Logout</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
           <div class="side-menu sidebar-inverse">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="side-menu-container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="/">
                                <div class="icon fa"><img src="{% static "img/logo/logo.png" %}"  id="logo"></div>
                                <div class="title">Spartan Tasks</div>
                            </a>
                            <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                                <i class="fa fa-times icon"></i>
                            </button>
                        </div>
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="/">
                                    <span class="icon glyphicon glyphicon-home"></span><span class="title">Home</span>
                                </a>
                            </li>
                            <li class="panel panel-default dropdown">
                                <a data-toggle="collapse" href="#dropdown-element">
                                    <span class="icon fa fa-desktop"></span><span class="title">Categories</span>
                                </a>
                                <!-- Dropdown level 1 -->
                                <div id="dropdown-element" class="panel-collapse collapse">
                                    <div class="panel-body">
                                      <ul class="nav navbar-nav">
					{% for category in categories %}
                                            <li><a href="/category/{{ category.id }}" name="kind" value={{ category.id }}> {{ category.name }}</a>
                                            </li>
					{% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="panel panel-default dropdown">
                                <a data-toggle="collapse" href="#dropdown-table">
                                    <span class="icon fa fa-table"></span><span class="title">My Announcements</span>
                                </a>
                                <!-- Dropdown level 1 -->
                                <div id="dropdown-table" class="panel-collapse collapse">
                                    <div class="panel-body">
                                      <ul class="nav navbar-nav">
					{% if user.posts.all %}
					{% for post in user.posts.all %}
                                            <li><a href="{{ post.get_absolute_url }}"> {{ post.title }}</a>
                                            </li>
					    {% endfor %}
					<li><a href="/submit">Add an announcement</a>
					    {% else %}
					<li><a href="/submit">Add an announcement</a>
					  {% endif %}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <!-- Dropdown-->
                            <li class="panel panel-default dropdown">
                                <a data-toggle="collapse" href="#component-example">
                                    <span class="icon fa fa-cubes"></span><span class="title">Chats</span>
                                </a>
                                <!-- Dropdown level 1 -->
                                <div id="component-example" class="panel-collapse collapse">
                                    <div class="panel-body">
                                      <ul class="nav navbar-nav">
					{% if user.spa_rooms.all or user.empl_rooms.all %}
					{% for room in user.empl_rooms.all %}
                                            <li><a href="{{ room.get_absolute_url }}">Chat with {{ room.spartan.user.username }}</a>
                                            </li>
					    {% endfor %}
					    {% for room in user.spa_rooms.all %}
					<li><a href="{{ room.get_absolute_url }}">Chat with {{ room.employer.username }}</a>
                                        </li>
					{% endfor %}
					 {% else %}
					<li><a> No chat room, yet</a>
					</li>
					{% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </li>
			    {% if not user.account.has_related_object %}
                            <li>
                                <a href="/spartan">
                                    <span class="icon fa fa-file-text-o"></span><span class="title">Become a Spartan</span>
                                </a>
                            </li>
			    {% endif %}
                            <li>
                                <a href="/report">
                                    <span class="icon fa fa-file-text-o"></span><span class="title">Report a Spartan/Employer</span>
                                </a>
                            </li>
                            <!-- Dropdown-->
                            <li>
                                <a href="/faq">
                                    <span class="icon fa fa-archive"></span><span class="title">Faq</span>
                                </a>
                            </li>
                            <li>
                                <a href="/contact">
                                    <span class="icon fa fa-thumbs-o-up"></span><span class="title">Contact Us</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>
            </div>
            <!-- Main Content -->
            <div class="container-fluid">
                <div class="side-body padding-top">                
                    <br>
                    <div class="row">
                        <div class=" col-lg-12 col-md-12 col-xs-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">
                                        <div class="title">{{ kind.name }}</div>
                                    </div>
                                </div>

                                <div class="card-body" id="catgory-page-picture">
                                        <div class="col-sm-12" id="no-padding-category">
                                            <div class="card primary">
                                                <div class="card-jumbotron no-padding">
                                                    <img src="{% static "img/category/" %}{{ kind.name }}.jpg" class="img-responsive" >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>  
                        <br><br>
                    {% for post in anns %}
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="thumbnail no-margin-bottom">
                                <img src= '{{ post.image.url }}' class = 'img-responsive'/>
                                <div class="caption">
                                    <h3 id="thumbnail-label">{{ post.title }}<a class="anchorjs-link" href="#thumbnail-label"><span class="anchorjs-icon"></span></a></h3>
                                    <p>{{ post.description }}</p>
                                    <p>
                                        <a href="{{ post.get_absolute_url }}" class="btn btn-success" role="button">View Post</a>
<!--
-->
                                    <br>

                                    </p>
                                </div>
                            </div>
                        </div>
			{% endfor %}
        <footer class="app-footer">
            <div class="wrapper">
                <span class="pull-right"><i class="fa fa-long-arrow-up" id="arrow"></i></span>SpartanTasks @ 2016 Copyright.
            </div>
        </footer>
        <div>
            <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.0.0.min.js">
            </script>
            <script>
                $("#arrow").click(function() {
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
                });

                $('.other-bids').hide();
                $('#show-bidding-field').on('click', function(){
                  $('.other-bids').toggle();
                });

                $('#bidding-place').click(function(){
                    alert('The value must be in Dollars($).')
                });
            </script>



 {% endblock %}
