{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
{% load widget_tweaks %}

        <!-- Main Content -->

        <!--Anunturi -->
        <div class="container-fluid">
            <div class="side-body padding-top">
                <div class="col-lg-12">
                    <h2>Your Posts with it's bidders</h2>

                </div>
            </div>
        </div>

{% for post in posts %}


        <div class="container-fluid">
            <div class="side-body padding-top">
                <div class="col-lg-12">

                    <h4>
                        <a style="cursor:pointer;"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></b></a>
                    </h4>
                    <h4><a style="cursor:pointer;"></a></h4>

             {% if post.spartan %}
                    <div id="table">
                        <div class="header blue" id="row">

                            <div class="cell">
                                First Name
                            </div>
                            <div class="cell">
                                Last Name
                            </div>
                            <div class="cell">
                                Email
                            </div>
                            <div class="cell">
                                Offer
                            </div>
                            <div class="cell">
                                Chat
                            </div>
                            <div class="cell">
                                or call the spartan!
                            </div>
                            <div class="cell">
                                <center>Finished task</center>
                            </div>
                        </div>

                        {% if post.spartan_done %}

                        <!--continut tabel-->
                        <div id="row">

                            <div class="cell">
                                <a href="/user/{{ post.spartan.slug }}">{{ post.spartan.first_name }}</a>
                            </div>
                            <div class="cell">
                                <a href="/user/{{ post.spartan.slug }}">{{ post.spartan.last_name }}</a>
                            </div>
                            <div class="cell">
                                {{ post.spartan.user.email }}
                            </div>
                            <div class="cell">
                                {{ post.price }}
                            </div>
                            <div  onclick="window.location='{{ post.room.get_absolute_url }}';" style="cursor:pointer" class="cell">
                                Go to chat
                            </div>
                            <div class="cell">
                                {{ post.spartan.user.account.phone }}
                            </div>

                            <div class="cell">
                                <center><input type="checkbox" name="work_in_progress" value="finish_work" id="finish_work" class="employer" data-postfin="{{ post.id }}"></center>
                            </div>
                        </div>

                        {% else %}

                        <!--continut tabel-->
                        <div id="row">

                            <div class="cell">
                                <a href="/user/{{ post.spartan.slug }}">{{ post.spartan.first_name }}</a>
                            </div>
                            <div class="cell">
                                <a href="/user/{{ post.spartan.slug }}">{{ post.spartan.last_name }}</a>
                            </div>
                            <div class="cell">
                                {{ post.spartan.user.email }}
                            </div>
                            <div class="cell">
                                {{ post.price }}
                            </div>
                            <div  onclick="window.location='{{ post.room.get_absolute_url }}';" style="cursor:pointer" class="cell">
                                Go to chat
                            </div>
                            <div class="cell">
                                {{ post.spartan.user.account.phone }}
                            </div>

                            <div class="cell">
                                <center>Wait for spartan's confimation</center>
                            </div>
                        </div>

                        {% endif %}

              {% else %}

                        <div class="header blue" id="row">

                            <div class="cell">
                                First Name
                            </div>
                            <div class="cell">
                                Last Name
                            </div>
                            <div class="cell">
                                Offer
                            </div>
                            <div class="cell">
                                <center>Accept</center>
                            </div>
                        </div>

                        {% if post.offers.all %}

                            {% for oferta in post.offers.all %}

                                        <div id="row">

                                            <div class="cell">
                                                <a href="/user/{{ post.spartan.slug }}">{{ post.spartan.first_name }}</a>
                                            </div>
                                            <div class="cell">
                                                <a href="/user/{{ post.spartan.slug }}">{{ post.spartan.last_name }}</a>
                                            </div>
                                            <div class="cell">
                                                {{ post.price }}
                                            </div>
                                            <div class="cell">
                                               	<p data-placement="top" data-toggle="tooltip" >
                                                        <button class="btn btn-danger btn-xs hire" data-oferta="{{ oferta.id }}" data-post="{{ post.id }}" id="choose_button">
                                                                <span class="glyphicon glyphicon-ok"></span>
                                                        </button>
												</p>
                                            </div>

                                        </div>
                             {% endfor %}

                        {% else %}
                        </div> Nobody made an offer yet. </div>







                    </div>
                </div>
            </div>

        </div>

{% endif %}
 {% endif %}
{% endfor %}
    </div>



    <!--sfarsit-->

{% if bids %}


                    <div id="table">
                        <div class="header blue" id="row">

                            <div class="cell">
                                Annoucement title
                            </div>
                            <div class="cell">
                                Offer
                            </div>
                            <div class="cell">
                                Chat
                            </div>
                            <div class="cell">
                               or call the employer!
                            </div>
                            <div class="cell">
                               Job done
                            </div>
                        </div>

                        {% for bid in bids %}

			                    {% if bid.post.status and bid.status and bid.post.spartan_done %}

                                         <div id="row">

                                                <div class="cell">
                                                    <a onclick="window.location='{{ bid.post.get_absolute_url }}';" style="cursor: pointer;">{{ bid.post.title }}</a>
                                                </div>
                                                <div class="cell">
                                                    {{ bid.price }}
                                                </div>
                                                <div onclick="window.location='{{ bid.post.room.get_absolute_url }}';" style="cursor: pointer;" class="cell">
                                                    Go to chat
                                                </div>
                                                <div class="cell">
                                                    {{ bid.post.author.account.phone }}
                                                </div>
                                                <div class="cell">
                                                    Waiting for employer's confimations
                                                </div>
                                         </div>
                                {% elif bid.post.status and bid.status %}

                                            <div id="row">

                                                <div class="cell">
                                                    <a onclick="window.location='{{ bid.post.get_absolute_url }}';" style="cursor: pointer;">{{ bid.post.title }}</a>
                                                </div>
                                                <div class="cell">
                                                    {{ bid.price }}
                                                </div>
                                                <div onclick="window.location='{{ bid.post.room.get_absolute_url }}';" style="cursor: pointer;" class="cell">
                                                    Go to chat
                                                </div>
                                                <div class="cell">
                                                    {{ bid.post.author.account.phone }}
                                                </div>
                                                <div class="cell">
                                                    <input type="checkbox" name="work_in_progress" value="finish_work" id="finish_work" class="spartan" data-post="{{ bid.post.id }}">
                                                </div>
                                         </div>
                                {% elif not bid.post.status and not bid.status %}

                                         <div id="row">

                                                <div class="cell">
                                                    {{ bid.post.title }}
                                                </div>
                                                <div class="cell">
                                                    {{ bid.price }}
                                                </div>

                                                <div class="cell">
                                                    -
                                                </div>
                                             <div class="cell">
                                                    -
                                                </div>
                                                <div class="cell">
                                                    Offer wasn't accepted, yet.
                                                </div>
                                         </div>
                                {% endif %}
	                    {% endfor %}

                        </div>
{% endif %}









    <footer class="app-footer">
        <div class="wrapper">
            <span class="pull-right"><i class="fa fa-long-arrow-up" id="arrow"></i></span>SpartanTasks @ 2016 Copyright.
        </div>
    </footer>
    <div>
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.0.0.min.js">
        </script>
        <script>
                $("#arrow").click(function() {
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
                });

                $('.other-bids').hide();
                $('#show-bidding-field').on('click', function(){
                  $('.other-bids').toggle();
                });

                $('#bidding-place').click(function(){
                    alert('The value must be in Dollars($).')
                });

        </script>

          <script>
      // Jquery pentru accept
    $(document).ready(function(){
        $(".hire").click(function(event){
            var oferta = $(this).data("oferta");
            var post_id = $(this).data("post");
            $.post("/posts/", { "offer": oferta }, function(response) {
                 if (response.result == "success") {
                     console.log("success");
                     $(location).attr('href', '/posts/');
                 }
            })
            return true;
        });
    });
    </script>
        <script>
	  // Jquery pentru job done la Spartan
    $(document).ready(function(){
        $(".spartan").change(function(event){
          var post_id = $(this).data("post");
            $.post("/posts/", { "post": post_id }, function(response) {
                 if (response.result == "success") {
                     console.log("success");
                     $(location).attr('href', '/posts/');
                 }
            })
            return true;
        });
    });
    </script>
        <script>
	  // Jquery pentru job done la employer
    $(document).ready(function(){
        $(".employer").change(function(event){
          var post_id = $(this).data("postfin");
            $.post("/posts/", { "post_empl": post_id }, function(response) {
                 if (response.result == "success") {
                     console.log("success");
                     var url = '/review/'+response.slug + '/' + response.hash
                     $(location).attr('href', url)
                 }
            })
            return true;
        });
    });
    </script>
        <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
        </script>
        <script>
                $("#show_other_bids").click(function(){
                    $(".each_bid").toggleClass('show_bids');
                });
        </script>
        <script>
            $(document).ready(function(){
            $("#mytable #checkall").click(function () {
                    if ($("#mytable #checkall").is(':checked')) {
                        $("#mytable input[type=checkbox]").each(function () {
                            $(this).prop("checked", true);
                        });
                    } else {
                        $("#mytable input[type=checkbox]").each(function () {
                            $(this).prop("checked", false);
                        });
                    }
                });

                $("[data-toggle=tooltip]").tooltip();
            });
        </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>



        {% endblock %}