{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}
        <!-- Main Content -->

        <!--Anunturi -->
        <div class="container-fluid">
            <div class="side-body padding-top">
                <div class="col-lg-12">
                    <h2>Your Posts with it's bidders</h2>

                </div>
            </div>
        </div>
{% for post in user.posts.all %}
        <div class="container-fluid">
            <div class="side-body padding-top">
                <div class="col-lg-12">

                    <h4><a style="cursor:pointer;"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></b></a>
                    </h4>
<h4><a style="cursor:pointer;"></a></h4>
{% if post.offers.all and status == False %}
{% for bid in post.offers.all %}
                    <div id="table">
                        <div class="header blue" id="row">

                            <div class="cell">
                                First Name
                            </div>
                            <div class="cell">
                                Last Name
                            </div>
                            <div class="cell">
                                Bid
                            </div>
                            <div class="cell">
                                <center>Status</center>
                            </div>
                        </div>

                        <!--continut tabel-->
                        <div id="row">
                            <div class="cell">
                                <a href="/user/{{ bid.spartan.slug }}">{{ bid.spartan.first_name }}</a>
                            </div>
                            <div class="cell">
                                <a href="/user/{{ bid.spartan.slug }}">{{ bid.spartan.last_name }}</a>
                            </div>
                            <div class="cell">
                                {{ bid.price }}
                            </div>
                            <div class="cell">
                                <center><input type="checkbox" class="hire" data-oferta="{{ bid.id }}" data-post="{{ post.id }}"></center>
                            </div>
                        </div>
{% endfor %}
{% else %}
			<div id="table">
                        <div class="header blue" id="row">

                            <div class="cell">
                               No bids for this post, yet
                            </div>
                            <div class="cell">

                            </div>
                            <div class="cell">

                            </div>
                            <div class="cell">
                                <center></center>
                            </div>
                        </div>

{% endif %}
			
                    </div>
                </div>
            </div>

        </div>
    </div>


{% empty %}
<div class="container-fluid">
  <div class="side-body padding-top">
    <div class="col-lg-12">
      
      <h4><a style="cursor:pointer;"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></b></a>
    </div>
  </div>
</div>
{% endfor %}
<!--sfarsit-->
<script>
      $(document).ready(function(){
        $(".hire").change(function(event){
            var oferta = $(this).data("oferta");
            var post_id = $(this).data("post");
            $.post("/posts/", { "offer": oferta }, function(response) {
                 if (response.result == "success") {
                     console.log("success");
                     $(location).attr('href', '/posts/');
                 }
            })
            return true;
        });
    });
</script>
{% endblock %}
