{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<body onload="zoom()">
	<script type="text/javascript">
        function zoom() {
            document.body.style.zoom = "80%"
        }
	</script>
        <section class="wrap" id="secound-section">
                    <section class="wrapper">
                         <div class="row title-row"> </div>
            </div>
              
                  
              </div>
<div class="container">
  <div class="row">

            {% if not posts and not request.user.spartan.spartanStatus  %}

      <div class="row title-row">
                            <div class="col-12 font-thin categories-gallery" style="height:456px;"><span>No active </span><span class="font-semibold"> posts</span></div>
                    </div>

      {% endif %}
{% if not posts and  request.user.spartan.spartanStatus and not bids %}

      <div class="row title-row">
                            <div class="col-12 font-thin categories-gallery"><span>No active </span><span class="font-semibold"> bids </span></div>
                    </div>

      {% endif %}




    {% for post in posts %}
        <div class="col-md-12">
        <h4>Announcement:<b id="post_title_bidders">
	    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a></b>
	</h4>
        <div class="table-responsive">

              <table id="mytable" class="table table-bordred table-striped"
                  data-table-post="{{ post.id }}" style="height:210px;">
            
     {% if post.spartan %}
     <thead>
       <th>First Name</th>
       <th>Last Name</th>
       <th>Email</th>
       <th>Offer</th>
       <th>Chat</th>
       <th>or call the spartan!</th>
       <th>Finished task</th>
     </thead>
     {% if post.spartan_done %}
     <tbody>
       <tr>
         <td> <a href="/user/{{ post.spartan.slug }}">{{ post.spartan.first_name }}</a></td>
         <td><a href="/user/{{ post.spartan.slug }}">{{ post.spartan.last_name }}</a></td>
         <td>{{ post.spartan.user.email }}</td>
         <td>{{ post.price }}</td>
	 <td onclick="window.location='{{ post.room.get_absolute_url }}';" style="cursor:pointer">Go to chat</td>
	 <td>{{ post.spartan.user.account.phone }}</td>
         <td><input type="checkbox" name="work_in_progress" value="finish_work" id="finish_work" class="employer" data-postfin="{{ post.id }}"></td>
       </tr>
     </tbody>
     {% else %}
     <tbody>
       <tr>
         <td><a href="/user/{{ post.spartan.slug }}">{{ post.spartan.first_name }}</a></td>
         <td><a href="/user/{{ post.spartan.slug }}">{{ post.spartan.last_name }}</a></td>
         <td>{{ post.spartan.user.email }}</td>
         <td>{{ post.price }}</td>
	 <td onclick="window.location='{{ post.room.get_absolute_url }}';" style="cursor:pointer">Go to chat</td>
	 <td>{{ post.spartan.user.account.phone }}</td>
         <td>Wait for spartan's confimation</td>
       </tr>
     </tbody>
     {% endif %}
     {% else %}
     <thead>  
       <th>First Name</th>
       <th>Last Name</th>
       <th>Offer</th>
       <th>Offer type</th>
       
       <th>Accept</th>
     </thead>
    <tbody>
    {% if post.offers.all %}
    {% for oferta in post.offers.all %}
    <tr>
    <td> <a href="/user/{{ oferta.spartan.slug }}">{{ oferta.spartan.first_name }} </a></td>
    <td> <a href="/user/{{ oferta.spartan.slug }}">{{ oferta.spartan.last_name }} </a></td>
    <td>{{ oferta.price }}</td>
    <td>{{ oferta.kind }}</td>
    <td><p data-placement="top" data-toggle="tooltip" >
        <button class="btn btn-danger btn-xs hire" data-oferta="{{ oferta.id }}" data-post="{{ post.id }}" id="choose_button">
            <span class="glyphicon glyphicon-ok"></span>
        </button>
      </p>
     </td>
    </tr>
    {% endfor %}
    </tbody>
    {% else %}
    <tr>
    <td> Nobody made an offer yet. </td>
    </tbody>
    {% endif %}
    {% endif %}
</table>

<div class="clearfix"></div>
        </div>
            
        </div>
{% endfor %}
</div>
{% if bids %}
<div class="col-md-12">
  <h4>Bids<b id="post_title_bidders"></h4>
  <div class="table-responsive">

    <table id="mytable" class="table table-bordred table-striped"
           data-table-post="{{ post.id }}">
      <thead>  
	<th>Annoucement title</th>
	<th>Offer</th>
	<th>Offer type</th>
	<th>Chat</th>
	<th>or call the employer!</th>
	<th>Job done</th>
      </thead>
      <tbody>
	{% for bid in bids %}
	{% if bid.post.status and bid.status and bid.post.spartan_done %}
	<tr>
	  <td onclick="window.location='{{ bid.post.get_absolute_url }}';" style="cursor: pointer;">{{ bid.post.title }}</td>
	  <td>{{ bid.price }}</td>
	  <td>{{ bid.kind }}</td>
	  <td onclick="window.location='{{ bid.post.room.get_absolute_url }}';" style="cursor: pointer;">Go to chat</td>
	  <td> {{ bid.post.author.account.phone }} </td>
	  <td>Waiting for employer's confimations</td>
	  </td>
	</tr>
	{% elif bid.post.status and bid.status %}
	<tr>
	  <td onclick="window.location='{{ bid.post.get_absolute_url }}';" style="cursor: pointer;">{{ bid.post.title }}</td>
	  <td>{{ bid.price }}</td>
	  <td>{{ bid.kind }}</td>
	  <td onclick="window.location='{{ bid.post.room.get_absolute_url }}';" style="cursor: pointer;">Go to chat</td>
	  <td> {{ bid.post.author.account.phone }} </td>
	  <td><input type="checkbox" name="work_in_progress" value="finish_work" id="finish_work" class="spartan" data-post="{{ bid.post.id }}"></td>
	  </td>
	</tr>
	{% elif not bid.post.status and not bid.status %}
	<tr>
	  <td>{{ bid.post.title }}</td>
	  <td>{{ bid.price }}</td>
	  <td>{{ bid.kind }}</td>
	  <td> - </td>
	  <td> - </td>
	  <td>Offer wasn't accepted, yet.</td>
	</tr>
	{% endif %}
	{% endfor %}
      </tbody>





{% endif %}
</table>

<div class="clearfix"></div>
        </div>
        </div>
    </div>
</div>




<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
      <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="Heading">Edit Your Detail</h4>
      </div>
          <div class="modal-body">
          <div class="form-group">
        <input class="form-control " type="text" placeholder="Mohsin">
        </div>
        <div class="form-group">
        
        <input class="form-control " type="text" placeholder="Irshad">
        </div>
        <div class="form-grou"p>
        <textarea rows="2" class="form-control" placeholder="CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan"></textarea>
    
        
        </div>
      </div>
          <div class="modal-footer ">
        <button type="button" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
      </div>
        </div>
    <!-- /.modal-content --> 
  </div>
      <!-- /.modal-dialog --> 
    </div>
    
    
    
    <div class="modal fade confirmation_box" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
      <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="Heading">Confirmation:</h4>
      </div>
          <div class="modal-body">
       
       <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span>Are you sure ?</div>
       
      </div>p
        <div class="modal-footer ">
        <button type="button" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
      </div>
        </div>
    <!-- /.modal-content --> 
  </div>
      <!-- /.modal-dialog --> 
    </div>
    <div class="container">
    <div class="row">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        


               <!-- page end-->
          </section>
</section>
        </section>
    <script>
      // Jquery pentru accept 
    $(document).ready(function(){
        $(".hire").click(function(event){
            var oferta = $(this).data("oferta");
            var post_id = $(this).data("post");
            $.post("/posts/", { "offer": oferta }, function(response) {
                 if (response.result == "success") {
                     console.log("success");
                     $(location).attr('href', '/posts/');
                 }
            })
            return true;
        });
    });
    </script>                
        <script>
	  // Jquery pentru job done la Spartan
    $(document).ready(function(){
        $(".spartan").change(function(event){
          var post_id = $(this).data("post");
            $.post("/posts/", { "post": post_id }, function(response) {
                 if (response.result == "success") {
                     console.log("success");
                     $(location).attr('href', '/posts/');
                 }
            })
            return true; 
        });
    });
    </script>               
        <script>
	  // Jquery pentru job done la employer
    $(document).ready(function(){
        $(".employer").change(function(event){
          var post_id = $(this).data("postfin");
            $.post("/posts/", { "post_empl": post_id }, function(response) {
                 if (response.result == "success") {
                     console.log("success");
                     var url = '/review/'+response.slug + '/' + response.hash
                     $(location).attr('href', url)
                 }
            })
            return true; 
        });
    });
    </script> 
        <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip(); 
        });
        </script>
        <script>
                $("#show_other_bids").click(function(){
                    $(".each_bid").toggleClass('show_bids');
                });
        </script>
        <script>
            $(document).ready(function(){
            $("#mytable #checkall").click(function () {
                    if ($("#mytable #checkall").is(':checked')) {
                        $("#mytable input[type=checkbox]").each(function () {
                            $(this).prop("checked", true);
                        });
                    } else {
                        $("#mytable input[type=checkbox]").each(function () {
                            $(this).prop("checked", false);
                        });
                    }
                });
                
                $("[data-toggle=tooltip]").tooltip();
            });
        </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    </body>
{% endblock %}
