{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
                 <section class="wrap" id="first-section">
                    <div class="row title-row">
                            <div class="col-12 font-thin categories-gallery">Crează<span class="font-semibold"> anunț</span></div>
                    </div>
                    <div class="slide story" id="slide-6" data-slide="6">


                        <div class="container">
                          <div>
                          <div class="card"></div>
                          <div class="card" id="login-box">

                              <h1 class="title">Te rog introdu: </h1>
                            <form method="POST">
				{% csrf_token %}
                                <div class="input-container">
                                    <input type="text" id="Username" name="title" required="required"/>
                                    <label for="Username">Titlul anuntului</label>
                                    <div class="bar"></div>
                                </div>
                                <div class="input-container">
                                    <input type="text" id="Username" name="text" required="required"/>
                                    </textarea>
                                    <label for="Username">Descrieti nevoia Dumneavoastra aici</label>
                                    <div class="bar"></div>
                                </div>
                                <div class="input-container">
                                    <select class="form-control input-lg m-bot15" id="choose_category" name="category">
                                        <option disabled selected id="disabeled-option">Alegeti o categorie in care sa va integrati anuntul</option>
                                        <option>Garden</option>
                                        <option>Moving</option>
                                        <option>Cleaning</option>
                                        <option>Babysitting</option>
                                        <option>Cooking</option>
                                        <option>Others</option>
                                    </select>
                                    <div class="bar"></div>
                                </div>


                                <div class="input-container">
                                    <input type="text" id="Username" name="money" required="required"/>
                                    <label for="Username">Suma maxima pentru licitatie (lei)</label>
                                    <div class="bar"></div>
                                </div>





                                <!---->
                                   <div class="input-container">
                                    <select class="form-control input-lg m-bot15" id="choose_category" name="country">
                                        <option disabled selected id="disabeled-option">Tara</option>
                                        <option>Romania</option>

                                    </select>
                                    <div class="bar"></div>
                                </div>

                                <!---->


                                 <!---->
                                   <div class="input-container">
                                    <select class="form-control input-lg m-bot15" id="choose_category" name="city">
                                        <option disabled selected id="disabeled-option">Oras</option>
                                        <option>Timisoara</option>

                                    </select>
                                    <div class="bar"></div>
                                </div>

                                <!---->

				<div class="input-container">
                                    <input class="form-control event_input tcal" id="datepicker" name="Date" type="text" />
                                    <label for="Username">Data evenimentului</label>
                                    <div class="bar"></div>
                                </div>
                               <div class="input-container">
                                    <input type="text" id="timepicker-one" name="timepicker-one" class="timepicker" required="required"/>
                                    <label for="Username">Ora evenimentului</label>
                                    <div class="bar"></div>
                                </div>
                                <div class="input-container">
                                    <input type="text" id="Username" name="adress" required="required"/>
                                    <label for="Username">Locatia anuntului</label>
                                    <div class="bar"></div>
                                </div>
                                <div class="button-container">
                                    <button><span>Go</span></button>
                                </div>
                            </form>
                          </div>

                        </div>
                    </div><!-- /container -->
                </div>
    </section>

            </header>
</section>

{% endblock %}
