{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
                 <section class="wrap" id="first-section">
                    <div class="row title-row">
                            <div class="col-12 font-thin categories-gallery">Create a new<span class="font-semibold"> post</span></div>
                    </div>
                    <div class="slide story" id="slide-6" data-slide="6">


                        <div class="container">
                          <div>
                          <div class="card"></div>
                          <div class="card" id="login-box">

                            <form method="POST">
			      {% csrf_token %}
			      {% if errors %}
				<div class="error">
				  {% for message in errors %}
				  <ul>
				    <li>{{ message }}</li>
				  </ul>
				  {% endfor %}
				</div>
				{% endif %}
				{% for field in form %}
                               <div class="input-container">
				    {{ field }}
				    {% if field.label != 'Category' and field.label != 'City' and field.label != 'Country' %}
                                    <label for="Username">{{ field.label }}</label>
				    {% endif %}
                                    <div class="bar"></div>
                                </div>
			       {% endfor %}
                                <div class="button-container">
                                    <button><span>Go</span></button>
                                </div>
                            </form>
                          </div>

                        </div>
                    </div><!-- /container -->
                </div>
    </section>

            </header>
</section>

{% endblock %}
