<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Spartan Project</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link href="{% static "css/half-slider.css" %}" rel="stylesheet"/>
    <link href="{% static "css/one-page-wonder.css" %}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/default.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/component.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/heroic-features.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/line-icons.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/elegant-icons-style.css" %}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

</head>

<body>

    <!-- Navigation -->

    <div class="cbp-af-header" id="user-menu">
				<div class="cbp-af-inner">
                    <a href="{% url 'home' %}" id="return-home"><h1>Spartan</h1></a>

                <!-- Search bar -->
                   <div class="nav search-row" id="top_menu">

                    </div>


                </div>

        <!-- Notification dropdown -->
            <div class="top-nav notification-row" id="user-menu-buttons">
                <!-- notificatoin dropdown start-->
                <ul class="nav pull-right top-menu">

                    <!-- task notificatoin start -->
                    <a href="{% url 'submit' %}"><li id="task_notificatoin_bar">
                <span class="glyphicon glyphicon-plus" id="create_post_icon" toggle="tooltip" data-placement="bottom" title="Hooray!">
                </span>
                         </li>
    </a>
                    <!-- task notificatoin end -->
                    <!-- inbox notificatoin start-->
                    <li id="mail_notificatoin_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="fa fa-envelope-o" id="notifications-icon"></i>
                            <span class="badge bg-important">5</span>
                        </a>
                        <ul class="dropdown-menu extended inbox">
                            <div class="notify-arrow notify-arrow-blue"></div>
                            <li>
                                <p class="blue">Ai x mesaje noi</p>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="photo"><img alt="avatar" src="{% static "img/avatar-mini.jpg" %}"></span>
                                    <span class="subject">
                                    <span class="from">Greg  Martin</span>
                                    <span class="time">1 min</span>
                                    </span>
                                    <span class="message">
                                        I really like this admin panel.
                                    </span>
                                </a>
                            </li>
                           <li>
                                <a href="#">Vezi toate mesajele</a>
                            </li>
                        </ul>
                    </li>
                    <!-- inbox notificatoin end -->
                    <!-- alert notification start-->
                    <li id="alert_notificatoin_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                            <i class="fa fa-bell-o" id="notifications-icon"></i>
                            <span class="badge bg-important">7</span>
                        </a>
                        <ul class="dropdown-menu extended notification">
                            <div class="notify-arrow notify-arrow-blue"></div>
                            <li>
                                <p class="blue">Ai x notficări noi</p>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="label label-primary"><i class="icon_profile"></i></span>
                                    Friend Request
                                    <span class="small italic pull-right">5 mins</span>
                                </a>
                            </li>
                           <li>
                                <a href="#">Vezi toate notifcările</a>
                            </li>
                        </ul>
                    </li>
                    <!-- alert notification end-->
                    <!-- user login dropdown start-->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="profile-ava">
                                <img alt="" src="http://www.gravatar.com/avatar/{{ cod }}">
                            </span>
                            <span class="username">{{ user.username }}</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <div class="log-arrow-up"></div>
                            <li class="eborder-top">
                                <a href="{% url 'profile' %}"><i
                                        class="icon_profile"></i>Profilul meu</a>
                            </li>
                            <li>
                                <a href="#"><i class="icon_mail_alt"></i>Căsuța
                                poștală</a>
                            </li>
                            <li>
                                <a href="#"><i class="icon_clock_alt"></i> Oferte</a>
                            </li>
                            <li>
                                <a href="#"><i class="icon_chat_alt"></i> Mai un Buton</a>
                            </li>
                            <li>
                                <p class="blue">Logged In As:</p>
                            </li>
                            <li>
                                <a href="#"><i>Te poti angaja</i><div class="checkbox"> <label> <input type="checkbox">Spartan</label> </div></a>
                            </li>
                            <li>
                                <a href="#"><i>Poti Angaja</i><div class="checkbox"> <label> <input type="checkbox"> Angajator</label> </div></a>
                            </li>
                            <li>
                                <a href="{% url 'logout' %}"><i
                                        class="icon_key_alt"></i>Deconectare</a>
                            </li>
                        </ul>
                    </li>
                    <!-- user login dropdown end -->
                </ul>
                <!-- notificatoin dropdown end-->
            </div>
    </div>

    <!-- Page Content -->

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~First Section~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

		<section class="third-section" id="wrap">
    <div class="row title-row">
				<div class="col-12 font-thin
                                    categories-gallery">Alege <span class="font-semibold">o categorie</span> </div>
    </div>
    <div class="row line-row">
				<div class="hr">&nbsp;</div>
    </div></div><!-- /row -->
   <div class="row subtitle-row">
		<div class="col-sm-1 hidden-sm">&nbsp;</div>
		</div><!-- /row -->
	<div class="main" id="home">
	  <ul class="cbp-ig-grid">
	{% for kind in categories %}
					<li id="cat1" style="background-image: url({% static 'images/categories/'%}{{ kind }}-banner.jpg");>
						<a href="/category" name="kind" value="{{ kind }}">
							<span class="cbp-ig-icon"><img src="{% static 'images/categories/'%}{{ kind }}-icon.png"></span>
							<h3 class="cbp-ig-title">{{ kind }}</h3>
							<span class="cbp-ig-category"> Dă click aici pentru mai multe</span>
            </a>
					</li>
	{% endfor %}
				</ul>
			</div>
    </section>

   <section class="third-section">
            <div class="row title-row">
				<div class="col-12 font-thin"><span
                                        class="font-semibold">Anuțuri</span> recente</div>
            </div>
			<div class="row line-row">
				<div class="hr">&nbsp;</div>
			</div><!-- /row -->
            <div class="row subtitle-row">
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
			</div><!-- /row -->
            <div class="row container_allign container">
    <!------------------------ PRIMUL ANUNT ------------------------>
                <div class="col-md-3" id="fixed-left-menu">
                    <p class="lead">Category</p>
                    <div class="list-group">
                      {% for kind in categories %}
                            <a href="/category" class="list-group-item" id="left-menu-button"><img src="{% static 'images/categories/'%}{{ kind }}-mini.png" class="left-menu-category-icon"> |  {{ kind }}</a>
                      {% endfor %}
                    </div>
                </div>
                <div id="recent-posts">
                {% if ann %}
                {% for anunt in ann %}
                <div class="col-lg-12" id="distance">
                    <div class="profile-widget profile-widget-info" id="post">
                          <div class="panel-body" id="post_content">
                            <div class="col-lg-2 col-sm-2" style="color:black;">
                            <h4>          {{  anunt.author.username }}</h4>
                              <div class="follow-ava">
                                  <img src="http://www.gravatar.com/avatar/{{ anunt.author.account.cod }}s=200" alt=""> 
                              </div>
                            </div>
                            <div class="col-lg-4 col-sm-4 follow-info description_info">
                                <h2><b id="post-title"> {{ anunt.title }}</b></h2>
                                <h3 id="description">{{ anunt.text }}</h3>
                            </div>
                            <div class="col-lg-2 col-sm-6 follow-info weather-category">
                                      <ul>
                                          <li class="active">

                                              <i class="icon_clock_alt resize-icon"></i><br>

                                              <h4><span><b
                                                          id="post-info-time">Time:</b></span><br
                                                  id="post-time-value">{{ anunt.timePost }}</h4>


                                          </li>

                                      </ul>
                            </div>
							<div class="col-lg-2 col-sm-6 follow-info weather-category">
                                      <ul>
                                          <li class="active">

                                              <i class="icon_calendar resize-icon"></i><br>

                                              <h4><span><b id="post-info-date">Date:</b></span><br id="post-date-value">{{ anunt.data }}</h4>
                                          </li>

                                      </ul>
                            </div>
							<div class="col-lg-2 col-sm-6 follow-info weather-category">
                                      <ul>
                                          <li class="active">

                                              <span><i class="icon_pin_alt resize-icon"></i><br>

                                                  <h4><span><b
                                                              id="post-info-adress">Adress:</b></span><br
                                                      id="post-adress-value">{{ anunt.address }}</h4>
                                          </li>

                                      </ul>
                            </div>
                          </div>
                    </div>
                </div>
                {% endfor %}
        {% endif %}
        </div>
    </section>


    <!-- /.container -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


    <script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
    </script>



</body>

</html>

<!-- colors: #47a3da  -main blue;
             #1f80af  -dark blue;
             #e5f5fa  -light blue;
                                   -->
