.font-thin {
	font-family: "Titillium Web", sans-serif;
	font-weight: 200;
    color: #47a3da;
}

.font-semibold {
	font-family: "Titillium Web", sans-serif;
	font-weight: 600;
    color: #333;
}

.font-light {
	font-family: "Titillium Web", sans-serif;
	font-weight: 300;
}

* {
	position: relative;
}

.breaker {
	clear: both;
	font-size: 1px;
	line-height: 1px;
	height: 1px;
}




:focus {outline:none;}
::-moz-focus-inner {border:0;}


	#home-row-1,
	#home-row-2 {
		padding-top: 25px;
	}
	
	#home-row-1 h1 {
		font-size: 54px;
	}
	
	#home-row-1 h4 {
		font-size: 32px;
	}
	
	#home-row-2 {
		font-size: 25px;
	}
	
	#home-row-2 .col-12 {
		height: 232px;
		padding-top: 30px;
	}
	
	#home-row-2 .col-12 .home-hover {
		height: 166px;
		overflow: hidden;
		padding-top: 26px;
		transition: all ease-in .5s;
	}
	
	#home-row-2 .col-12 .home-hover:hover {
		height: 166px;
		padding-top: 0;
	}

@media (max-width: 767px) {
	#home-row-1,
	#home-row-2 {
		padding-top: 16px;
	}
	
	#home-row-1 h1 {
		font-size: 35px;
	}
	
	#home-row-1 h4 {
		font-size: 21px;
	}
	
	#home-row-2 {
		font-size: 16px;
	}
}

	.title-row {
		font-size: 45px;
		padding-bottom: 50px;
	}
	
	.line-row .hr {
		background-color: #333;
		height: 5px;
		margin: 0 auto;
		width: 33%;
	}
	
	.subtitle-row {
		font-size: 35px;
		padding-bottom: 40px;
		padding-top: 40px;
	}
	
	.content-row {
		padding-top: 45px;
	}
	
	.content-row i,
	#about-row-5 i {
		display: block;
		margin: 0 auto;
		max-height: 100%;
		max-width: 100%;
	}
	
	.content-row h2 {
		font-size: 28px;
		padding-bottom: 40px;
	}
	
	.content-row h4 {
		font-family: "Titillium Web", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
		font-size: 20px;
		font-weight: 300;
	}
	
	i {
		font-size: 80px;
		color: white;
	}
	

@media (max-width: 767px) {
	.title-row {
		font-size: 34px;
		padding-bottom: 33px;
	}
	
	.subtitle-row {
		font-size: 26px;
		padding-bottom: 26px;
		padding-top: 26px;
	}
	
	.content-row {
		padding-top: 29px;
	}
	
	.content-row h2 {
		font-size: 24px;
		padding-bottom: 26px;
	}
	
	.content-row h4 {
		font-size: 20px;
	}
}

@media (max-width: 767px) {
	.with-hover-text{
		margin-bottom: 2em;
		margin-top: 1em;
	}
}
	
	#contact-row-4 .col-12 {
		height: 175px;
		overflow: hidden;
		padding-top: 20px;
		transition: all ease-in .5s;
	}
	
	#contact-row-4 img {
		display: block;
		margin: 0 auto;
		max-height: 100%;
		max-width: 100%;
	}
	
	#contact-row-4 .col-12:hover {
		height: 175px;
		padding-top: 0;
	}
	
	#contact-row-4 .col-12 .hover-text {
		display: none;
		font-size: 20px;
	}

#lightbox-out {
	background-color: rgba( 0, 0, 0, 0.7 );
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 99999;
}

.with-hover-text span {
	display: none;
}

.zoom {
	background-image: url('../images/zoom.png');
	background-position: center center;
	background-repeat: no-repeat;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 999;
}

#arrows {
	bottom: 10%;
	height: 80px;
	position: fixed;
	right: 10%;
	width: 80px;
	z-index: 1000;
}

#arrows div {
	background-image: url('../images/website-arrows.png');
	cursor: pointer;
	height: 30px;
	position: absolute;
	width: 30px;
}

#arrows div.disabled {
	cursor: default;
}

#arrow-up {
	background-position: 30px 0;
	left: 25px;
	top: 0;
}

#arrow-up.disabled {
	background-position: 0 0;
}

#arrow-down {
	background-position: 30px -30px;
	left: 25px;
	bottom: 0;
}

#arrow-down.disabled {
	background-position: 0 -30px;
}

#arrow-left {
	background-position: 30px -60px;
	left: 0;
	top: 25px;
}

#arrow-left.disabled {
	background-position: 0 -60px;
}

#arrow-right {
	background-position: 30px -90px;
	right: 0;
	top: 25px;
}

#arrow-right.disabled {
	background-position: 0 -90px;
}

.navigation-slide {
	cursor: pointer;
}

.font-thin {
    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
    text-align: center;
    padding-top: 5%;
}

.font-semibold {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~SECTIONS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.first-section{
    width: 100%;
    background-color:  #ffffff;
    height: auto;
    padding-bottom: 150px;
    scroll-behavior: smooth;
}

.wrap{
    width: 100%;
    background-color:  #ffffff;
    height: auto;
    scroll-behavior: smooth;
}

.secound-section {
    width: 100% !important;
    font-size: 100% !important;
    scroll-behavior: smooth;
    background-image: url("../images/try2.jpg");
    background-attachment: fixed;
    background-position: center;
}

.third-section{
    width: 100%;
    background-color:  #ffffff;
    height: auto;
    padding-bottom: 150px;
    scroll-behavior: smooth;
}

.fourth-section{
    width: 100%;
    height: auto;
    padding-bottom: 50px;
    background-image: url("../images/slide-cover.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
	
}

.scroll-background{
    
}

.navbar-inverse{
    background-color: rgba(0, 153, 204, 0.9);
    border-bottom: 1px solid  #0099cc;
}

.cbp-so-scroller {
	margin-top: 3em;
	overflow: hidden;
}

.cbp-so-section {
	margin-bottom: 15em;
}

/* Clear floats of children */
.cbp-so-section:before,
.cbp-so-section:after {
	content: " ";
	display: table;
}

.cbp-so-section:after {
	clear: both;
}

/* Text styling */
.cbp-so-section h2 {
	font-size: 5em;
	font-weight: 300;
	line-height: 1;
}

.cbp-so-section p {
	font-size: 2em;
	font-weight: 300;
}

/* Sides */
.cbp-so-side {
	width: 50%;
	float: left;
	margin: 0;
	padding: 3em 4%;
	overflow: hidden;
	min-height: 12em;
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	-moz-transition: -moz-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

/* Clear floats of children */
.cbp-so-side:before,
.cbp-so-side:after {
	content: " ";
	display: table;
}

.cbp-so-side:after {
	clear: both;
}

.cbp-so-side-right {
	text-align: left;
}

.cbp-so-side-left {
	text-align: right;
}

.cbp-so-side-right img {
	float: left;
}

.cbp-so-side-left img {
	float: right;
}

/* Initial state (hidden or anything else) */
.cbp-so-init .cbp-so-side {
	opacity: 0;
}

.cbp-so-init .cbp-so-side-left {
	-webkit-transform: translateX(-80px);
	-moz-transform: translateX(-80px);
	transform: translateX(-80px);
}

.cbp-so-init .cbp-so-side-right {
	-webkit-transform: translateX(80px);
	-moz-transform: translateX(80px);
	transform: translateX(80px);
}

/* Animated state */
/* add you final states (transition) or your effects (animations) for each side */
.cbp-so-section.cbp-so-animate .cbp-so-side-left,
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
	opacity: 1;
}

/* For example, add a delay for the right side:
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
*/

/* Example media queries */

@media screen and (max-width: 73.5em) {
	.cbp-so-scroller {
		font-size: 65%;
	}

	.cbp-so-section h2 {
		margin: 0;
	}

	.cbp-so-side img {
		max-width: 120%;
	}
}

@media screen and (max-width: 41.125em) {
	.cbp-so-side {
		float: none;
		width: 100%;
	}

	.cbp-so-side img {
		max-width: 100%;
	}
}
.cbp-af-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #ffffff;
	z-index: 10000;
	height: auto;
	overflow: hidden;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;
    border-bottom: 1px solid #47a3da;
}

#user-menu{
        overflow: visible;
    
}

.cbp-af-header .cbp-af-inner {
	width: 90%;
	max-width: 90em;
	margin: 0 auto;
	padding: 0 1.875em;
}

.cbp-af-header h1,
.cbp-af-header nav {
	display: inline-block;
	position: relative;
}

 /* We just have one-lined elements, so we'll center the elements with the line-height set to the height of the header */
.cbp-af-header h1,
.cbp-af-header nav a {
	line-height: 90px;
}

.cbp-af-header h1 {
	text-transform: uppercase;
	color: #47a3da;
	letter-spacing: 4px;
	font-size: 4em;
	margin: 0;
	float: left;
}

.cbp-af-header nav {
	margin: 0 auto;
}

.cbp-af-header nav a {
	color: #aaa;
	font-weight: 700;
	margin: 0 0 0 20px;
	font-size: 1.4em;
}

.cbp-af-header nav a:hover {
	color: #333;
}

/* Transitions and class for reduced height */
.cbp-af-header h1,
.cbp-af-header nav a {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.cbp-af-header.cbp-af-header-shrink {
	height: 90px;
}

.cbp-af-header.cbp-af-header-shrink h1,
.cbp-af-header.cbp-af-header-shrink nav a {
	line-height: 90px;
}

.cbp-af-header.cbp-af-header-shrink h1 {
	font-size: 2em;
}

/* Example Media Queries */
@media screen and (max-width: 55em) {
	
	.cbp-af-header .cbp-af-inner {
		width: 100%;
	}

	.cbp-af-header h1,
	.cbp-af-header nav {
		display: block;
		margin: 0 auto;
		text-align: center;
		float: none;
	}

	.cbp-af-header h1,
	.cbp-af-header nav a {
		line-height: 115px;
	}

	.cbp-af-header nav a {
		margin: 0 10px;
	}

	.cbp-af-header.cbp-af-header-shrink h1,
	.cbp-af-header.cbp-af-header-shrink nav a {
		line-height: 45px;
	}

	.cbp-af-header.cbp-af-header-shrink h1 {
		font-size: 2em;
	}

	.cbp-af-header.cbp-af-header-shrink nav a {
		font-size: 1em;
	}
}

@media screen and (max-width: 32.25em) {
	.cbp-af-header nav a {
		font-size: 1em;
	}
}

@media screen and (max-width: 24em) {
	.cbp-af-header nav a,
	.cbp-af-header.cbp-af-header-shrink nav a {
		line-height: 1;
	}
}

.categories-gallery{
    color: #47a3da;
}

.cbp-vm-add {
	color: #47a3da;
	background: rgba(255, 255, 255, 0.8);
	padding: 15px 25px;
	border-radius: 2px;
	margin-top: 90px;
    margin-bottom: -120px;
	display: inline-block;
	transition: background 0.2s;
    border: solid 1px #ffffff;
    text-decoration: none;
    font-size: 20px;
}

.cbp-vm-add:hover {
	color: #ffffff;
	background: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.cbp-vm-add:before {
	margin-right: 5px;
}

@media (max-width: 767px) {
	.with-hover-text{
		margin-bottom: 2em;
		margin-top: 1em;
	}
}

#contact-row-4 .col-12 .hover-text {
		display: none;
		font-size: 20px;
	}
.hover-text:hover{
    overflow: visible;
    display: inline-block;
    opacity: 1;
    padding-top: 12px;
}

.about-text{
    color: #333 !important;
    overflow: visible;
}

.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */
header {
  height: 200px;
  line-height: 200px;
  text-align: center;
  background: #303e49;
}
header h1 {
  color: white;
  font-size: 18px;
  font-size: 1.125rem;
}
@media only screen and (min-width: 1170px) {
  header {
    height: 300px;
    line-height: 300px;
  }
  header h1 {
    font-size: 24px;
    font-size: 1.5rem;
  }
}

#cd-timeline {
  position: relative;
  padding: 2em 0;
  
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #ffffff;
}
@media only screen and (min-width: 1170px) {
  
#cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}
.cd-timeline-img.cd-picture {
  background: #e5f5fa;
}
.cd-timeline-img.cd-movie {
  background: #1f80af;
}
.cd-timeline-img.cd-location {
  background: #f0ca45;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: #303e49;
}
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}
.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
  }
  .cd-timeline-content p {
    font-size: 16px;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .cd-timeline-content .cd-read-more {
    float: left;
    font-size: 100% !important;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

#fourth-section-title{
    color: #fff;
}

#vector-title{
    overflow: visible;
    z-index: 2;
}

#menu1-flow{
    scroll-behavior: smooth;
     animation: moveDown 0.6s ease-in-out 0.2s backwards;
}

#menu2-flow{
    scroll-behavior: smooth;
     animation: moveDown 0.6s ease-in-out 0.3s backwards;
}

#menu3-flow{
    scroll-behavior: smooth;
     animation: moveDown 0.6s ease-in-out 0.4s backwards;
}

#menu4-flow{
    scroll-behavior: smooth;
     animation: moveDown 0.6s ease-in-out 0.5s backwards;
}

@keyframes moveDown{
    0% { 
        transform: translateY(-40px); 
        opacity: 0;
    }
    100% { 
        transform: translateY(0px);  
        opacity: 1;
    }
}

#button-flow{
    scroll-behavior: smooth;
    animation: moveDown 0.6s ease-in-out 0.9s backwards;
    padding: 6px;
    border: 1px solid #47a3da;
    border-radius: 5px;
    font-size: 25px;
    text-decoration: none;
    font-family: Titillium Web;
    font-weight: 200;
}

#button-flow:hover{
    background-color: rgba(71, 163, 218, 0.2);
    color: #47a3da;
}

#line-flow{
    scroll-behavior: smooth;
     animation: moveDown 0.6s ease-in-out 0.9s backwards;
    pointer-events: none;
}

#register-button{
    float: right;
}

#menu-button{
    margin: 0 auto;
}

/* Card */
.card {
  position: relative;
  background: #ffffff;
  border-radius: 5px;
  padding: 60px 0 40px 0;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: .3s ease;
  transition: .3s ease;
  /* Title */
  /* Inputs */
  /* Button */
  /* Footer */
  /* Alt Card */
  width: auto;
}
.card:first-child {
  background: #e5f5fa;
  height: 10px;
  border-radius: 5px 5px 0 0;
  margin: 0 10px;
  padding: 0;
  width: auto;
}
.card .title {
  position: relative;
  z-index: 1;
  border-left: 5px solid #47a3da;
  margin: 0 0 35px;
  padding: 10px 0 10px 50px;
  color: #47a3da;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
}
.card .input-container {
  position: relative;
  margin: 0 60px 50px;
}
.card .input-container input {
  outline: none;
  z-index: 1;
  position: relative;
  background: none;
  width: 100%;
  height: 60px;
  border: 0;
  color: #212121;
  font-size: 24px;
  font-weight: 400;
}
.card .input-container input:focus ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
          transform: translate(-12%, -50%) scale(0.75);
}
.card .input-container input:focus ~ .bar:before, .card .input-container input:focus ~ .bar:after {
  width: 50%;
}
.card .input-container input:valid ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
          transform: translate(-12%, -50%) scale(0.75);
}
.card .input-container label {
  position: absolute;
  top: 0;
  left: 0;
  color: #757575;
  font-size: 24px;
  font-weight: 300;
  line-height: 60px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.card .input-container .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #757575;
  width: 100%;
  height: 1px;
}
.card .input-container .bar:before, .card .input-container .bar:after {
  content: '';
  position: absolute;
  background: #47a3da;
  width: 0;
  height: 2px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}
.card .input-container .bar:before {
  left: 50%;
}
.card .input-container .bar:after {
  right: 50%;
}
.card .button-container {
  margin: 0 60px;
  text-align: center;
}
.card .button-container button {
  outline: 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: 0;
  width: 240px;
  border: 2px solid #e3e3e3;
  padding: 20px 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card .button-container button span {
  position: relative;
  z-index: 1;
  color: #ddd;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card .button-container button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background: #47a3da;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: -15px 0 0 -15px;
  opacity: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card .button-container button:hover, .card .button-container button:active, .card .button-container button:focus {
  border-color: #47a3da;
}
.card .button-container button:hover span, .card .button-container button:active span, .card .button-container button:focus span {
  color: #47a3da;
}
.card .button-container button:active span, .card .button-container button:focus span {
  color: #ffffff;
}
.card .button-container button:active:before, .card .button-container button:focus:before {
  opacity: 1;
  -webkit-transform: scale(10);
  transform: scale(10);
}
.card .footer {
  margin: 40px 0 0;
  color: #d3d3d3;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
.card .footer a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card .footer a:hover {
  color: #bababa;
}
.card.alt {
  position: absolute;
  top: 40px;
  right: -70px;
  z-index: 10;
  width: 140px;
  height: 140px;
  background: none;
  border-radius: 100%;
  box-shadow: none;
  padding: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  /* Toggle */
  /* Title */
  /* Input */
  /* Button */
}
.card.alt .toggle {
  position: relative;
  background: #47a3da;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #ffffff;
  font-size: 58px;
  line-height: 140px;
  text-align: center;
  cursor: pointer;
}
.card.alt .title,
.card.alt .input-container,
.card.alt .button-container {
  left: 100px;
  opacity: 0;
  visibility: hidden;
}
.card.alt .title {
  position: relative;
  border-color: #ffffff;
  color: #ffffff;
}
.card.alt .title .close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 60px;
  display: inline;
  color: #ffffff;
  font-size: 58px;
  font-weight: 400;
}
.card.alt .title .close:before {
  content: '\00d7';
}
.card.alt .input-container input {
  color: #ffffff;
}
.card.alt .input-container input:focus ~ label {
  color: #ffffff;
}
.card.alt .input-container input:focus ~ .bar:before, .card.alt .input-container input:focus ~ .bar:after {
  background: #ffffff;
}
.card.alt .input-container input:valid ~ label {
  color: #ffffff;
}
.card.alt .input-container label {
  color: rgba(255, 255, 255, 0.8);
}
.card.alt .input-container .bar {
  background: rgba(255, 255, 255, 0.8);
}
.card.alt .button-container button {
  width: 100%;
  background: #ffffff;
  border-color: #ffffff;
}
.card.alt .button-container button span {
  color: #47a3da;
}
.card.alt .button-container button:hover {
  background: rgba(255, 255, 255, 0.9);
}
.card.alt .button-container button:active:before, .card.alt .button-container button:focus:before {
  display: none;
}

/* Keyframes */
@-webkit-keyframes buttonFadeInUp {
  0% {
    bottom: 30px;
    opacity: 0;
  }
}
@keyframes buttonFadeInUp {
  0% {
    bottom: 30px;
    opacity: 0;
  }
}

@media (min-width: 1200px){

    #login-box{
        width: 890px !imporatnt;
    } 

}

@media (max-width: 1400px){

    .resize-icon{
        font-size: 40px;
    }
    .profile-widget img{
        width: 70px;
        height: 70px;
    }
    #post-title{
        font-size: 30px;
    }
    #post-info-time{
        font-size: 10px !important;
    }
    #post-info-date{
        font-size: 10px !important;
    }
    #post-info-adress{
        font-size: 10px !important;
    }
    #post-time-value{
        font-size: 10px !important;
    }
    #post-date-value{
        font-size: 10px !important;
    }
    #post-adress-value{
        font-size: 10px !important;
    }
    #post-title{
        font-size: 20px;
    }
    #description{
        font-size: 20px;
    }
    #laptop-icon{
        width: 345px;
        height: 245px;
    }
    .card.alt.plus-create{
        position: static !important;
    }
    .card.alt.plus-create img{
        padding-top: 10px;
        height: auto;
        width: auto;
    }


}

.compact{
    width: 50%;
    margin: 0 auto;
}

.card.alt.plus-create{
    position: static !important;
    margin: 0 auto;
}

.card.alt.plus-create img{
    padding-top: 10px;
    height: 110px;
    width: 100px;
}

#vector-login{
    margin: 0 auto;
    vertical-align: inherit;
}

.upload-picture{
    font-size: 15px;
    background-color: #e5f5fa;
    color: #1f80af;
    border-radius: 5px;
    margin-top: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    text-align: center;
    padding: 5px 3px 5px 3px;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    margin-left: -10px;
}

#return-home{
    text-decoration: none;
}

#user-buttons li{
    display: inline-block;
    text-decoration: none;
    
}

#user-buttons{
        line-height: 90px; 
    
}

.user-profile-picture{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: 1px solid #000000;
}

#menu-icons{
    font-size:15px;
}

#create_post_icon {
    font-size: 60px;
    margin-top: -2px;
    color: #ABABAB;
    font-family: 'aria' !important;
}

#user-menu-buttons{
    margin-right: 5%;
}

#notifications-icon{
    color: #ABABAB;
    font-size: 30px;
    margin-top: 7px;
}

#nav-search{
    border-radius: 0px;
    height: 50px;
    width: 22em;
}

@media (max-width: 1366px){
    .card.alt .toggle{
        width: 100px;
        height: 100px;
    }
    #vector-login{
        width: 50px;
        height: 50px;
        vertical-align: text-top;
    }
    .card{
        width:80%;
        margin: 0 auto;
    }
    .card:first-child{
        width: 80%;
        margin: 0 auto;
    }
    .card .title{
        font-size: 25px;
    }
    .card.alt{
        right: -40px;
    }
    #create_post_icon{
        font-size: 40px;
        margin-top: 7px;
        font-weight: 500;
    }
    #notifications-icon{
        font-size: 25px;
    }
}

@media (max-width: 1200px){
    
    .card .title{
       font-size: 20px;
    }
    .card.alt{
        right: -30px;
    }
    .card .input-container input{
        font-size: 18px;
    }
    .card{
        width: 400px;
        margin: 0 auto;
    }
    .card:first-child{
        width: 400px;
        margin: 0 auto;
    }
    #nav-search{
        width: auto;
    }
   
}

@media (max-width: 1000px){
    
    .card.alt{
        right: -150px;
    }
    
}


@media (max-width: 1366px){
    
    #nav-search{
        width: auto;
    }
    
}

@media (max-width: 580px){
    
    #nav-search{
        margin: 0 auto !important;
        float: none !important;
    }
    #user-menu-buttons{
        margin: 0 auto !important;
        float: none !important;
    }
    
}

#wrap{
    padding: 0;
    margin-top: 7%;
}

@media (max-width: 1400px){
    
    #wrap{
        margin-top: 10%;
    }
     #logo-title{
        font-size: 5    0px !important;
    }
    
}

@media (max-width: 1100px){
    
    #wrap{
        margin-top: 20%;
    }
    
}

@media (max-width: 900px){
    
    #register-button{
        margin: 0 auto;
        float: none;
    }
    #wrap{
        marign-top: 30%;
    }
    
}

@media (max-width: 700px){
    
    #wrap{
        margin-top: 50%;
    }
    
}

#home{
    padding: 0 !important;
}

.container_allign{
    width: 80% !important;
    margin: 0 auto !important;
}

.top_title li{
    display: inline-block;
}

#distance{
    margin-top:10px;
}

#recent-posts{
    width: 70%;
    float: left;
}

#post_content{
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}
#post{
    background: #FFFFFF!important;
    color: #fff;
    border: 2px solid #47a3da;
}

#description{
    color: #47a3da;
}

#post-title{
    color: #333;
}

#recent-post{
    text-transform: uppercase;
    font-size: 3em;
}

#sort-by{
    padding: inherit;
    padding-left: 10px;
}   
  

#fixed-left-menu{
    width: 25%;
}

#left-menu-button:hover{
    background-color: rgba(0, 153, 204, 0.2);
    color: rgba(0, 153, 204, 1);
}

.left-menu-category-icon{
    margin-right: 10px;
}

.user-first-title{
    padding-top: 0 !important;
}

.container .jumbotron, .container-fluid .jumbotron{
    padding-right: 60px;
    padding-left: 60px;
}



#category-title{
    color: #fff;
}

#create-post-header{
    background-color: #fff !important;
}

#create-post-title{
    color: rgba(0, 153, 204, 1);
}

#category-banner{
    background-image: url('../images/garden-banner.jpg');
    background-position: center;
}

.create-post-category-button{
    color: #47a3da !important;
    background: rgba(255, 255, 255, 0.8) !important;
    padding: 15px 25px !important;
    border-radius: 2px !important;
    transition: background 0.2s !important;
    border: solid 1px #47a3da !important;    
    font-size: 20px !important;
}

.create-post-category-button:hover{
    color: #47a3da !important;
	background: rgba(255, 255, 255, 1) !important;
    text-decoration: none !important;
}

#search-bar-left-menu{
    margin: 0 auto;
    width: 30% !important;
}

#laptop-icon{
    margin-top: 5%;
}

#get-strated{
    color: #47a3da !important;
	background-color: #fff !important;
	padding: 15px 25px !important;
	border-radius: 2px !important;
    transition: background 0.2s !important;
    border: solid 1px #47a3da !important;
    text-decoration: none !important;
    font-size: 20px !important;
    margin-bottom: 3%;
}

#get-strated:hover{
     background-color: rgba(0, 153, 204, 0.1) !important;
}

#welcome-pharagraph{
    margin-bottom: 4%;
    font-size: 20px;
}

.error{
    font-size: 17px;
    border: 2px solid red;
    text-align: center;
    width: 90% !important;
    margin: 0 auto;
    margin-bottom: 4%;
    display: none; 
}

#notification-bid{
    font-size: 15px;
}

#elements li{
    display: inline-block;
    line-height: 0 !important;
}

.crate_post_input{
    height: 50px;
    width: 100%;
}

.user-name{
    color: #333;
}

#description{
    width: 100%;
    height: auto;
    border: 0px;
    text-align: left;
    color: #333;
}

.footer-distributed{
	background-color: #47A3DA;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	text-align: left;

	padding: 50px 60px 40px;
	margin-top: 80px;
	overflow: hidden;
    margin-bottom: -1%;
}

/* Footer left */

.footer-distributed .footer-left{
	float: left;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0 0 10px;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer social icons */

.footer-distributed .footer-icons{
	margin-top: 40px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Footer Right */

.footer-distributed .footer-right{
	float: right;
}

.footer-distributed .footer-right p{
	display: inline-block;
	vertical-align: top;
	margin: 15px 42px 0 0;
	color: #ffffff;
}

/* The contact form */

.footer-distributed form{
	display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #1f2022;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;

	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color:  #d1d2d2;

	width: 400px;
	padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
	color:  #5c666b;
}

.footer-distributed ::-moz-placeholder {
	color:  #5c666b;
	opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
	color:  #5c666b;
}


.footer-distributed form input{
	height: 55px;
	margin-bottom: 15px;
}

.footer-distributed form textarea{
	height: 100px;
	margin-bottom: 20px;
}

.footer-distributed form button{
	border-radius: 3px;
	background-color:  #33383b;
	color: #ffffff;
	border: 0;
	padding: 15px 50px;
	font-weight: bold;
	float: right;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1000px) {

	.footer-distributed {
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-company-name{
		font-size: 12px;
	}

	.footer-distributed form input,
	.footer-distributed form textarea{
		width: 250px;
	}

	.footer-distributed form button{
		padding: 10px 35px;
	}

}

@media (max-width: 800px) {

	.footer-distributed{
		padding: 30px;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		float: none;
		max-width: 300px;
		margin: 0 auto;
	}

	.footer-distributed .footer-left{
		margin-bottom: 40px;
	}

	.footer-distributed form{
		margin-top: 30px;
	}

	.footer-distributed form{
		display: block;
	}

	.footer-distributed form button{
		float: none;
	}
}

#logo-title{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 4em;
    margin: 0;
    float: left;
}
