{% extends "baseContact.html" %}
{% load staticfiles %}
{% block content %}

<body onload="zoom()">
	<script type="text/javascript">
        function zoom() {
            document.body.style.zoom = "80%"
        }
	</script>



    <!-- Page Content --> 
    
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~First Section~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->  
    
    <section class="wrap" id="first-section">
        
        <div class="row title-row">
				<div class="col-12 font-thin categories-gallery">Frequently Asked Questions<span class="font-semibold"></span></div>
        </div>
        <div class="row line-row">
				<div class="hr">&nbsp;</div>
        </div>
        
        <div class="container">
        <div class="container-fluid">
            <div class="row-fluid">
                    
            </div>
            <div class="row-fluid">

                        <div class="span3 pro">
                            <div class="pricing-table-header-pro">
                                <h2>1.</h2>
                                <h3>Why are employers allowed to leave only positive Feedback for Spartans?</h3>
                            </div><div class="pricing-table-features">
                                <p><strong>Answer:</strong>
                                Most of our Spartans workers are trustworthy persons. Sometimes it may happen to recieve a negative Feedback based on subjective point of view of the employer that can influence in a bad way their reputation on our website. In this case we decided it is better to be able to leave only positive Feedback and write a few words about how the Spartan managed the situation. Also don’t worry if you are having troubles with the Spartan and the way he approached the task, you can always contact the support team and we’ll take care of the problem.</p>
                            </div>

                        </div>

                        <div class="span3 pro">
                            <div class="pricing-table-header-pro">
                                <h2>2.</h2>
                                <h3>What is a Spartan?</h3>
                            </div><div class="pricing-table-features">
                                <p><strong>Answer:</strong>
                                    We use this term to refer to a “Self-Employed Person” an independent contractor who reports income earned from self-employment. They are allowed to choose who they work for, how the work is done and when it is done.
                              </p>
                            </div>

                        </div>

                 <div class="span3 pro">
                            <div class="pricing-table-header-pro">
                                <h2>3.</h2>
                                <h3>How can you become a Spartan?</h3>
                            </div><div class="pricing-table-features">
                                <p><strong>Answer:</strong>
                                    First you have to be registered as a “Self-Employed Person” and then you have to fill a form that can be found by clicking the “Become a Spartan” button in the upper-right corner of our website. Give us your your personal details and your bank account.

                              </p>
                            </div>

                        </div>

                    <div class="span3 pro">
                            <div class="pricing-table-header-pro">
                                <h2>4.</h2>
                                <h3>How can you become an Employer?</h3>
                            </div><div class="pricing-table-features">
                                <p><strong>Answer:</strong>
                                    All you have to do is to create an account and add a post in one of the categories. If you want to be a successful employer, be sure that you treat our Spartans with respect and give them a realistic Feedback based on their actions.
                              </p>
                            </div>

                        </div> </div>

                    <div class="span3 pro">
                            <div class="pricing-table-header-pro">
                                <h2>5.</h2>
                                <h3>Why should I trust a Spartan?</h3>
                            </div><div class="pricing-table-features">
                                <p><strong>Answer:</strong>
                                    We check our Spartans before we allow them to provide services for you. We make sure the Spartans are well trained so they can give the best out of their work.
                              </p>
                            </div>

                        </div>
                   </div>
            </div>





            
    </section>

     

        
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    
    <!-- animations -->
    <script src="js/modernizr.custom.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/main.js"></script>  
    <script src="js/modernizr.js"></script>  
    
   
    
    
    

<!-- scripturi -->
<script src="js/html5shiv.js"></script>
	<script src="js/jquery-1.10.2.min.js"></script>
	<script src="js/jquery-migrate-1.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="fancybox/jquery.fancybox.pack-v=2.1.5.js"></script>
	<script src="js/script.js"></script>
	
	

</body>

</html>

{% endblock %}
