{% extends 'baseContact.html' %}
{% load staticfiles %}
{% block content %}
{% load widget_tweaks %}
<section class="wrap" id="first-section">
        <div class="row title-row">
				<div class="col-12 font-thin
                                    categories-gallery">Contact US</div>
        </div>
        <div class="row line-row">
				<div class="hr">&nbsp;</div>
        </div>
        <div class="slide story" id="slide-6" data-slide="6">
		<div class="container">
            <div class="row title-row">
			<div class="row subtitle-row">
			</div><!-- /row -->

            <div class="container">
              <div class="compact">
              <div class="card"></div>
              <div class="card" id="login-box">
             {% if confirm %}
                    <div class="confirm">
		      {% for message in confirm %}
                        <ul>
                            <li>{{ message }}</li>
                        </ul>
                    {% endfor %}
                    </div>
		    {% endif %}
              {% if form.errors %}
                    <div class="error">
		      {% for field in form %}
		      {% for message in field.errors %}
                        <ul>
                            <li>{{ message }}</li>
                        </ul>
			{% endfor %}
			{% endfor %}
                    </div>
		    {% endif %}
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

		    {% for field in form %}
                    <div class="input-container">
		      {{ field }}
		      {% if field.label != "Captcha" %}

                      <label for="{{ field.label }}">{{ field.label }}</label>
                        <div class="bar"></div>
                        {% endif %}
                    </div>
		    {% endfor %}


                    <div class="button-container">
                        <button type="submit"><span>GO</span></button>
                    </div>

                </form>

              </div>

              <div class="card alt">
                  <h1 class="title">Contact
                    <div class="close"></div>
                  </h1>
                </div>
            </div>
            </div>
		</div><!-- /container -->
	</div>
    </section>
{% endblock %}

