<!DOCTYPE html>
<html>

  <head>
    {% load staticfiles %}
    <title>Spartan Tasks</title>

      <link rel="icon"
      type="image/png"
      href="{% static "img/logo/logoB.png" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" href="{% static "lib/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "lib/css/font-awesome.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "lib/css/animate.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "lib/css/bootstrap-switch.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "lib/css/checkbox3.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "lib/css/jquery.dataTables.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "lib/css/dataTables.bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "lib/css/select2.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/sass/convert.css" %}">

    <!-- CSS App -->
    <link rel="stylesheet" type="text/css" href="{% static "css/datepicker.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/themes/flat-blue.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"> </script>
    <link rel="stylesheet" type="text/css" href="{% static "css/wickedpicker.min.css" %}">

     <!-- Less -->
    <link rel="stylesheet/less" type="text/css" href="{% static "less/datepicker.less" %}"/>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=true&libraries=places'></script>
    <script src="{% static "js/locationpicker.jquery.js" %}"></script>
    <script src="{% static "js/seen_script.js" %}"></script>
    <!-- Sass -->
    <link rel="stylesheet" type="text/css" href="{% static "css/sass/convert.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/wickedpicker.css" %}">

    <!-- Time Picker -->
    <link href="{% static "ss/timepicki.css" rel="stylesheet" %}">
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/timepicki.js" %}"></script>
    <script src="{% static "js/filters_script.js" %}"></script>
  </head>


  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src='http://maps.google.com/maps/api/js?key=AIzaSyCqxEERVO5aii6W3OzBPqVeqSKCuNXKD4s&sensor=true&libraries=places'></script>
<script src="{% static "js/locationpicker.jquery.js" %}"></script>
  
{% load widget_tweaks %}
<body class="flat-blue">
    <div class="app-container">
        <div class="row content-container">
            <nav class="navbar navbar-default navbar-fixed-top navbar-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-expand-toggle" id="expand-menu-button">
                            <i class="fa fa-bars icon"></i>
                        </button>
                        <ol class="breadcrumb navbar-breadcrumb">
                          <li class="active">
			    <form method="GET" action="/search/">
				  {% csrf_token %}
				  <input class="form-control" id="search-bar" name="q" placeholder=" Search..." type="search">
			    </form>
                        </ol>
                        <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                            <i class="fa fa-th icon"></i>
                        </button>
                    </div>
                    <ul class="nav navbar-nav navbar-right" id="toggle-menu">
                        <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                            <i class="fa fa-times icon"></i>
                        </button>
			<li class="dropdown">
                            <a href="/submit/" class="dropdown-toggle" role="button" data-toggle="tooltip" data-placement="bottom" title="Create Task" aria-expanded="false" id="create-post-tooltip"><i class="fa fa-pencil-square-o"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" id="chatcount"><i class="fa fa-comments-o"></i></a>
                            <ul class="dropdown-menu danger  animated fadeInDownx">
                                <li class="title">
                                    Messages <span class="badge pull-right" id="chatnum">0</span>
                                </li>
                                <div class="notifications-list" id="chat-noti-bar-list">
				  {% for notification in user.notifications.all %}
				  {% if notification.not_type == "chat" %}
				  <a href="{{ notification.url }}">
                                    <li class="message" data-notification="{{ notification.id_hash }}" onmouseover="seen_not(this.getAttribute('data-notification'));" id="{{ notification.id_hash }}">
				      You received a message
                                    </li>
				  </a>
				  {% if notification.seen == False %}
				  <script>
				    seennumber++;
				  </script>
				  {% endif %}
				    {% endif %}
				  {% endfor %}
				  <script>
				    seencheck("chat");
				  </script>
                                </div>
                            </ul>
                        </li>
			<script>
			  seennumber=0;
			</script>
                        <li class="dropdown danger">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" id="iconcount"><i class="glyphicon glyphicon-globe"></i></a>
                            <ul class="dropdown-menu danger  animated fadeInDown">
                                <li class="title">
				  Notifications <span class="badge pull-right" id="notifnum">0</span>
                                </li>
                                <li>
                                    <ul class="list-group notifications">
                                      <div class="notifications-list" id="noti-list">
					{% for notification in user.notifications.all %}
					{% if notification.not_type == "post" %}
					{% if notification.seen %}
					<a href="{{ notification.url}}">
                                          <li class="list-group-item">
                  <i class="fa"></i> New post in your area
                                          </li>
                                        </a>
					{% else %}
					<a href="{{ notification.url }}" id="seen_notif_req" data-notification="{{ notification.id_hash }}" onmouseover="seen_not(this.getAttribute('data-notification'));">
                                          <li class="list-group-item" id="{{ notification.id_hash }}">
	<i class="fa fa-exclamation-circle icon"></i>New post in your area
                                          </li>
</a>

					<script>
					  seennumber++;
					</script>
					{% endif %}
					{% elif notification.not_type == "bid" %}
					{% if notification.seen %}
					<a href="{{ notification.url}}">
                                          <li class="list-group-item">
					    <i class="fa"></i> Someone bid on your post
                                          </li>
                                        </a>
					{% else %}
	<a href="{{ notification.url }}" id="seen_notif_req" data-notification="{{ notification.id_hash }}" onmouseover="seen_not(this.getAttribute('data-notification'));">
          <li class="list-group-item" id="{{ notification.id_hash }}">
	<i class="fa fa-exclamation-circle icon"></i>Someone bid on your post
                                          </li>
</a>
					<script>
					  seennumber++;
					</script>
					{% endif %}
					{% endif %}
					{% endfor %}
					<script>
					  seencheck("notif");
					 </script>
				      </div>
                                        <a href="/notifications">
                                            <li class="list-group-item message">
                                                view all
                                            </li>
                                        </a>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown profile">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" id="user_name_not" value="{{ user.username }}">{{ user.username }}<span class="caret"></span></a>
                            <ul class="dropdown-menu animated fadeInDown">
			      <br>
                                <li class="profile-img">
                                    <img style="max-width: 99%;" src="{{ user.account.profile_image.url }}">
                                </li>
                                <li>
                                  <div class="profile-info">
                                        <h4 class="username">{{ user.username }}</h4>
                                        <p>{{ user.email }}</p>
                                        <div class="btn-group margin-bottom-2x" role="group">
                                            <a type="button" href="/profile" class="btn btn-default"><i class="fa fa-user"></i> Profile</a>
                                            <a type="button" class="btn btn-default" href="/logout"><i class="fa fa-sign-out"></i> Logout</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="side-menu sidebar-inverse">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="side-menu-container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="/">
                                <div class="icon fa"><img src="{% static "img/logo/logo.png" %}"  id="logo"></div>
                                <div class="title">Spartan Tasks</div>
                            </a>
                            <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                                <i class="fa fa-times icon"></i>
                            </button>
                        </div>
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="/">
                                    <span class="icon glyphicon glyphicon-home"></span><span class="title">Home</span>
                                </a>
                            </li>
                            <li class="panel panel-default dropdown">
                                <a data-toggle="collapse" href="#dropdown-element">
                                    <span class="icon glyphicon glyphicon-tasks"></span><span class="title">Categories</span>
                                </a>
                                <!-- Dropdown level 1 -->
                                <div id="dropdown-element" class="panel-collapse collapse">
                                    <div class="panel-body">
                                      <ul class="nav navbar-nav">
					{% for category in categories %}
                                            <li><a href="/category/{{ category.name }}/?page=1" name="kind" value={{ category.name }}> {{ category.name }}</a>
                                            </li>
					{% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="panel panel-default dropdown">
                                <a data-toggle="collapse" href="#dropdown-table">
                                    <span class="icon fa fa-table"></span><span class="title">My Tasks</span>
                                </a>
                                <!-- Dropdown level 1 -->
                                <div id="dropdown-table" class="panel-collapse collapse">
                                    <div class="panel-body">
                                      <ul class="nav navbar-nav">
					{% if user.posts.all %}
					{% for post in user.posts.all %}
                                            <li><a href="{{ post.get_absolute_url }}"> {{ post.title }}</a>
                                            </li>
					    {% endfor %}
					    {% endif %}
					<li><a href="/submit">Add a Task</a>

                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <!-- Dropdown-->
                            <li class="panel panel-default dropdown">
                                <a data-toggle="collapse" href="#component-example">
                                    <span class="icon glyphicon glyphicon-comment"></span><span class="title">Chats</span>
                                </a>
                                <!-- Dropdown level 1 -->
                                <div id="component-example" class="panel-collapse collapse">
                                    <div class="panel-body">
                                      <ul class="nav navbar-nav">
					{% if user.spa_rooms.all or user.empl_rooms.all %}
					{% for room in user.empl_rooms.all %}
                                            <li><a href="{{ room.get_absolute_url }}">Chat with {{ room.spartan.username }}</a>
                                            </li>
					    {% endfor %}
					    {% for room in user.spa_rooms.all %}
					<li><a href="{{ room.get_absolute_url }}">Chat with {{ room.employer.username }}</a>
                                        </li>
					{% endfor %}
					 {% else %}
					<li><a> No chat room, yet</a>
					</li>
					{% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </li>
			    {% if not user.account.has_related_object %}
                            <li>
                                <a href="/spartan">
                                    <span class="icon glyphicon glyphicon-education"></span><span class="title">Become a Spartan</span>
                                </a>
                            </li>
			    {% endif %}
			    <li>
                                <a href="/posts">
                                    <span class="icon glyphicon glyphicon-check"></span><span class="title">Tasks/bids manager</span>
                                </a>
                            </li>
			    <li>
                                <a href="/report">
                                    <span class="icon glyphicon glyphicon-ban-circle"></span><span class="title">Report a Spartan/Employer</span>
                                </a>
                            </li>
                            <!-- Dropdown-->
                            <li>
                                <a href="/faq">
                                    <span class="icon glyphicon glyphicon-question-sign"></span><span class="title">Faq</span>
                                </a>
                            </li>
                            <li>
                                <a href="/contact">
                                    <span class="icon glyphicon glyphicon-earphone"></span><span class="title">Contact Us</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>
            </div>
  {% block content %}
  {% endblock %}
  <footer class="app-footer">
    <div class="wrapper">
      <span class="pull-right"><i class="fa fa-long-arrow-up" id="arrow"></i></span>SpartanTasks @ 2016 Copyright.
    </div>
  </footer>


    <script>
        $("#btn-home-index").click(function() {
        $("html, body").animate({ scrollTop: 0 }, "slow");
        return false;
        });
        $("#btn-about-index").click(function() {
        $("html, body").animate({ scrollTop: 525 }, "slow");
        return false;
        });
        $("#btn-contact-index").click(function() {
        $("html, body").animate({ scrollTop: $(document).height() }, "slow");
        return false;
        });
        $('#bid-group').hide();
        $('#open-bid').click(function(){
        $('#bid-group').toggle();
        });
        $("#arrow").click(function() {
        $("html, body").animate({ scrollTop: 0 }, "slow");
        return false;
        });	
	
        $('.other-bids').hide();
        $('#show-bidding-field').on('click', function(){
        $('.other-bids').toggle();
        });
        $('#bidding-place').click(function(){
        alert('The value must be in Dollars($).')
        });
    </script>
    
    <audio style="display:none;" id="notification_sound">
        <source src="{% static "audio/chime.mp3" %}" type="audio/mp3">
    </audio>
    
    <audio style="display:none;" id="chat_sound">
    	<source src="{% static "audio/notificare.mp3" %}" type="audio/mp3">
    </audio>
    <!-- Javascript Libs -->
    <script type="text/javascript" src="{% static "lib/js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "lib/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "lib/js/bootstrap-switch.min.js" %}"></script>
    <script type="text/javascript" src="{% static "lib/js/jquery.matchHeight-min.js" %}"></script>
    <script type="text/javascript" src="{% static "lib/js/jquery.dataTables.min.js" %}"></script>
    <script type="text/javascript" src="{% static "lib/js/dataTables.bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "lib/js/select2.full.min.js" %}"></script>
    <script type="text/javascript" src="{% static "lib/js/ace/ace.js" %}"></script>
    <script type="text/javascript" src="{% static "lib/js/ace/mode-html.js" %}"></script>
    <script type="text/javascript" src="{% static "lib/js/ace/theme-github.js" %}"></script>
    <script type="text/javascript" src="{% static "js/wickedpicker.min.js" %}"></script>
    <script type="text/jquery" src="{% static "js/wickedpickerSpec.js" %}"></script>

    <!-- Javascript -->
    <link rel="stylesheet" type="text/css" href="{% static "css/sass/convert.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/wickedpicker.css" %}">

    <!-- Time Picker -->

    <link rel="stylesheet" type="text/css" href="{% static "css/timepicki.css" %}">
    <script src="{% static "js/timepicki.js" %}"></script>

    <script type="text/javascript" src="{% static  "js/app.js" %}"></script>
    <script type="text/javascript" src="{% static  "js/notifications_script.js" %}"></script>    
    <script type="text/javascript" src="{% static  "js/index.js" %}"></script>
    <script type="text/javascript" src="{% static  "js/bootstrap-datepicker.js" %}"></script>


    <!-- /.container -->
</body>

</html>
