{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
{% load widget_tweaks %}
            <!-- Main Content -->
            <div class="container-fluid">
                <div class="side-body padding-top">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">
                                        {% if request.user.spartan.spartanStatus  == True %}
                                                    <h3>Welcome SPARTAN!</h3>
                                                    {% else %}
                                                    <h3>Welcome {{ user.username }} ! </h3>

                                                   {% endif %}
                                    </div>
                                </div>

                                <div class="card-body">
                                    <div class="row no-margin">
                                        <div class="col-sm-6">
                                            <div class="card primary">
                                                <div class="card-jumbotron no-padding">
                                                   <img src='{{ user.account.profile_image.url }}'  class="img-responsive"  style="height:300px !important ;width:100% !important;"/>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="card">
                                              <div class="card-jumbotron">
                                                    <h4><b>About Me:</b></h4>
                                                    <h5>Descrierea anutului luaraksd saud aoi doiasm odisa iudn suindifineas diusnd s d woij  daosid woia sidua doina dqdia dsoind aowi daiodsmwodm s adsud sadius dsausa fsafsaoijdsa diuwdn asdm usand sadkiasj dusa dsoaudh  kjnsa d auwdasd spojd qon asdjsnadoi wjna osdin wanoina wimd .</h5>
                                                </div>
                                                <div class="card-body">
                                                    <div class="row">
                                              <div class="bio-row">
                                                  <p><span>Username: </span> {{ user.username }} </p>
                                              </div>
                                              <div class="bio-row">
                                                  <p><span>City: </span>{{ user.account.city }}</p>
                                              </div>
                                              <div class="bio-row">
                                                  <p><span>Country: </span> {{ user.account.country }}</p>
                                              </div>
                                              <div class="bio-row">
                                                  <p><span>E-mail: </span> {{ user.email }} </p>
                                              </div>
                                              <div class="bio-row">
                                                  <p><span>Phone number: </span>{{ user.account.phone }}</p>
                                              </div>
                                                        {% if user.spartan.spartanStatus  == True %}
                                                            <h4 style="display: inline-block;"><b>Reviews:</b> {{ request.user.spartan.rating}}</h4><button type="button" style="display: inline-block;" class="pull-right btn btn-success" id="show-reviews">Show Reviews</button>
                                                        {% endif %}

                                          </div>


                                                    <div class="row col-lg-12 col-md-12 col-sm-12">
                                                        
                                                        <div class="card review-card">
                                                            <div class="card-header choose-chater">
                                                                <div class="clear-both"></div>
                                                            </div>
                                                            <div class="card-body no-padding" id="reviews-body">
                                                                <ul class="message-list">
                                                                    {% for review in request.user.spartan.reviews.all %}
                                                                    <a>
                                                                        <li>

                                                                             <img src='{{ review.submitter.account.profile_image.url }}' class = 'img-responsive' style="max-width: 35%;"/>
                                                                            <div class="message-block">
                                                                                <div><span class="username">{{ review.submitter.account.user}}</span> <span class="message-datetime">{{ review.data }}</span>
                                                                                </div>
                                                                                <div class="message">
                                                                                     {{ review.message }}

                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                    </a>
                                                                    {% endfor %}


                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <center>
                                        <div class="row edit-profile">



                                            {% if form_acc.phone.errors or form.username.errors or form.email.errors %}
                                            <center>
                                                <button class="btn btn-success" id="edit-profile-btn" style="color:red;">Error update profile</button>
                                                <a href="/reset"><button class="btn btn-warning">Reset Password</button></a>

                                            </center>

                                            {% else %}
                                            <center>
                                                <button class="btn btn-success" id="edit-profile-btn">Edit Profile</button>
                                                <a href="/reset"><button class="btn btn-warning">Reset Password</button></a>
                                            </center>
                                            {% endif %}
                                            <div class="card" style="display: none;" id="card-edit-profile">
                                                <div class="card-jumbotron" style="padding: 8px;">
                                                    <h3><b>Edit your profile:</b></h3>
                                                </div>



                                        <form method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                                <div class="card-body">
                                                    {% for field in form %}

                                                     <p style="float:left" >{{ field.label }}</p>

                                                    {{ field|add_class:"form-control "|attr:"placeholder,form-control" }}
                                                    {% if field.errors %}
                                                        <div class="alert alert-danger fade in" id="input-alert">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for error in field.errors %}
				                                                {{ error }}
				                                        {% endfor %}
                                                            </div>
                                                            {% endif %}


                                                    {% endfor %}


                                                     <div >

                                                         <div align="left" >
                                            <label  for="exampleInputPassword1">City</label> </div>
                                            <div  align="left" >

                                                 {{ form_acc.city|add_class:"form-control "|attr:"required:required"}}

                                                {% if form_acc.city.errors %}
                                                        <div class="alert alert-danger fade in" id="input-alert">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for error in form_acc.city.errors %}
				                                                {{ error }}
				                                        {% endfor %}
                                                            </div>
                                             {% endif %}
                                            </div>
                                        </div>

                                         <div align="left">
                                            <label for="exampleInputPassword1">Country</label>
                                            <div>

                                                 {{ form_acc.country|add_class:"form-control "|attr:"required:required"}}

                                                {% if form_acc.country.errors %}
                                                        <div class="alert alert-danger fade in" id="input-alert">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for error in form_acc.country.errors %}
				                                                {{ error }}
				                                        {% endfor %}
                                                            </div>
                                             {% endif %}
                                            </div>
                                        </div>

                                         <div align="left">
                                            <label for="exampleInputPassword1">Phone</label>
                                            <div>

                                                 {{ form_acc.phone|add_class:"form-control "|attr:"required:required"}}

                                                {% if form_acc.phone.errors %}
                                                        <div class="alert alert-danger fade in" id="input-alert">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for error in form_acc.phone.errors %}
				                                                {{ error }}
				                                        {% endfor %}
                                                            </div>
                                             {% endif %}
                                            </div>
                                        </div>

                                                     <div align="left">
                                            <label for="exampleInputPassword1">Profile image</label>
                                            <div>

                                                 {{ form_acc.profile_image|add_class:"form-control "}}

                                                {% if form_acc.profile_image.errors %}
                                                        <div class="alert alert-danger fade in" id="input-alert">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for error in form_acc.profile_image.errors %}
				                                                {{ error }}
				                                        {% endfor %}
                                                            </div>
                                             {% endif %}
                                            </div>


                                        </div>


                                                    <!-- Buttons -->
                                                    </div>
                                                    <br>

                                                    <button type="button" class="btn btn-danger" id="cancel_button">Cancel</button>
                                                    <button type="submit" class="btn btn-success">Update</button>


                                                </div>
                                            <form>
                                            </div>
                                        </div>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of Row -->
                </div>
            </div>

            <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.0.0.min.js">
            </script>
            <script>
                $("#arrow").click(function() {
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
                });

                $('.other-bids').hide();
                $('#show-bidding-field').on('click', function(){
                  $('.other-bids').toggle();
                });

                $('#bidding-place').click(function(){
                    alert('The value must be in Dollars($).')
                });

                <!--$('.review-card').hide();-->
                <!--$('#show-reviews').click(function(){-->
                 <!--$('.review-card').slideToggle();-->
                <!--});-->
<!---->
                <!--$('#edit-profile-btn').click(function(){-->
                 <!--$('#card-edit-profile').slideToggle();-->
                 <!--});-->

                 $('#cancel_button').click(function(){
                 $('#card-edit-profile').slideToggle();
                 });
            </script>



{% endblock %}

</div>