{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
                 <section class="wrap" id="first-section">
                   <div class="row title-row">
		    <br>
                            <div class="col-12 font-thin categories-gallery">Chat with<span class="font-semibold"> {{ other.username }}</span></div>
                    </div>
                   <div class="container" id="chat-frame">
		   <div style="height: 500px; overflow-y:auto" class="mes">
                  <ol class="chat">
		{% if messages %}	
		{% for message in messages %}
		{% if message.submitter == other %}  
                <li class="other">
		 {% else %}
		<li class="self">
		 {% endif %}
                 <div class="avatar"><img src="http://www.gravatar.com/avatar/{{ message.submitter.account.cod }}" draggable="false"/></div>
                  <div class="msg">
                    <p>{{ message.message }}</p>
                    <time>{{ message.timestamp }}</time>
                  </div>
                </li>
                <hr>
		{% endfor %}
		{% endif %}
		  </ol>
		  </div>
		  <form method="POST">
		  {% csrf_token %}
                   {{ form.message }}
		 </form>  
                </div>
    </section>

            </header>
</section>
<script>
  $(".mes").animate({ scrollTop: $(document).height() }, "slow");
   return false;
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
{% endblock %}
