{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
{% load widget_tweaks %}
<body onload="zoom()">
	<script type="text/javascript">
        function zoom() {
            document.body.style.zoom = "80%"
        }
	</script>
                 <section class="wrap" id="first-section">
                   <div class="row title-row">
		    <br>
                            <div class="col-12 font-thin categories-gallery">Chat with<span class="font-semibold"> {{ other.username }}</span></div>
                    </div>
                    <div class="container" id="chat-frame">
                  <ol class="chat" style="height: 500px; overflow-y:auto" id="mesg">
		{% if messages %}	
		{% for message in messages %}
		{% if message.submitter == other %}  
                <li class="other">
		 {% else %}
		<li class="self">
		 {% endif %}
                 <div class="avatar"><img src="http://www.gravatar.com/avatar/{{ message.submitter.account.code}}" draggable="false"/></div>
                  <div class="msg">
                    <p>{{ message.message }}</p>
                    <time>{{ message.timestamp }}</time>
                  </div>
                </li>
                <hr>
		{% endfor %}
		{% endif %}
		  </ol>
		  <form method="POST" onsubmit="return sendmessage();">
		  {% csrf_token %}
                  {{ form.message|add_class:'textarea'|attr:"placeholder: Type here!"|attr:"id:textcase"}}
		  <input type="hidden" value={{ request.user.username }} id="user_name">
		 </form>  
                </div>
    </section>

            </header>
</section>
<script>
  var objDiv = document.getElementById("mesg");
  objDiv.scrollTop = objDiv.scrollHeight;
</script>
<script>
 socket = new WebSocket("ws://" + window.location.host + window.location.pathname);
 function sendmessage() {
     var field = document.getElementById("textcase");
     var username = document.getElementById("user_name");
     var url_path = window.location.href.split('/');
     var len = url_path.length;
     message = {
         text: field.value,
         room_slug: url_path[len - 2],
	 user_name: username.value
	 
     }
     socket.send(JSON.stringify(message));
    return false;
 }
 socket.onmessage = function(message){
    var data = JSON.parse(message.data);
    var elem = document.getElementById("chat-frame");
    elem.innerHTML = data.message;
 }

</script>
    </body>
{% endblock %}
