{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!-- Main Content -->
            <div class="container-fluid">
                <div class="side-body padding-top">                
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card" id="chat">
                                <div class="card-header chat-card">
                                    <div class="card-title">
                                        <div class="title chat-title-box">Chat with {{ other }} <h6 style="display:inline-block;x"></h6></div>
                                    </div>
                                    <div class="pull-right card-action">
                                        <div class="btn-group" role="group" aria-label="...">
                                            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#modalCardExample"><i class="glyphicon glyphicon-remove chat-title-box" id="close-chat-box"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body no-padding" id="chat-body">
                                  <ul class="message-list" id="mesg-list">
				    {% for message in messages %}
                                        <a>
                                          <li>
					    {% if message.submitter == user %}
                                            <img src="../../img/profile/profile-1.jpg" class="profile-img pull-right">
					    {% else %}
					    <img src="../../img/profile/profile-1.jpg" class="profile-img pull-left">
					    {% endif %}
                                                <div class="message-block">
                                                    <div><span class="username">{{ message.submitter }}</span> <span class="message-datetime">{{ message.timestamp }}</span>
                                                    </div>
                                                    <div class="message">{{ message.message }}</div>
                                                </div>
                                            </li>
                                        </a>
					{% endfor %}
                                  </ul>
				  <a href="#" id="message-load-more">
                                          <div class="text-center load-more">
					    <form method="POST" onsubmit="return sendmessage();">
					      {% csrf_token %}
                                              <input type="text" id="chat-input" class="class="form-control""> <button type="button" class="btn btn-success">Send</button>
					      </form>
                                            </div>
                                        </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
<script>
  var objDiv = document.getElementById("chat-body");
  objDiv.scrollTop = objDiv.scrollHeight;
</script>
{% endblock %}
