{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<body onload="zoom()">
	<script type="text/javascript">
        function zoom() {
            document.body.style.zoom = "80%"
        }
	</script>
                 <section class="wrap" id="first-section">
                   <div class="row title-row">
		     {% if not spa_messages and not empl_messages %}
		     <br>
                            <div class="col-12 font-thin categories-gallery" style="height:500px">No Messages <span class="font-semibold"> here yet.</span></div>
                   </div>
		   {% else %}
		   <br>
                            <div class="col-12 font-thin categories-gallery">Mess<span class="font-semibold">ages</span></div>
                        </div>
{% endif %}
		   {% if empl_messages %}
                   <div class="container">
                        <table id="chat_table" style="border:none">
                          <thead>
                            <tr id="chat_table_tr">
                              <th colspan="3" id="chat_table_title">Messages as empolyer</th>			      
                            </tr>
                          </thead>
                          <tbody>
			    {% for room in empl_messages %}
                            <tr id="chat_table_tr" onclick="window.location='{{ room.get_absolute_url }}';" style="cursor: pointer;">
                              <td id="chat_table_td">Chat with {{ room.employer.username }}</td>
			      <td id="chat_table_id">Post :{{ room.post.title }}</td>
                            </tr>
			    {% endfor %}
                          </tbody>
                        </table>
                   </div>
		   {% endif %}
		   {% if spa_messages %}
		   <div class="container">
                        <table id="chat_table" style="border:none">
                          <thead>
                            <tr id="chat_table_tr">
                              <th colspan="3" id="chat_table_title">Messages as spartan</th>
                            </tr>
                          </thead>
                          <tbody>
			    {% for room in spa_messages %}
                            <tr id="chat_table_tr" onclick="window.location='{{ room.get_absolute_url }}';" style="cursor: pointer;">
                              <td id="chat_table_td">Chat with {{ room.employer.username }}</td>
			      <td id="chat_table_id">Post :{{ room.post.title }}</td>
                            </tr>
			    {% endfor %}
                          </tbody>
                        </table>
                   </div>
		   {% endif %}
    </section>

            </header>
        </section>
    </body>
        
{% endblock %}
