{% extends "baseContact.html" %}
{% load staticfiles %}
{% block content %}

<body onload="zoom()">
	<script type="text/javascript">
        function zoom() {
            document.body.style.zoom = "80%"
        }
	</script>
    
    <section class="wrap" id="first-section">
        <div class="row title-row">
				<div class="col-12 font-thin categories-gallery">Our<span class="font-semibold"> Team</span></div>
        </div>
        <div class="row line-row">
				<div class="hr">&nbsp;</div>
        </div>
        <div class="container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header" ></h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <center><img class="img-circle img-responsive img-center" src= "{% static "img/portrait_sebastian.jpg" %}" alt="" id="portrait_center"></center>
                <h3>Males Sebastian
                    <small>Back-end developer</small>
                </h3>
                <p>"We have to look for the facts, not words."</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <center><img class="img-circle img-responsive img-center" src= "{% static "img/portrait_emanuel.jpg" %}" alt="" id="portrait_center" %}"></center>
                <h3>Covaci Emanuel
                    <small>Back-end developer</small>
                </h3>
                <p>"I believe life is an intelligent thing: that things aren't random." Steve Jobs</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <center><img  id="portrait-center" class="img-circle img-responsive img-center" src="{% static "img/portrait_larisa.jpg" %}" alt=""></center>
                <h3>Țigan Larisa
                    <small>Assistant</small>
                </h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class=" text-center">
                <center><img class="img-circle portrait_center img-responsive img-center" src="{% static "img/portrait_fineas.jpg" %}" alt=""></center>
                <h3>Silaghi Fineas
                    <small>Front-end developer</small>
                </h3>
                <p>"A smile doesn't cost anything"</p>
            </div>
        </div>

    </div>
    </section>

    

        
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    
    <!-- animations -->
    <script src="js/modernizr.custom.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/main.js"></script>  
    <script src="js/modernizr.js"></script>  
    
   
    
    
    

<!-- scripturi -->
<script src="js/html5shiv.js"></script>
	<script src="js/jquery-1.10.2.min.js"></script>
	<script src="js/jquery-migrate-1.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="fancybox/jquery.fancybox.pack-v=2.1.5.js"></script>
	
	

</body>

</html>

{% endblock %}
