{% extends 'base2.html' %}
{% load staticfiles %}
{% block content %}
{% load widget_tweaks %}

<body onload="zoom()">
	<script type="text/javascript">
        function zoom() {
            document.body.style.zoom = "80%"
        }
	</script>

    <section class="wrap" id="first-section">
        <div class="row title-row">
				<div class="col-12 font-thin
                                    categories-gallery">Forgot password?</div>
        </div>
        <div class="row line-row">
				<div class="hr">&nbsp;</div>
        </div>
        <div class="slide story" id="slide-6" data-slide="6">
		<div class="cZontainer">
            <div class="row title-row">
			<div class="row subtitle-row">
			</div><!-- /row -->

            <div class="container">
              <div class="compact">
              <div class="card"></div>
              <div class="card" id="login-box">
		 {% if form.email.errors %}
                    <div class="error">
		      {% for message in form.email.errors %}
                        <ul>
                            <li>{{ message }}</li>
                        </ul>
                    {% endfor %}                        
                    </div>
		    {% endif %}
		    {% if confirms %}
		    <div class="confirm">
		      {% for message in confirms %}
                        <p>{{ message }}</p>
                      {% endfor %}                        
		    </div>
		    {% endif %}
                  <h1 class="title">Enter you email and we will send you a link</h1>
                <form method="POST">
                    {% csrf_token %}
		    {% for field in form %}
                    <div class="input-container">
		      {{ field|attr:"required:required" }}
                        <label for="username">{{ field.label }}</label>
                        <div class="bar"></div>
                    </div>
		    {% endfor %}
                    <div class="button-container">
                        <button><span>Go</span></button>
                    </div>
                </form>
              </div>

            <div class="card alt">

                <h1 class="title">Register
                  <div class="close"></div>
                </h1>


              </div>

            </div>
            </div>
		</div><!-- /container -->
	</div>

    </section>
    </body>
{% endblock %}
