{% extends 'base2.html' %}
{% load staticfiles %}
{% block content %}
<section class="wrap" id="first-section">
        <div class="row title-row">
				<div class="col-12 font-thin
                                    categories-gallery">Înregistrare</div>
        </div>
        <div class="row line-row">
				<div class="hr">&nbsp;</div>
        </div>
        <div class="slide story" id="slide-6" data-slide="6">
		<div class="container">
            <div class="row title-row">
			<div class="row subtitle-row">
			</div><!-- /row -->

            <div class="container">
              <div class="compact">
              <div class="card"></div>
              <div class="card" id="login-box">

                <h1 class="title">Te rog introdu: </h1>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="input-container">
                        <input type="text" id="Username" name="username" required="required"/>
                        <label for="Username">Numele de utilizator</label>
                        <div class="bar"></div>
                    </div>
                    <div class="input-container">
                        <input type="text" id="Username" name="email" required="required"/>
                        <label for="Username">E-mail</label>
                        <div class="bar"></div>
                    </div>
                    <div class="input-container">
                        <input type="text" id="Username" name="country" required="required"/>
                        <label for="Username">Țara</label>
                        <div class="bar"></div>
                    </div>
                    <div class="input-container">
                        <input type="text" id="Username" name="city" required="required"/>
                        <label for="Username">Oraș</label>
                        <div class="bar"></div>
                    </div>
                    <div class="input-container">
                        <input type="text" id="Username" name="phone" required="required"/>
                        <label for="Username">Nr. de telefon</label>
                        <div class="bar"></div>
                    </div>
                    <div class="input-container">
                        <input type="password" id="Password" name="password" required="required"/>
                        <label for="Password">Parola</label>
                        <div class="bar"></div>
                    </div>
                    <div class="input-container">
                        <input type="password" id="Password" name="password2" required="required"/>
                        <label for="Password">Reintrodu parola</label>
                        <div class="bar"></div>
                    </div>
                    <div class="button-container">
                        <button type="submit"><span>Înregistrează-te</span></button>
                    </div>
                    <div class="footer"><a href="#">Ți-ai uitat parola?</a></div>
                </form>

              </div>

              <div class="card alt">
                  <h1 class="title">Register
                    <div class="close"></div>
                  </h1>
                </div>
            </div>
            </div>
		</div><!-- /container -->
	</div>
    </section>
{% endblock %}

