<!DOCTYPE html>
<html lang="en">

<head>
  
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Spartan Project</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/half-slider.css" %}" rel="stylesheet">
    <link href="{% static "css/one-page-wonder.css" %}" rel="stylesheet">
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="{% static "css/default.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/component.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/reset.css" %}">
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

</head>

<body>

    <!-- Navigation -->
    <div class="cbp-af-header">
				<div class="cbp-af-inner">
                    <h1><a href="index.html" id="return-home">Spartan</a></h1>
                    <nav id="register-button">
                        <a href="{% url 'login' %}" id="button-flow">Log In</a>
                        <a href="#" id="line-flow">|</a>
                        <a href="{% url 'register' %}" id="button-flow">Sign Up</a>
                    </nav>
                </div>
    </div>

    <!-- Page Content -->

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~First Section~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

    <section class="wrap" id="first-section">
        <div class="row title-row">
				<div class="col-12 font-thin categories-gallery">Sign <span class="font-semibold"> Up</span></div>
        </div>
        <div class="row line-row">
				<div class="hr">&nbsp;</div>
        </div>
        <div class="slide story" id="slide-6" data-slide="6">
		<div class="container">
            <div class="row title-row">
			<div class="row subtitle-row">
			</div><!-- /row -->

            <div class="container">
              <div class="compact">
              <div class="card"></div>
              <div class="card" id="login-box">

                <h1 class="title">Please insert your:</h1>
                <form method="POST">
                    {% csrf_token %}
                    <div class="input-container">
                        <input type="text" id="Username" name="username" required="required"/>
                        <label for="Username">Username</label>
                        <div class="bar"></div>
                    </div>
                    <div class="input-container">
                        <input type="text" id="Username" name="email" required="required"/>
                        <label for="Username">E-mail</label>
                        <div class="bar"></div>
                    </div>
                    <div class="input-container">
                        <input type="text" id="Username" name="country" required="required"/>
                        <label for="Username">Tara</label>
                        <div class="bar"></div>
                    </div>
                    <div class="input-container">
                        <input type="text" id="Username" name="city" required="required"/>
                        <label for="Username">Oras</label>
                        <div class="bar"></div>
                    </div>
                    <div class="input-container">
                        <input type="text" id="Username" name="phone" required="required"/>
                        <label for="Username">Telefon</label>
                        <div class="bar"></div>
                    </div>
                    <div class="input-container">
                        <input type="password" id="Password" name="password" required="required"/>
                        <label for="Password">Password</label>
                        <div class="bar"></div>
                    </div>
                    <div class="input-container">
                        <input type="password" id="Password" name="password2" required="required"/>
                        <label for="Password">Re-enter Password</label>
                        <div class="bar"></div>
                    </div>
                    <div class="button-container">
                        <button type="submit"><span>Go</span></button>
                    </div>
                    <div class="footer"><a href="#">Forgot your password?</a></div>
                </form>
              </div>

            <div class="card alt">
                <div class="toggle"><i><img src="{% static "images/user73.png" %}" id="vector-login"></i></div>
                <div class="upload-picture">Upload Picture</div>
                <h1 class="title">Register
                  <div class="close"></div>
                </h1>
              </div>
            </div>
            </div>
		</div><!-- /container -->
	</div>
    </section>


    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- animations -->
    <script src="js/modernizr.custom.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/main.js"></script>
    <script src="js/modernizr.js"></script>






<!-- scripturi -->
<script src="js/html5shiv.js"></script>
	<script src="js/jquery-1.10.2.min.js"></script>
	<script src="js/jquery-migrate-1.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="fancybox/jquery.fancybox.pack-v=2.1.5.js"></script>
	<script src="js/script.js"></script>



</body>

</html>

<!-- colors: #47a3da  -main blue;
             #1f80af  -dark blue;
             #e5f5fa  -light blue;
                                   -->
