{% extends 'base2.html' %}
{% load staticfiles %}
{% block content %}
{% load widget_tweaks %}

<section class="wrap" id="first-section">
        <div class="row title-row">
				<div class="col-12 font-thin
                                    categories-gallery">Register</div>
        </div>
        <div class="row line-row">
				<div class="hr">&nbsp;</div>
        </div>
        <div class="slide story" id="slide-6" data-slide="6">
		<div class="container">
            <div class="row title-row">
			<div class="row subtitle-row">
			</div><!-- /row -->

            <div class="container">
              <div class="compact">
              <div class="card"></div>
              <div class="card" id="login-box">

                <form method="POST">
                    {% csrf_token %}
		    {% if form.errors or acc_form.errors %}
                    <div class="error">
		      {% for field in form %}
		      {% for message in field.errors %}
                        <ul>
                            <li>{{ message }}</li>
                        </ul>
			{% endfor %}
			{% endfor %}
			{% for field in acc_form %}
			{% for message in field.errors %}
			<ul>
			  <li> {{ message }} </li>
			</ul>
			{% endfor %}
			{% endfor %}
                    </div>
		    {% endif %}
		    {% for field in form %}
                    <div class="input-container">
		      {{ field |add_class:"form-control"| attr:"required:required" }}
		      <label for="{{ field.label }}">{{ field.label }}</label>
		      <div class="bar"></div>
		    </div>
		    {% endfor %}
		    {% for field in acc_form %}
		    <div class="input-container">
                        {% if field.label == "Captcha "%}
                        <div class=".g-recaptcha" style="margin-left:5000px;">{{ field }}</div>
                        {% else %}
			{{ field |add_class:"form-control"| attr:"required:required" }}
			 {% endif %}

		      {% if field.label != "Country" and field.label != "City"  and  field.label != "Captcha" %}
                      <label for="{{ field.label }}">{{ field.label }}</label>
		      <div class="bar"></div>
		      {% endif %}
                    </div>
		    {% endfor %}
                    <div class="button-container">
                        <button type="submit"><span>Register</span></button>
                    </div>
                </form>

              </div>

              <div class="card alt">
                  <h1 class="title">Register
                    <div class="close"></div>
                  </h1>
                </div>
            </div>
            </div>
		</div><!-- /container -->
	</div>
    </section>

{% endblock %}

