{% extends 'baseContact.html' %}
{% load staticfiles %}
{% block content %}
<body onload="zoom()">
	<script type="text/javascript">
        function zoom() {
            document.body.style.zoom = "80%"
        }
	</script>


                    <div class="row title-row">
                            <div class="col-12 font-thin categories-gallery"><br>We're sorry but something went wrong</br><span class="font-semibold"> Error 500 :(</span></div>
                    </div>
</body>

{% endblock %}
