    <!DOCTYPE html>
    <html lang="en">

    <head>
        {% load staticfiles %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>SpartanTasks</title>

        <!-- Bootstrap Core CSS -->
        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet"/>

        <!-- Custom CSS -->
        <link href="{% static "css/half-slider.css" %}" rel="stylesheet"/>
        <link href="{% static "css/one-page-wonder.css" %}" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/default.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/component.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/heroic-features.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/line-icons.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/elegant-icons-style.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
        <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext' rel='stylesheet' type='text/css'/>
        <link rel="stylesheet" type="text/css" href="{% static "css/scss/wickedpicker.scss" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/wickedpicker.min.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/wickedpicker.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "css/tcal.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "css/table/normalize.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/table/demo.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/table/component.css" %}"/>
        <link rel='shortcut icon' type='image/x-icon' href="{% static "img/favicon.ico" %}" />
    </head>

    <body onload="zoom()">
    <!-- Navigation -->
    <div class="cbp-af-header header" id="user-menu">
				<div class="cbp-af-inner">
                    <a href="/" id="return-home"><h1>Spartan</h1></a>
      </div>  

                <!-- Notification dropdown -->
                <div class="menuIcon">
                    <a href="#menuExpand" id="expand_menu">Menu</a>
                </div>
                <div class="top-nav notification-row ham_menu" id="user-menu-buttons">                

                    <!-- notificatoin dropdown start-->
                    <ul class="nav pull-right top-menu">
                        
                        <!-- task notificatoin start -->
                        <a href="{% url 'submit' %}">
                        <li id="task_notificatoin_bar" class="hamburger_menu">
                            <span class="glyphicon glyphicon-plus" id="create_post_icon" toggle="tooltip" data-placement="bottom" title="Create post!">
                            </span>
                        </li>
                        </a>
                        <!-- task notificatoin end -->



<!---------------------------------------->

                        <!-- user login dropdown start-->
                    <li class="dropdown">
                        <!--<a data-toggle="dropdown" class="dropdown-toggle" href="#">-->
                        <a href="/profile/" >
                            <span   class="profile-ava">

                                <img  src="https://www.gravatar.com/avatar/{{ cod }}">


                            </span>

                            </a>
                        <li>
                        <br></br>
                        <span><a  href="/profile/" class="username">{{ user.username }} </a>  <a href="/logout/">| Log out</a> </span>
                          </li>

                            <!--<b class="caret"></b>-->

                        <!--</a>-->

                        <!--<ul class="dropdown-menu extended logout">-->
                            <!--<div class="log-arrow-up"></div>-->
                            <!--<li class="eborder-top">`-->
                                <!--<a href="{% url 'profile' %}"><i-->
                                        <!--class="icon_profile"></i>My profile</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="/mail"><i class="icon_mail_alt"></i>Mail</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="/posts"><i class="icon_clock_alt"></i>Announcements</a>-->
                            <!--</li>-->
                            <!--<li>-->
                               <!--<a href="/spartan/" >Become a Spartan</a>-->
                            <!--</li>-->
                             <!--<li>-->
                               <!--<a href="/contact/" >Contact us</a>-->
                            <!--</li>-->
                            <!--<li>-->
                               <!--<a href="/report/" >Report</a>-->
                            <!--</li>-->
                            <!--<li>-->
                               <!--<a href="/faq/" >FAQ</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="/logout/">Log out</a>-->
                            <!--</li>-->

                        <!--</ul>-->
                    <!--</li>-->
                    <!-- user login dropdown end -->
                </ul>
                <!-- notificatoin dropdown end-->
            </div>
        	<!--<div class="cbp-af-inner">-->


                    <nav id="menu-button">
						<a href="/mail/"
                                                    id="menu1-flow">Mail</a>

                        <a href="/posts/" id="menu3-flow">Announcements</a>
                        <a href="/spartan/" id="menu3-flow">Become a Spartan</a>
                        <a href="/faq/" id="menu3-flow" >FAQ</a>
                        <a href="/contact/" >Contact </a>
                        <a href="/report/" >Report</a>

		                 </nav>


	</div>
    <!--</div>-->

    {% block content %}
    
    {% endblock %}

<footer class="footer-distributed">

            <div class="footer-left">

                <h1 id="logo-title" id="footer-title">Spartan</h1>

                <p class="footer-company-name">Spartan &copy; 2016</p>

                <div class="footer-icons">

                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>

                </div>


            </div>

        </footer>

        <!-- /.container -->
	<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/wickedpicker.js" %}"></script>
        <script type="text/javascript" src="{% static "js/wickedpicker.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/tcal.js" %}"></script>
	<script type="text/javascript" src="{% static "js/jquery.ba-throttle-debounce.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/jquery.stickyheader.js" %}" ></script>
	<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
	         <script>
            $("#expand_menu").click(function(){
            $(".ham_menu").toggleClass('show_menu');
            });
          </script>
	  <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
        </script>
        <script>
                $("#show_other_bids").click(function(){
                    $(".each_bid").toggleClass('show_bids');
                });
        </script>
	<script>
 
	</script>
        <script>
            $(document).ready(function(){
            $("#mytable #checkall").click(function () {
                    if ($("#mytable #checkall").is(':checked')) {
                        $("#mytable input[type=checkbox]").each(function () {
                            $(this).prop("checked", true);
                        });
                    } else {
                        $("#mytable input[type=checkbox]").each(function () {
                            $(this).prop("checked", false);
                        });
                    }
                });
                $("[data-toggle=tooltip]").tooltip();
            });
        </script>
      <!--<script type="text/javascript">-->
       <!--function zoom() {-->
           <!--document.body.style.zoom = "80%"-->
       <!--}-->
    <!--</script>-->
      <!--<script type="text/javascript">-->
       <!--function zoomcap() {-->
           <!--document.getElementsByClassName("g-recaptcha").style.zoom = "100%"-->
       <!--}-->
    <!--</script>-->
    </body>
    </html>

    <!-- colors: #47a3da  -main blue;
                 #1f80af  -dark blue;
                 #e5f5fa  -light blue;
                                       -->

