    <!DOCTYPE html>
    <html lang="en">

    <head>
        {% load staticfiles %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>SpartanTasks</title>

        <!-- Bootstrap Core CSS -->
        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet"/>

        <!-- Custom CSS -->
        <link href="{% static "css/half-slider.css" %}" rel="stylesheet"/>
        <link href="{% static "css/one-page-wonder.css" %}" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/default.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/component.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext' rel='stylesheet' type='text/css'/>
	    <link rel='shortcut icon' type='image/x-icon' href="{% static "img/favicon.ico" %}" />
    </head>

    <body >
    <!--<script type="text/javascript">-->
       <!--function zoom() {-->
           <!--document.body.style.zoom = "80%"-->
       <!--}-->
    <!--</script>-->
      <div class="cbp-af-header">
	<div class="cbp-af-inner">
                    <h1><a href="{% url 'home' %}" id="return-home">Spartan</a></h1>
                    <nav id="register-button">
                        <a href="{% url 'login' %}"
                        id="button-flow">My account</a>
                        <a href="#" id="line-flow">|</a>
						<a href="{% url 'register' %}"
                                                    id="button-flow">Register</a>
                    </nav>
                    <nav id="menu-button">
						<a href="/aboutus/"
                                                    id="menu1-flow">About us</a>

                        <a href="/contact/" id="menu3-flow">Contact us</a>
                        <a href="/faq/" id="menu3-flow">FAQ</a>

		    </nav>
    <!-- ~~~~~~~~~~~~~~~~~~~~Page scroll down~~~~~~~~~~~~~~~~~~~~ -->
                    <script>
                    $(function() {
                      $('a[href*=#]:not([href=#])').click(function() {
                        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                          var target = $(this.hash);
                          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                          if (target.length) {
                            $('html,body').animate({
                              scrollTop: target.offset().top
                            }, 1000);
                            return false;
                          }
                        }
                      });
                    });
                    </script>

	</div>
      </div>


    {% block content %}
    
    {% endblock %}

	    <!-- jQuery -->
	<script src="{% static "js/jquery.js" %}"></script>

	    <!-- Bootstrap Core JavaScript -->
	<script src="{% static "js/bootstrap.min.js" %}"></script>

	    <!-- animations -->
        <script src="{% static "js/modernizr.custom.js" %}"></script>
	<script src="{% static "js/classie.js" %}"></script>
	<script src="{% static "js/main.js" %}"></script>
	<!--<script src="{% static "js/modernizr.js" %}"></script>-->
        <!-- /.container -->
	<script src="{% static "js/html5shiv.js" %}"></script>
    	<script src="{% static "js/jquery-1.10.2.min.js" %}"></script>
    	<script src="{% static "js/jquery-migrate-1.2.1.min.js" %}"></script>
    	<script src="{% static "js/bootstrap.min.js" %}"></script>
    	<script src="{% static "js/jquery.easing.1.3.js" %}"></script>
    	<script type="text/javascript" src="{% static "fancybox/jquery.fancybox.pack-v=2.1.5.js" %}"></script>

	<script type="text/javascript" src="{% static "js/jquery.stickyheader.js" %}" ></script>
	<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/wickedpicker.js" %}"></script>
        <script type="text/javascript" src="{% static "js/wickedpicker.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/tcal.js" %}"></script>

	    
	<script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
        </script>



    </body>

    </html>

    <!-- colors: #47a3da  -main blue;
                 #1f80af  -dark blue;
                 #e5f5fa  -light blue;
                                       -->
