    <!DOCTYPE html>
    <html lang="en">

    <head>
        {% load staticfiles %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>SpartanTasks</title>

        <!-- Bootstrap Core CSS -->
        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet"/>

        <!-- Custom CSS -->
        <link href="{% static "css/half-slider.css" %}" rel="stylesheet"/>
        <link href="{% static "css/one-page-wonder.css" %}" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/default.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/component.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/heroic-features.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/line-icons.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/elegant-icons-style.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext' rel='stylesheet' type='text/css'/>
        <link rel="stylesheet" type="text/css" href="{% static "css/scss/wickedpicker.scss" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/wickedpicker.min.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/wickedpicker.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "css/tcal.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "css/table/normalize.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/table/demo.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/table/component.css" %}"/>
        <link rel='shortcut icon' type='image/x-icon' href="{% static "img/favicon.ico" %}" />

	
    </head>

    <body >
    <!--<script type="text/javascript">-->
       <!--function zoom() {-->
           <!--document.body.style.zoom = "80%" -->
       <!--}-->
    <!--</script>-->
    <!-- Navigation -->
    <div class="cbp-af-header header" id="user-menu">
				<div class="cbp-af-inner">
                    <a href="{% url 'home' %}" id="return-home"><h1>Spartan</h1></a>    
      </div>  

                <!-- Notification dropdown -->

                <div class="top-nav notification-row ham_menu" id="user-menu-buttons">

                    <!-- notificatoin dropdown start-->
                    <ul class="nav pull-right top-menu">

                        <!-- task notificatoin start -->
                        <a href="{% url 'submit' %}">

                        </a>
                        <!-- task notificatoin end -->
                        <!-- inbox notificatoin start-->

                        <!-- inbox notificatoin end -->
                        <!-- alert notification start-->

                        <!-- alert notification end-->
                        <!-- user login dropdown start-->

                    <!-- user login dropdown end -->
                </ul>
                <!-- notificatoin dropdown end-->
            </div>
    </div>
    {% block content %}
    
    {% endblock %}
<footer class="footer-distributed">

            <div class="footer-left">

                <h1 id="logo-title" id="footer-title">Spartan</h1>

                <p class="footer-company-name">Spartan &copy; 2016</p>

                <div class="footer-icons">

                    <a href="https://www.facebook.com/SpartanTasks-276877529312513/"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/SpartanTasks"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/uas/login"><i class="fa fa-linkedin"></i></a>
                    <a href="https://github.com/zalmanu/project-spartan/"><i class="fa fa-github"></i></a>

                </div>

            </div>

        </footer>
        <!-- /.container -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script type="text/javascript" src="{% static "js/wickedpicker.js" %}"></script>
        <script type="text/javascript" src="{% static "js/wickedpicker.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/tcal.js" %}"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
	<script src="{% static "js/jquery.stickyheader.js" %}" ></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	  <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
        </script>
        <script>
                $("#show_other_bids").click(function(){
                    $(".each_bid").toggleClass('show_bids');
                });
        </script>
	<script>
 
	</script>
        <script>
            $(document).ready(function(){
            $("#mytable #checkall").click(function () {
                    if ($("#mytable #checkall").is(':checked')) {
                        $("#mytable input[type=checkbox]").each(function () {
                            $(this).prop("checked", true);
                        });
                    } else {
                        $("#mytable input[type=checkbox]").each(function () {
                            $(this).prop("checked", false);
                        });
                    }
                });
                $("[data-toggle=tooltip]").tooltip();
            });
        </script>
    </body>
    </html>

    <!-- colors: #47a3da  -main blue;
                 #1f80af  -dark blue;
                 #e5f5fa  -light blue;
                                       -->
