{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
 <body onload="zoom()">
	<script type="text/javascript">
        function zoom() {
            document.body.style.zoom = "80%"
        }
	</script>
        <section class="wrap" id="first-section">
                    <section class="wrapper">
                         <div class="row title-row"> </div>
            </div>
              <div class="row">
                <!-- profile-widget -->
                <div class="col-lg-12">
                    <div class="profile-widget profile-widget-info" id="post">
                          <div class="panel-body" id="profile-header">
                            <div class="col-lg-2 col-sm-2">
                              <h4 id="user-name">{{ user.username }}</h4>
                              <div class="follow-ava">
                                  <img src="http://www.gravatar.com/avatar/{{ cod }}" alt="">
                              </div>
                            </div>



							<div class="col-lg-2 col-sm-6 follow-info weather-category" id="profile_square">
                                {% if request.user.spartan.spartanStatus  == True %}
                                   <h1>Welcome SPARTAN!</h1>
                                    {% else %} <h1>Welcome {{ user.username }} </h1>

                                {% endif %}


                            </div>


                                {% if request.user.spartan.spartanStatus  == True %}

                            <div class="col-lg-2 col-sm-6 follow-info weather-category" id="profile_square">

                                <!--am pus acest spatiu pentru a alinia blocurile cum trebuie!!!!-->

                            </div>

                              <div class="col-lg-2 col-sm-6 follow-info weather-category" id="profile_square">


                                      <ul>
                                          <li class="active">

                                              <i class="fa fa-comments fa-2x"> </i><br>

											  Reviews: {{ request.user.spartan.rating}}
                                          </li>

                                      </ul>

                            </div>
							<div class="col-lg-2 col-sm-6 follow-info weather-category" id="profile_square">
                                      <ul>
                                          <li class="active">

                                              <i class="fa fa-bell fa-2x"> </i><br>

											  Tasks:{{ request.user.spartan.tasks}}

                                          </li>

                                      </ul>

                            </div>
							<div class="col-lg-2 col-sm-6 follow-info weather-category" id="profile_square">
                                      <ul>
                                          <li class="active">

                                              <i class="fa fa-tachometer fa-2x"> </i><br>

											  Category:{{ request.user.spartan.category.name }}

                                          </li>

                                      </ul>

                            </div>

                               {% endif %}





pp


                          </div>

                    </div>

                </div>

              </div>
              <!-- page start-->
          <header class="panel-heading tab-bg-info" id="categoryes_profile">
                              <ul class="nav nav-tabs" id="profile-subpage">
                                   {% if request.user.spartan.spartanStatus  == True %}
                                  <li class="active">
                                      <a data-toggle="tab" href="#recent-activity">
                                           Reviews
                                      </a>
                                  </li>
                                  <li>
                                      <a data-toggle="tab" href="#profile">
                                           Profile
                                      </a>
                                  </li>
				  {% else %}
                                  <li class="active">
                                      <a data-toggle="tab" href="#profile">
                                           Profile
                                      </a>
                                  </li>
                                  {% endif %}
                                  <li>
                                      <a data-toggle="tab" href="#edit-profile">
                                         Edit profile
                                      </a>
                                  </li>
                                   <li>

                                      <a  href="/reset/">
                                         Reset password
                                      </a>
                                  </li>

                              </ul>
                          </header>
              <div class="row">
                 <div class="col-lg-12">
                    <section class="panel">
                          <div class="panel-body">
                              <div class="tab-content">
                                  <div id="recent-activity" class="tab-pane active">
                                      <div class="profile-activity">
                                          {% if request.user.spartan.spartanStatus  == True %}

                                          {% for review in request.user.spartan.reviews.all %}
                                          <div class="act-time">
                                              <div class="activity-body act-in">
                                                  <div class="act-time">
                                              <div class="activity-body act-in">
                                                  <span class="arrow"></span>
                                                  <div class="text">
                                                      <a href="#" class="activity-img"><img class="avatar" src="http://www.gravatar.com/avatar/{{ review.submitter.account.code }}"></a>
                                                      <p class="attribution"><a href="#">{{ review.submitter.account.user}}</a> {{ review.creation_date }}</p>
                                                      <p> {{ review.message }}</p>

                                                  </div>
                                              </div>
                                          </div>
                                                  </div>
                                              </div>
                                           {% endfor %}


                                          {% endif %}
                                          
                                      </div>
                                  </div>
{% if request.user.spartan.spartanStatus %}
                                  <div id="profile" class="tab-pane">
{% else %}
                                   <div id="profile" class="tab-pane active">
{% endif %}
                                    <section class="panel"> 
                                      <div class="panel-body bio-graph-info">
                                          <h1>Bio Graph</h1>
                                          <div class="row">
                                              <div class="bio-row">
                                                  <p><span>Username: </span> {{ user.username }} </p>
                                              </div>
                                              <div class="bio-row">
                                                  <p><span>City: </span>{{ user.account.city }}</p>
                                              </div>
                                              <div class="bio-row">
                                                  <p><span>Country: </span> {{ user.account.country }}</p>
                                              </div>
                                              <div class="bio-row">
                                                  <p><span>E-mail: </span> {{ user.email }} </p>
                                              </div>
                                              <div class="bio-row">
                                                  <p><span>Phone number: </span>{{ user.account.phone }}</p>
                                              </div>
                                 

                                          </div>
                                      </div>
                                    </section>
                                      <section>
                                          <div class="row">
                                          </div>
                                      </section>
                                  </div>
                                  <!-- edit-profile -->
                                  <div id="edit-profile" class="tab-pane">
                                    <section class="panel">
                                          <div class="panel-body bio-graph-info">
                                            <h1> Profile Info</h1>
					  	{% if form.errors or form_acc.errors %}
						<div class="error">
						  {% for field in form %}
						  {% for message in field.errors %}
						  <ul>
						    <li>{{ message }}</li>
						  </ul>
						  {% endfor %}
						  {% endfor %}
						  {% for field in form_acc %}
						  {% for message in field.errors %}
						  <ul>
						    <li>{{ message }}</li>
						  </ul>
						  {% endfor %}
						  {% endfor %}
						</div>
						{% endif %}
                                              <form class="form-horizontal" role="form" method="POST">
                                                {% csrf_token %}
						{% load widget_tweaks %}
						{% for field in form %}
                                                  <div class="form-group">
                                                      <label class="col-lg-2 control-label">{{ field.label }}</label>
                                                      <div class="col-lg-6">
							{{ field |add_class:"form-control"| attr:"required:required" }}
                                                      </div>
                                                  </div>
						  {% endfor %}
						  {% for field in form_acc %}
                                                  <div class="form-group">
                                                      <label class="col-lg-2 control-label">{{ field.label }}</label>
                                                      <div class="col-lg-6">
							{{ field |add_class:"form-control"| attr:"required:required"}}
                                                      </div>
                                                  </div>
						  {% endfor %}
						  <div class="form-group">
                                                      <div class="col-lg-offset-2 col-lg-10">
                                                          <button type="submit" class="btn btn-primary">Update</button>
                                                      </div>
                                                  </div>
                                              </form>
                                          </div>
                                      </section>
                                  </div>
                                    </section>
                                      <section>
                                          <div class="row">
                                          </div>
                                      </section>
                                  </div>
                              </div>
                          </div>
                      </section>
                 </div>
              </div>

              <!-- page end-->
          </section>
        </section>
    </body>
{% endblock %}
