{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
{% load widget_tweaks %}
            <div class="container-fluid">
                <div class="side-body padding-top">                
                    <br>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">
                                        <div class="title">Become a spartan</div>
                                    </div>
                                </div>


                                {% if  request.user.spartan.spartanStatus == False  %}
                                   <h3>You submitted the form  wait for administrator's confirmation!</h3>
                                {% endif %}

                               {% if not request.user.account.has_related_object   %}
                                <div class="card-body">
                                    <form method="POST">
                                        {% csrf_token %}
                                         {% if confirm %}
				                           <div  class="alert alert-danger fade in" id="input-alert">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong >
                                                            {% for message in confirm %}
				                                                {{ message }}
				                                        {% endfor %} !
                                                        </strong>

                                                            </div>
                                         {% endif %}
                                        {% for field in form %}



                                        {% if field.label == 'Date FORMAT YYYY-MM-DD'  %}




                                        <div class="form-group">
                                            <label for="exampleInputEmail">Date</label>
                                            <div class="input-group">
                                                {{ field|add_class:"form-control "|attr:"required:required"|add_class:"form-control datepicker"|attr:"placeholder:Enter a date"}}
                                                <span class="input-group-addon" id="basic-addon1">
                                                    <i class="glyphicon glyphicon-calendar" data-time-icon="icon-time" data-date-icon="icon-calendar">
                                                    </i>
                                                </span>
                                            </div>
                                        </div>

                                        {% if field.errors %}
                                                        <div class="alert alert-danger fade in" id="input-alert">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for error in field.errors %}
				                                                {{ error }}
				                                        {% endfor %}
                                                            </div>
                                                            {% endif %}
                                        {% elif field.label == 'First name'%}

                                        {{ field.label }}

                                         {{ field|add_class:"form-control "|attr:"placeholder:Enter first name"|attr:"required:required"}}
                                           {% if field.errors %}
                                                        <div class="alert alert-danger fade in" id="input-alert">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for error in field.errors %}
				                                                {{ error }}
				                                        {% endfor %}
                                                            </div>
                                                            {% endif %}


                                        {% elif  field.label == 'Last name' %}

                                          {{ field.label }}

                                         {{ field|add_class:"form-control "|attr:"placeholder:Enter last name"|attr:"required:required"}}
                                           {% if field.errors %}
                                                        <div class="alert alert-danger fade in" id="input-alert">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for error in field.errors %}
				                                                {{ error }}
				                                        {% endfor %}
                                                            </div>
                                                            {% endif %}

                                        {% elif field.label == 'Address' %}


                                        {{ field.label }}

                                         {{ field|add_class:"form-control "|attr:"placeholder:Enter address"|attr:"required:required"}}
                                           {% if field.errors %}
                                                        <div class="alert alert-danger fade in" id="input-alert">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for error in field.errors %}
				                                                {{ error }}
				                                        {% endfor %}
                                                            </div>
                                                            {% endif %}




                                        {% elif field.label == 'CNP' %}

                                        {{ field.label }}

                                         {{ field|add_class:"form-control "|attr:"placeholder:Enter CNP"|attr:"required:required"}}
                                           {% if field.errors %}
                                                        <div class="alert alert-danger fade in" id="input-alert">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for error in field.errors %}
				                                                {{ error }}
				                                        {% endfor %}
                                                            </div>
                                                            {% endif %}




                                        {% elif field.label == 'ID card series' %}

                                        {{ field.label }}

                                         {{ field|add_class:"form-control "|attr:"placeholder:Enter ID card series"|attr:"required:required"}}
                                           {% if field.errors %}
                                                        <div class="alert alert-danger fade in" id="input-alert">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for error in field.errors %}
				                                                {{ error }}
				                                        {% endfor %}
                                                            </div>
                                                            {% endif %}

                                        {% elif field.label == 'CUI' %}

                                        {{ field.label }}

                                         {{ field|add_class:"form-control "|attr:"placeholder:Enter CUI"|attr:"required:required"}}
                                           {% if field.errors %}
                                                        <div class="alert alert-danger fade in" id="input-alert">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for error in field.errors %}
				                                                {{ error }}
				                                        {% endfor %}
                                                            </div>
                                                            {% endif %}

                                        {% elif field.label == 'Bank account' %}

                                        {{ field.label }}

                                         {{ field|add_class:"form-control "|attr:"placeholder:Enter Bank account"|attr:"required:required"}}
                                           {% if field.errors %}
                                                        <div class="alert alert-danger fade in" id="input-alert">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for error in field.errors %}
				                                                {{ error }}
				                                        {% endfor %}
                                                            </div>
                                                            {% endif %}
                                        {% else %}





                                        {{ field.label }}


                                         {{ field|add_class:"form-control "|attr:"placeholder"|attr:"required:required"}}
                                           {% if field.errors %}
                                                        <div class="alert alert-danger fade in" id="input-alert">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for error in field.errors %}
				                                                {{ error }}
				                                        {% endfor %}
                                                            </div>
                                                            {% endif %}
                                        {% endif %}

                                        {% endfor %}





                                        <div>

                                        </div>
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        <footer class="app-footer">
            <div class="wrapper">
                <span class="pull-right"><i class="fa fa-long-arrow-up" id="arrow"></i></span>SpartanTasks @ 2016 Copyright.
            </div>
        </footer>
        <div>
            <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.0.0.min.js">
            </script>
            <script>
                $("#arrow").click(function() {
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
                });

                $('.other-bids').hide();
                $('#show-bidding-field').on('click', function(){
                  $('.other-bids').toggle();
                });

                $('#bidding-place').click(function(){
                    alert('The value must be in Dollars($).')
                });
            </script>


{% endblock %}
