{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
{% load widget_tweaks %}
<body onload="zoom()">
	<script type="text/javascript">
        function zoom() {
            document.body.style.zoom = "80%"
        }
	</script>

{% if  request.user.spartan.spartanStatus == True  %}

                    <div class="row title-row">
                            <div class="col-12 font-thin categories-gallery"><br></br>You are already <span class="font-semibold"> a Spartan :)</span></div>
                    </div>
    <br><br></br></br><br><br></br></br>

{% endif %}

{% if  request.user.spartan.spartanStatus == False  %}

                    <div class="row title-row">
                            <div class="col-12 font-thin categories-gallery"><br></br>You submitted the form,<span class="font-semibold"> wait for administrator's confirmation!</span></div>
                    </div>
                   <br><br></br></br><br><br></br></br>

{% endif %}


{% if not request.user.account.has_related_object   %}
                 <section class="wrap" id="first-section">
                    <div class="row title-row">
                            <div class="col-12 font-thin categories-gallery"><br></br>Become a <span class="font-semibold">Spartan</span></div>
                    </div>
                    <div class="slide story" id="slide-6" data-slide="6">
		      {% if form.errors %}
		      <div class="error">
			{% for field in form %}
			{% for message in field.errors  %}
			<ul>
			  <li>{{ message }}</li>
			</ul>
			{% endfor %}
			{% endfor %}
		      </div>
		      {% elif confirms %}
		      <div class="confirm">
			{% for message in confirms %}
			<ul>
			  <li>{{ message }}</li>
			</ul>
			{% endfor %}
		      </div>
		      {% endif %}
                      <div class="container">
                        <div>
                          <div class="card"></div>
                          <div class="card" id="login-box">
                              <h1 class="title">Please enter:</h1>
                    <form method="POST">
		      {% csrf_token %}
		      {% for field in form %}
                    <div class="input-container">
		      {{ field |add_class:"form-control"| attr:"required:required" }}
		      {% if field.label != "Category" %}
                      <label for="{{ field.label }}">{{ field.label }}</label>
		      {% endif %}
                      {% if field.label != 'Category' %}
                        <div class="bar"></div>
                      {% endif %}
                    </div>
		    {% endfor %}
                                <div class="button-container">
                                    <button><span>Go</span></button>
                                </div>
                            </form>
                          </div>

                        </div>
                    </div><!-- /container -->
                </div>
    </section>

            </header>
</section>
    </body>
{% endif %}
{% endblock %}
