{% extends "base2.html" %}
{% load staticfiles %}
{% block content %}
{% load widget_tweaks %}

<body class="flat-blue login-page" id="container">
    <div class="container">
        <div class="login-box">
            <div>
                <div class="login-form row">
                    <div class="col-sm-12 text-center login-header">
                        <h1 class="login-title"><a href="/">Spartan Tasks</a></h1>
                    </div>
                    <div class="col-sm-12">
                            <center>
                            <div id="wrapper">


                              <form method="post" action="">
                                  {% csrf_token %}

                                  {% for field in form %}
                              <div id="account_details">
                                <p class='form_head'>Forgot Password</p>
                                <div id="password-input">

                                    <p>Enter you email and we will send you a link</p>

                                    <!--<input type="text" placeholder='Email Address' class="form-control login-field">-->
                                    {{ field|attr:"required:required"|add_class:"form-control login_field"|attr:"placeholder:Please enter your email" }}

                                    <br>
                                    <button><span>Go</span></button>
                                    <!--<button class="btn btn-success next-login-infos" type="submit"><span>Send</span></button>-->
                                </div>
                                <!-- Message for SEND -->

                              </div>
                                  {% endfor %}

                              </form>









                            </div>
                            </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Javascript Libs -->

{% endblock %}
