{% extends "base2.html" %}
{% load staticfiles %}
{% block content %}
{% load widget_tweaks %}
<body class="flat-blue login-page" id="container">
    <div class="container">
        <div class="login-box">
            <div>
                <div class="login-form row">
                    <div class="col-sm-12 text-center login-header">
                        <h1 class="login-title"><a href="/">Spartan Tasks</a></h1>
                    </div>
                    <div class="col-sm-12">
                            <center>
                            <div id="wrapper">
                              <br>

                              <form method="post">
				{% csrf_token %}
				<div id="account_details">
                                  <p class='form_head'><b>Log In</b> <small>into your account</small></p>
				  {% for field in form %}
                                  <p>{{ field.label }}</p>
				  {{ field|add_class:" col-lg-12 col-md-12 col-sm-12 col-xs-12 form-control login_field"|attr:"required:required"}}
				  {% endfor %}
				  {% if errors %}
				  {% for error in errors %}
				  <div class="alert alert-danger fade in" id="input-alert">
                                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                  <strong>Warning!</strong>{{ error }}
                                  </div>
				  {% endfor %}
				  {% endif %}
                                <input type="submit" value="Log In" class="btn btn-success next-login-infos">
                              </div>
                                  
                              </form>
                            </div>
                            </center>
                         <div class="login-footer">
                            <span class="text-right"><a href="/forgot" class="color-blue"  style="text-decoration: none;"><b style="font-size:15px; color:#363c46;">Forgot password?</b></a></span>
                            <span class="text-left" style="float:left;font-size:15px; color:#363c46;">Don't have an account? <a href="/register" class="color-blue"  style="text-decoration: none;font-size:15px;color: #363c46;"><b>Go and Register!</b></a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
