{% extends "base2.html" %}
{% load staticfiles %}
{% block content %}
{% load widget_tweaks %}

<body class="flat-blue login-page" id="container">
    <div class="container">
        <div class="login-box">
            <div>
                <div class="login-form row">
                    <div class="col-sm-12 text-center login-header">
                        <h1 class="login-title"><a href="/">Spartan Tasks</a></h1>
                    </div>
                    <div class="col-sm-12">
                            <center>
                            <div id="wrapper">
                              <br>

                              <form method="POST">
                                {% csrf_token %}
                              <div id="account_details">
                                  <img src="{% static "img/logo/logoB.png" class = 'img-responsive' %}" style="max-width: 35%;">
                                  <h5 class='form_head'>Your password has been reset !</h5>
                                   <br>

                                    <button class="btn btn-success" ><a href="/login">Go to login </a></button>


                                </div>

                                <!-- Message for SEND -->






                              </form>
                            </div>
                            </center>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

