{% extends "base2.html" %}
{% load staticfiles %}
{% block content %}
{% load widget_tweaks %}

<body class="flat-blue login-page" id="container">
    <div class="container">
        <div class="login-box">
            <div>
                <div class="login-form row">
                    <div class="col-sm-12 text-center login-header">
                        <h1 class="login-title"><a href="/">Spartan Tasks</a></h1>
                    </div>
                    <div class="col-sm-12">
                            <center>
                            <div id="wrapper">
                              <br>


                              <form method="POST" enctype="multipart/form-data">
                                  {% csrf_token %}

                              <div id="account_details">
                                <p class='form_head'>Register</p>
				{% for field in form %}
                                  {% if field.label == "Retypepassword" %}
                                     <p>Retype password</p>
                                   {% else %}

                                <p>{{ field.label }}</p>
                                  {% endif %}
				{{ field|add_class:"form-control login_field" }}
				{% if form.errors %}
				{% if field.errors %}
                                <div class="alert alert-danger fade in" id="input-alert">
                                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                  <strong>Warning!</strong>
				  {% for error in field.errors %}
				  {{ error }}
				  {% endfor %}
                                </div>
				{% endif %}
				{% endif %}
				{% endfor %}


                 {% for field in acc_form %}


                                  <p>{{ field.label }}</p>




                    {% if field.label == "Phone" %}
                          {{ field|add_class:"form-control "|attr:"required:required"|attr:"placeholder:Enter your phone "}}

                                  {% else %}
				{{ field|add_class:"form-control login_field" }}
                                  {% endif %}

				{% if form.errors or acc_form.errors %}
				{% if field.errors %}
                                <div class="alert alert-danger fade in" id="input-alert">
                                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                  <strong>Warning!</strong>
				  {% for error in field.errors %}
				  {{ error }}
				  {% endfor %}
                                </div>
				{% endif %}
				{% endif %}
				{% endfor %}
                                <br>

                                        <button class="btn btn-success next-login-infos" type="submit"><span>Register</span></button>


                              </div>

                              </form>
                            </div>
                            </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
