/* @import "bourbon";

.header {}
  .ham_menu {}
    ul {
      padding:0;
      margin:0;}
      li {
        display: inline-block;
        float: left;
        list-style: none;
        padding: 0 0 0 5px;
        margin: 0;}
  .menuIcon {
    display: none;
    background: #47a3da;
    width: 100%;
    text-align: center;}
    .menuIcon&:hover {
      background: #999;
      color: #fff;
    }
      img {
        vertical-align: middle;
      }

@media only screen and (max-width: 893px) {
    .menu {
      max-height: 0;
      overflow: hidden;
      float: none;
      text-align: center;
      width: 100%;
      @include transition(max-height 0.5s);
  }

    .menu&.menuOpen {
        max-height: 1000px;
        @include transition(max-height 0.5s);
      }

    .hamburger_menu {
        display: block;
        width: 100%;
        text-align: center;
        border-top:1px solid #4d4d4d;
    }
        .hamburger_menu&:hover {
          background: #999;
        }
    .menuIcon {
      display: inline-block;
    }
}

*/

@import "bourbon";

.header {
  .ham_menu {
    ul {
      padding:0;
      margin:0;
      .hamburger_menu {
        display: inline-block;
        float: left;
        list-style: none;
        padding: 0 0 0 5px;
        margin: 0;
      }
    }
  }
  .menuIcon {
    display: none;
    background: #000;
    width: 100%;
    text-align: center;
    background: #47a3da;
    &:hover {
      background: #999;
      color: #fff;
    }
      img {
        vertical-align: middle;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .header {
    .ham_menu {
      max-height: 0;
      overflow: hidden;
      float: none;
      text-align: center;
      width: 100%;
      @include transition(max-height 0.5s);
      &.menuOpen {
        max-height: 1000px;
        @include transition(max-height 0.5s);
      }
    ul {
      .hamburger_menu {
        display: block;
        width: 100%;
        background: #000;
        border-top:1px solid #4d4d4d;
        text-align: center;
        &:hover {
          background: #999;
        }
        a {
          color: #fff;
          text-shadow: #848484 0px 1px 2px;
          padding: 10px 0;
          width: 100%;
          }
        }
      }
    }
    .menuIcon {
      display: inline-block;
    }
  }
}
