{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<body onload="zoom()">
	<script type="text/javascript">
        function zoom() {
            document.body.style.zoom = "80%"
        }
	</script>
    <section class="third-section" id="wrap">
    <div class="row title-row">
      <div class="col-12 font-thin
                  categories-gallery">Choose a <span class="font-semibold">category</span> </div>
    </div>
    <div class="row line-row">
				<div class="hr">&nbsp;</div>
			</div><!-- /row -->
            <div class="row subtitle-row">
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
			</div><!-- /row -->  
    <div class="main" id="home">
				<ul class="cbp-ig-grid">
				  {% for kind in categories %}
					<li id="cat1" style="background-image: url({% static 'images/categories/' %}{{ kind.path_banner }}");>
						<a href="/category/{{ kind.name }}" name="kind" value="{{ kind.name }}">
							<span class="cbp-ig-icon"><img src="{% static 'images/categories/'%}{{ kind.path_icon }}"></span>
							<h3 class="cbp-ig-title">{{ kind.name }}</h3>

            </a>
					</li>
	{% endfor %}
				</ul>
			</div>
    </section>
    <section class="third-section">
            <div class="row title-row">
				<div class="col-12 font-thin"><span class="font-semibold">Recent</span> posts</div>
            </div>
			<div class="row line-row">
				<div class="hr">&nbsp;</div>
			</div><!-- /row -->
            <div class="row subtitle-row">
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
			</div><!-- /row -->
            <div class="row container_allign container">
                <div class="col-md-3" id="fixed-left-menu">
                    <p class="lead">Category</p>
                    <div class="list-group">
                      {% for kind in categories %}
                            <a href="/category/{{ kind.name }}" class="list-group-item" id="left-menu-button"><img src="{% static 'images/categories/'%}{{ kind.path_mini }}" class="left-menu-category-icon"> |  {{ kind.name }}</a>
                      {% endfor %}
                    </div>
                </div>
                <div id="recent-posts">
                {% if ann %}
                {% for anunt in ann %}
                <div class="col-lg-12" id="distance" style="cursor:pointer;" onclick="window.location='{{ anunt.get_absolute_url }}';">
                    <div class="profile-widget profile-widget-info" id="post">
                          <div class="panel-body" id="post_content">
                            <div class="col-lg-2 col-sm-2" style="color:black;">
                            <h4>{{  anunt.author.username }}</h4>
                              <div class="follow-ava">
                                  <img src="http://www.gravatar.com/avatar/{{ anunt.author.account.code }}s=200">
                              </div>
                            </div>
                            <div class="col-lg-4 col-sm-4 follow-info description_info">
                                <h4 id="category">Category: {{ anunt.category.name }}</h4>
                              <h2><b id="post-title"> {{ anunt.title }}</b></h2>
                                <h3 id="description">{{ anunt.text }}</h3>

                            </div>
                            <div class="col-lg-2 col-sm-6 follow-info weather-category">
                                      <ul>
                                          <li class="active">

                                              <i class="icon_clock_alt resize-icon"></i><br>

                                              <h4><span><b
                                                          id="post-info-time">Time:</b></span><br
                                                  id="post-time-value">{{ anunt.timePost }}</h4>


                                          </li>

                                      </ul>
                            </div>
							<div class="col-lg-2 col-sm-6 follow-info weather-category">
                                      <ul>
                                          <li class="active">

                                              <i class="icon_calendar resize-icon"></i><br>

                                              <h4><span><b id="post-info-date">Date:</b></span><br id="post-date-value">{{ anunt.data }}</h4>
                                          </li>

                                      </ul>
                            </div>
							<div class="col-lg-2 col-sm-6 follow-info weather-category">
                                      <ul>
                                          <li class="active">

                                              <span><i class="icon_pin_alt resize-icon"></i><br>

                                                  <h4><span><b
                                                              id="post-info-adress">Adress:</b></span><br
                                                      id="post-adress-value">{{ anunt.address }}</h4>
                                          </li>

                                      </ul>
                            </div>
                          </div>
                    </div>
                </div>
                {% endfor %}
        {% endif %}
                    {% if not ann %}
                      <div class="row title-row">
                            <div class="col-12 font-thin categories-gallery" style="height:456px;"><span>No active </span><span class="font-semibold"> posts</span></div>
                    </div>

                     {% endif %}
        </div>
    </section>
    </body>
    
{% endblock %}
