{% extends 'base2.html' %}
{% load staticfiles %}
{% block content %}
<body onload="zoom()">
	<script type="text/javascript">
        function zoom() {
            document.body.style.zoom = "80%"
        }
	</script>
<!-- Half Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url({% static "images/home-bg.jpg" %});"></div>
                <div class="carousel-caption">
                    <h2>#TaskCooking</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url({% static "images/contact-bg.jpg" %});"></div>
                <div class="carousel-caption">
                    <h2>#TaskGarden</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url({% static "images/post-bg.jpg" %});"></div>
                <div class="carousel-caption">
                    <h2>#TaskMoving</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>

    <!-- Page Content -->

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~First Section~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

    <section class="first-section" id="first-section">
        <div class="slide story" id="slide-6" data-slide="6">
		<div class="container">
            <div class="row title-row">
				<div class="col-12 font-thin">How it <span
                                        class="font-semibold">works</span>?</div>
            </div>
			<div class="row line-row">
				<div class="hr">&nbsp;</div>
			</div><!-- /row -->
			<div class="row subtitle-row">
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
			</div><!-- /row -->
			<div id="contact-row-4" class="row">
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
<!-- ^^^^^^^^^^^ Primul Pas ^^^^^^^^^^^ -->
                <div class="col-12 col-sm-2 with-hover-text">
					<p><a target="_blank" href="#"><img src="{% static "img/icons/1.png" %}"></a></p>
					<span class="hover-text font-light " style="display: inline-block; opacity: 1; padding-top: 12px;">1.Register now!</span>
                    <p id="vector-title">Fineas</p>
                    </a>
				</div><!-- /col12 -->

<!-- ^^^^^^^^^^^ Al  Pas ^^^^^^^^^^^ -->
                <div class="col-12 col-sm-2 with-hover-text">
					<p><a target="_blank" href="#"><img src="{% static "img/icons/2.png" %}"></a></p>
					<span class="hover-text font-light " style="display: inline-block; opacity: 1; padding-top: 12px;">2.Create a post</span>
                    <p id="vector-title">Fineas</p>
                    </a>
				</div><!-- /col12 -->

<!-- ^^^^^^^^^^^ Primul Pas ^^^^^^^^^^^ -->
                <div class="col-12 col-sm-2 with-hover-text">
					<p><a target="_blank" href="#"><img src="{% static "img/icons/3.png" %}"></a></p>
					<span class="hover-text font-light " style="display: inline-block; opacity: 1; padding-top: 12px;">3.Wait for offers<br>zip code 98443</span>
                    <p id="vector-title">Fineas</p>
                    </a>
                </div><!-- /col12 -->

<!-- ^^^^^^^^^^^ Primul Pas ^^^^^^^^^^^ -->
                <div class="col-12 col-sm-2 with-hover-text">
					<p><a target="_blank" href="#"><img src="{% static "img/icons/4.png" %}"></a></p>
					<span class="hover-text font-light " style="display: inline-block; opacity: 1; padding-top: 12px;">4.Choose an offer</span>
                    <p id="vector-title">Fineas</p>
                    </a>
				</div><!-- /col12 -->

<!-- ^^^^^^^^^^^ Primul Pas ^^^^^^^^^^^ -->
                <div class="col-12 col-sm-2 with-hover-text">
					<p><a target="_blank" href="#"><img src="{% static "img/icons/5.png" %}"></i></a></p>
					<span class="hover-text font-light " style="display: inline-block; opacity: 1; padding-top: 12px;">Problem solved</span>
                    <p id="vector-title">Fineas</p>
                    </a>
				</div><!-- /col12 -->

				<div class="col-sm-1 hidden-sm">&nbsp;</div>
			</div><!-- /row -->
		</div><!-- /container -->
	</div>
    </section>

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Secound Section~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

    <section class="secound-section" id="secound-section" style="background-image: url({% static "images/try2.jpg" %});">
    <section id="cd-timeline" class="cd-container ">
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="{% static "img/cd-icon-picture.svg" alt="Picture" %}">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>1.Create an account</h2>
				<p>Click the Sign up button and then create your account for FREE !</p>
				<span class="cd-date">First step</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie">
				<img src="{% static "img/cd-icon-movie.svg" %}" alt="Movie">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>2.Add a new post</h2>
				<p> Select the Add a new post button. Write a description, tell us how much do you want to pay, your address and the deadline</p>
				<span class="cd-date">Second step</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="{% static "img/cd-icon-picture.svg" %}" alt="Picture">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>3. Wait for your offers to come</h2>
				<p>Now all you have to do is to wait for offers from our well-trained Spartans to solve your problems.</p>
				<span class="cd-date">The third step</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie">
				<img src="{% static "img/cd-icon-location.svg" %}" alt="Location">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>4. Choose an offer</h2>
				<p>You're almost done! Choose an offer that meets your needs.</p>
				<span class="cd-date">The fourth step</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->



		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie">
				<img src="{% static "img/cd-icon-movie.svg" %}" alt="Movie">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Your problem is solved!</h2>
				<p>You have completed all the steps. Congratulations, your problem is now solved!</p>
				<span class="cd-date">The fifth step</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
	</section> <!-- cd-timeline -->
    </section>

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Third Section~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

		<section class="third-section" id="third-section">
    <div class="row title-row">
				<div class="col-12 font-thin
                                    categories-gallery">Categories</div>
    </div>
    <div class="row line-row">
				<div class="hr">&nbsp;</div>
    </div>
    <div class="main">
      <ul class="cbp-ig-grid">
	{% for kind in categories %}
	<li id="cat1" style="background-image: url({% static 'images/categories/' %}{{ kind.path_banner }}");>
	  <a name="kind">
	    <span class="cbp-ig-icon"><img src="{% static 'images/categories/'%}{{ kind.path_icon }}"></span>
	    <h3 class="cbp-ig-title">{{ kind.name }}</h3>
          </a>
	</li>
	{% endfor %}
      </ul>
    </div>
		</section>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Fourth Section~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

    <section class="fourth-section" id="fourth-section"  style="background-image: url({% static "images/slide-cover.jpg" %});">
        <center><div class="slide story" id="slide-6" data-slide="6">
		<div class="container">
            <div class="row title-row">
	      <div class="col-12 font-thin" id="fourth-section-title">Do you want to join us?</div>
            </div>
			<div class="row line-row">
				<div class="hr">&nbsp;</div>
			</div><!-- /row -->
			<div class="row subtitle-row">
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
			</div><!-- /row -->
			<div id="contact-row-4" class="row">
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
				<div class="col-12 col-sm-2 with-hover-text">
					<p><a target="_blank" href="#"><img src="{% static "images/male226.png" %}"></a></p>
					<span class="hover-text font-light " style="display: inline-block; opacity: 2; padding-top: 12px; " color="#FFFFFF">What </span></a>
				</div><!-- /col12 -->
				<div class="col-12 col-sm-2 with-hover-text">
					<p><a target="_blank" href="#"><img src="{% static "images/male226.png" %}"></a></p>
					<span class="hover-text font-light " style="display: inline-block; opacity: 1; padding-top: 12px;">are </span></a>
				</div><!-- /col12 -->
				<div class="col-12 col-sm-2 with-hover-text">
					<p><a target="_blank" href="#"><img src="{% static "images/male226.png" %}"></a></p>
					<span class="hover-text font-light " style="display: inline-block; opacity: 1; padding-top: 12px;">you<br>zip code 98443</span></a>
				</div><!-- /col12 -->
				<div class="col-12 col-sm-2 with-hover-text">
					<p><a target="_blank" href="#"><img src="{% static "images/male226.png" %}"></a></p>
                    <span class="hover-text font-light " style="display: inline-block; opacity: 1; padding-top: 12px;">waiting</span></a>
				</div><!-- /col12 -->
				<div class="col-12 col-sm-2 with-hover-text">
					<p><a target="_blank" href="#"><img src="{% static "images/male226.png" %}"></i></a></p>
					<span class="hover-text font-light " style="display: inline-block; opacity: 1; padding-top: 12px;">for?</span></a>
				</div><!-- /col12 -->
 				<div class="col-sm-1 hidden-sm">&nbsp;</div>
			</div><!-- /row -->
		</div><!-- /container -->
	</div>
    <a class="cbp-vm-icon cbp-vm-add" href="/register">Join us!</a></center>
</section>
                    <script>
                    $(function() {
                      $('a[href*=#]:not([href=#])').click(function() {
                        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                          var target = $(this.hash);
                          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                          if (target.length) {
                            $('html,body').animate({
                              scrollTop: target.offset().top
                            }, 1000);
                            return false;
                          }
                        }
                      });
                    });
                    </script>
    <script>
			new cbpScroller( document.getElementById( 'cbp-so-scroller' ) );
    </script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 7000 //changes the speed
    })
    </script>
    <!-- fancybox init -->
    <script>
	$(document).ready(function(e) {
		var lis = $('.nav > li');
		menu_focus( lis[0], 1 );
		$(".fancybox").fancybox({
			padding: 10,
			helpers: {
				overlay: {
					locked: false
				}
			}
		});
	});
	</script>

	<!-- fancybox init -->
	<script>
	$(document).ready(function(e) {
		var lis = $('.nav > li');
		menu_focus( lis[0], 1 );
		$(".fancybox").fancybox({
			padding: 10,
			helpers: {
				overlay: {
					locked: false
				}
			}
		});
	});
	</script><script>
  new cbpScroller( document.getElementById( 'cbp-so-scroller' ) );
</script>
<script src="{% static "js/cbpAnimatedHeader.min.js" %}"></script>

<script>
  $('.carousel').carousel({
  interval: 7000 //changes the speed
  })
</script>
<script>
  $(document).ready(function(e) {
  var lis = $('.nav > li');
  menu_focus( lis[0], 1 );
		$(".fancybox").fancybox({
			padding: 10,
			helpers: {
				overlay: {
					locked: false
				}
			}
		});
  });
</script>
	</body>
{% endblock %}
