{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<body class="flat-blue landing-page">
    <nav class="navbar navbar-inverse navbar-fixed-top  navbar-affix" role="navigation" data-spy="affix" data-offset-top="60">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="{% static "img/logo/logo.png" %}" class="icon">
                    <div class="title">Spartan Tasks</div>
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse " aria-expanded="true">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a id="btn-home-index">Home</a></li>
                    <li><a id="btn-about-index">About</a></li>
                    <li><a id="btn-contact-index">Contact</a></li>
                    <li><a href="/login">LOG IN</a></li>
                    <li><a href="/register" id="btn-signup">| SIGN UP</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <div class="jumbotron app-header">
        <div class="container">
            <h2 class="text-center"><img src="{% static "img/logo/logo.png" %}" class="icon app-logo fa fa-connectdevelop fa-5x color-white" id="main-logo"><div class="color-white">Spartan Tasks</div></h2>
            <p class="text-center color-white app-description">Una sait dragut, facut cu hastemeleu, si ceseseu.</p>
            <p class="text-center"><a class="btn btn-primary btn-lg app-btn" href="#" role="button">Learn more </a></p>
        </div>
    </div>
    <div class="container-fluid app-content-a">
        <div class="container">        
            <h1 class="center section-title">How does it works?</h1>
            <div class="row text-center">
            <div class="col-md-4 col-sm-6">
                <span class="fa-stack fa-lg fa-5x">
                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x"></i>
                </span>
                <h2>Post your problem</h2>
                <p>Once you enter our platform, it means that you have a special problem.Go ahead and post your problem, where our Spartans can help you.</p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-md-4 col-sm-6">
                <span class="fa-stack fa-lg fa-5x">
                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                  <i class="fa fa-inbox fa-stack-1x"></i>
                </span>
                <h2>Choose a Spartan</h2>
                <p>Your post will be bided, and all you have to do is to check all the bids, and see which one is better(we recomend to check Spartan's profile page to see they're reviews).</p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-md-4 col-sm-6">
                <span class="fa-stack fa-lg fa-5x">
                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                  <i class="fa fa-comments-o fa-stack-1x"></i>
                </span>
                <h2>Save money and time</h2>
                <p>When the work is done, all you will have to do is to pay the Spartan and enjoy his work! :)</p>
            </div>
            <!-- /.col-lg-4 -->
        </div>
        </div>
    </div>
    <div class="container-fluid app-content-b feature-1">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-6">
                </div>
                <div class="col-md-5 col-sm-6 text-right color-white">
                    <h2 class="featurette-heading">First featurette heading. It'll blow your mind.</h2>
                    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid app-content-a">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center app-content-header">How to become a Spartan?</h2>
                    <p class="text-center app-content-description">Becoming a Spartan is pretty easy, all you have to do is to create an account and hit the button "Become a Spartan", where you will have to give us a few more detalies about yourself, so we can have an evidence of all our spartans.</p>
                </div>
            </div>
            <div class="row">
                <center><button class="btn btn-success btn-signUp">Sign Up Here</button></center>
            </div>
        </div>
    </div>
    <div class="container-fluid app-content-b contact-us">
        <div class="container">
            <div class="row featurette">
                <div class="col-md-6"><h2 class="color-white contact-us-header">Contact Us</h2>
                <p class="color-white contact-us-description">If you're interested in our website and you've got like some questions...don't be afraid, dare to ask us anything.We're here for you!</p></div>
                <div class="col-md-6">
                    <form>

                        <div class="row">
                            <div class="col-sm-6"><input id="name" name="name" type="text" class="form-control" placeholder="Full Name"> </div>
                            <div class="col-sm-6"><input id="email" name="email" type="email" class="form-control" placeholder="Email address"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12"><textarea id="message" name="message" class="form-control" placeholder="Your Message" rows="5"></textarea></div>
                        </div>
                        <div>
                            <button id="contact-submit" type="submit" class="btn btn-success pull-right">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /END THE FEATURETTES -->
    <!-- FOOTER -->
    <footer class="app-footer">
      <div class="container">
        <p class="text-muted">&copy; 2016, Spartan Tasks</p>
      </div>
    </footer>
 {% endblock %}
